<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContent">
	        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4 th:text="${mainTitle}"></h4>
                            <div class="add-product">
                                <a href="/applyLectureOpen">강의개설신청하기</a>
                            </div>
                            <th:block th:each="losl : ${lectureOsList}">
                            <input type="hidden" id="lecOsCode" th:value="${losl.lecOsCode}">
                            </th:block>
                            
                            <div class="asset-inner">
                                <table class="table border-table">
                                    <tr>
                                        <th>강의개설예정코드</th>
                                        <th>강의명</th>
                                        <th>강사아이디</th>
                                        <th>강사명</th>	
                                        <th colspan="4" style="text-align: center;">강의시간</th>
                                        <th>강의실</th>
                                        <th>강의요일</th>
                                        <th>수업수준</th>
                                        <th>수업료</th>
                                        <th colspan="2">수강정원</th>
                                        <th>수업시작일자</th>
                                        <th>수업종료일자</th>
                                        <th>등록일자</th>
                                        <th>수정 / 삭제</th>
                                    </tr>
                                    <th:block th:each="losl : ${lectureOsList}">
	                                    <tr>
											  <td th:text="${losl.lecOsCode}" style="text-align: center;"></td>
											  <td th:text="${losl.lecName}"></td>
											  <td th:text="${losl.mrTeacherId}"></td>
											  <td th:text="${losl.mrTeacherName}"></td>
											  <td th:text="${losl.lecTimeName}"></td>
											  <td th:text="${losl.lecStartTime}"></td>
											  <td>~</td>
											  <td th:text="${losl.lecEndTime}"></td>
											  <td th:text="${losl.lecRoom}"></td>
											  <td th:text="${losl.lecDay}"></td>
											  <td th:text="${losl.lecLevel}"></td>
											  <td th:text="${losl.lecTuition}"></td>
											  <td th:text="${losl.lecApplyCount}"></td>
											  <td th:text="${losl.lecClaCapacity}"></td>
											  <td th:text="${losl.lecStartDate}"></td>
											  <td th:text="${losl.lecFinalDate}"></td>
											  <td th:text="${losl.lecOsRegDate}"></td>
	                                        <td>
	                                            <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
	                                            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
	                                        </td>
	                                        <td><button type="button">개강</button></td>
	                                    </tr>
                                    </th:block>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
	
		var arr = [];
		var lecOsCode = $('#lecOsCode').val();
		console.log(lecOsCode);
  		var request = $.ajax({
		  url: "/getApplyCount",
		  method:"GET",
		  data : { lecOsCode : lecOsCode },
		  dataType: "json"
		});
		request.done(function( data ) {
			console.log(data);
			
		});
		request.fail(function( jqXHR, textStatus ) {
		  alert( "Request failed: " + textStatus );
		});
	</script>
	</th:block>
	<th:block layout:fragment="customJsScript">
	 
	</th:block>
</html>