<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContent">
	        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4 th:text="${mainTitle}"></h4>
							<form class="form-inline" id="searchForm" action="/lecOsSearch" method="GET" >  
								<select class="form-control" name="lecOsSk" id="selectlecOsSk">
									<option disabled="disabled" selected="selected">::검색조건::</option>
									<option value="lec_os_code">강의예정코드</option>
									<option value=lec_name>강의명</option>
									<option value="mr_name">강사이름</option>
									<option value="lec_os_writer">작성자아이디</option>
								</select> 
								<div class="form-group">
								<input type="text" id="lecOsSv" class="form-control" name="lecOsSv" placeholder="검색어를 입력해주세요"/>
									<div class="input-group-btn pull-right">
										<button class="btn btn-default form-group" id="searchLecOsBtn" type="button">검색</button>
									</div>
								</div>
							</form>                            
                            <div class="add-product">
                                <a href="/addLectureOpenSchedule">강의예정등록</a>
                            </div>
                            <input id="sessionId" type="hidden" name="sessionId" th:value="${sessionId}">
                            <input id="lecOpCode" type="hidden" name="lecOpCode" th:value="${lecOpCode}">
                            <th:block th:each="losl : ${lectureOsList}">
                            <input type="hidden" id="lecOsCode" th:value="${losl.lecOsCode}">
                            </th:block>
                            
                            <div class="asset-inner">
                                <table class="table border-table">
                                    <tr>
                                    	<th>순번</th>
                                        <th>강의개설예정코드</th>
                                        <th>강의명</th>
                                        <!-- <th>강사아이디</th> -->
                                        <th>강사명</th>	
                                        <th>수업시작일자</th>
                                        <th>수업종료일자</th>
                                        <th>등록일자</th>
                                        <th style="text-align: center;">비고사항</th>
                                        <th>수정 / 삭제</th>
                                        <th>등록</th>
                                    </tr>
                                    <th:block th:each="losl : ${lectureOsList}">
	                                    <tr>
	                                    	<td>1</td>
											  <td th:text="${losl.lecOsCode}" style="text-align: center;"></td>
											  <td>
						                        <div class="modal-bootstrap shadow-inner responsive-mg-b-0">
						                            <div class="modal-area-button">
						                                <a class="lecOsNameBtn" href="#" th:value="${losl.lecOsCode}" data-toggle="modal" data-target="#PrimaryModalalert" role="button">[[${losl.lecName}]]</a>
						                                <input class="lecOsCode" type="hidden" th:value="${losl.lecOsCode}">
						                            </div>
						                        </div>											  
											  </td>
											  <!-- <td th:text="${losl.mrTeacherId}"></td> -->
											  <td th:text="${losl.mrTeacherName}"></td>
											  <td th:text="${losl.lecStartDate}"></td>
											  <td th:text="${losl.lecFinalDate}"></td>
											  <td th:text="${losl.lecOsRegDate}"></td>
											  <td>
						                        <div class="modal-bootstrap shadow-inner responsive-mg-b-0">
						                            <div class="modal-area-button">
						                                <button class="btn btn-default lecRemarkBtn" th:value="${losl.lecOsCode}" data-toggle="modal" data-target="#PrimaryModalalert">비고상세보기</button>
						                            </div>
						                        </div>											  	
											  </td>
	                                        <td>
	                                            <button data-toggle="tooltip" title="수정" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
	                                            <button data-toggle="tooltip" title="삭제" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
	                                        </td>
	                                        <td>
	                                       		<button type="button" class="btn btn-dafault openLectureBtn" th:value="${losl.lecOsCode}">등록</button>
	                                       	</td>
	                                    </tr>
	                                    <div class="login-form-area edu-pd mg-b-15">
				                        	<div id="PrimaryModalalert" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
				                            	<div class="modal-dialog">
					                                <div class="modal-content">
					                                    <div class="modal-body" id="check">
														</div>
					                                    <div class="modal-footer">
					                                        <button data-dismiss="modal" id="modalConfirmBtn" th:value="${losl.lecOsCode}" class="btn btn-default lecOpCode">확인</button>
					                                        <a data-dismiss="modal" class="btn btn-default" href="#" role="button">닫기</a>
														</div>
													</div>
												</div>
				                            </div>
				                        </div>						                    
										</th:block>
                             	   </table>
                             	   <th:block th:unless= "${href eq null}">
	                            	    <div class="container-fluid" style="margin: 10px;">
											<a th:href="${href}" class="btn btn-default" role="button">전체리스트보기</a>
										</div>
									</th:block>                            	   
	                             </div>
								</div>
							</div>
						</div>
					</div>
					</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
	$('#searchLecOsBtn').click(function(){
		var searchForm = $('#searchForm');
		var selectlecOsSk = $('#selectlecOsSk').val();
		var lecOsSv = $('#lecOsSv').val();
		console.log(selectlecOsSk + ' < -- selectlecOsSk');
		console.log(lecOsSv + ' < -- lecOsSv');
		if(selectlecOsSk == null || selectlecOsSk == undefined){
			alert('검색조건을 선택해주세요');
			return;
		}else if(lecOsSv == null || lecOsSv == ''){
			alert('검색어를 입력해주세요');
			$('#lecOsSv').focus();
			return;
		}
		searchForm.submit();
	});	
	
	$('.lecOsNameBtn').click(function(){
		console.log('check');
		var lecOsCode = $(this).parents().children('.lecOsCode').val();
		console.log(lecOsCode + ' < -- lecOsCode');
		 var request = $.ajax({
			  url: "/getLecOsListOnly",
			  method: "POST",
			  data: { lecOsCode : lecOsCode },
			  dataType: "json"
			});
			 
			request.done(function(data) {
				for(var i=0; i<data.length; i++){
					console.log(data[i]);
					console.log(data.length);
					html ='';
					html +='<h3>';
					html += data[i].lecName;
					html +=' 강의예정상세보기</h3>';
					html +='<table class="table">';
					html +='<tr><td>강의명</td>';
					html +='<td>';
					html +=data[i].lecName;
					html +='</td></tr>';
					html +='<tr><td>강의시간구분</td>';
					html +='<td>';
					html +=data[i].lecTimeName;
					html +=' ( ';
					html +=data[i].lecStartTime;
					html +=' ~ ';
					html +=data[i].lecEndTime;
					html +=' ) </td></tr>';
					html +='<tr><td>강의요일</td>';
					html +='<td>';
					html +=data[i].lecDay;
					html +='</td></tr>';
					html +='<tr><td>강의수준</td>';
					html +='<td>';
					html +=data[i].lecLevel;
					html +='</td></tr>';
					html +='<tr><td>강의실</td>';
					html +='<td>';
					html +=data[i].lecRoom;
					html +='</td></tr>';
					html +='<tr><td>현재 신청인원</td>';
					html +='<td>';
					html +=data[i].lecApplyCount;
					html +=' 명</td></tr>';
					html +='<tr><td>수강정원</td>';
					html +='<td>';
					html +=data[i].lecClaCapacity;
					html +=' 명</td></tr>';
					html +='<tr><td>수업료</td>';
					html +='<td>';
					html +=data[i].lecTuition;
					html +=' 원 </td></tr>';
					html +='</table>';
					html +='';
					html +='';
					$('#check').empty();
					$('#check').append(html);
				}
			});
			 
			request.fail(function( jqXHR, textStatus ) {
			  alert( "Request failed: " + textStatus );
			}); 
			
	});	
	
	$('.lecRemarkBtn').click(function(){
		var lecOsCode = $(this).parents().children('.lecRemarkBtn').val();
		console.log(lecOsCode);
		var request = $.ajax({
			  url: "/getLecOsRemark",
			  method: "POST",
			  data: { lecOsCode : lecOsCode },
			  dataType: "json"
			});
			 
			request.done(function(data) {
				for(var i=0; i<data.length; i++){
					console.log(data[i]);
					html = '';
					html += '<h3>비고상세보기</h3>';
                    html +='<p>';
                    html += data[i].lecOsRemark; 
                    html +='</p>';
                    
                    $('#check').empty();
                    $('#check').append(html);
				}
			});
			request.fail(function( jqXHR, textStatus ) {
			  alert( "Request failed: " + textStatus );
			});
	});
	
	$('.openLectureBtn').click(function(){
		var lecOsCode = $(this).parents().children('.openLectureBtn').val();
		var lecOpWriter = $('#sessionId').val();
		var lecOpCode = $('#lecOpCode').val();
		console.log(lecOsCode + ' < -- lecOsCode');
		console.log(lecOpWriter + ' < -- lecOpWriter');
		console.log(lecOpCode + ' < -- lecOpCode');
		console.log('개강버튼클릭');
		var request = $.ajax({
			  url: "/checkLecOpen",
			  method: "POST",
			  data: { lecOsCode : lecOsCode },
			  dataType: "json"
			});
			 
			request.done(function(data) {
					if(data == 1){
						alert('이미 개설되었거나 종료된 강의입니다.');
					}else if(data == 0){
						if(confirm('개강하시겠습니까?')){
							var openLecture = $.ajax({
								  url: "/addLectureOpen",
								  method: "POST",
								  data: { lecOsCode : lecOsCode 
									  	, lecOpWriter : lecOpWriter 
									  	, lecOpCode : lecOpCode},
								  dataType: "json"
								});
							openLecture.done(function(openData) {
								alert('개강이 완료되었습니다.');
								location.href='/lectureList';
						});
						
						openLecture.fail(function( jqXHR, textStatus ) {
						  alert( "Request failed: " + textStatus );
						});
						}
					}
			});
			
			request.fail(function( jqXHR, textStatus ) {
			  alert( "Request failed: " + textStatus );
			});
		
	});
	</script>
	</th:block>
	<th:block layout:fragment="customJsScript">
	 
	</th:block>
</html>