<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContent">
		<h4 th:text="${mainTitle}"></h4>
		
		
		<a href="/lecOsList" class="btn btn-default" role="button">강의 예정 리스트</a>
	</th:block>
	<th:block layout:fragment="customJsScript">
	 
	</th:block>
</html>