<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContent">
	        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4 th:text="${mainTitle}"></h4>
                            <th:block th:each="lec : ${lectureList}">
                            <input type="hidden" id="lecOpCode" th:value="${lec.lecOpCode}">
                            </th:block>
                            
                            <div class="asset-inner">
                                <table class="table border-table">
                                    <tr>
                                        <th>강의개설코드</th>
                                        <th>강의상세보기</th>
                                        <th>강의상태구분</th>
                                        <th colspan="3">수강인원</th>
                                        <th>미달인원</th>
                                        <th>작성자아이디</th>
                                        <th>등록일자</th>
                                        <th>강의상태변경</th>
                                    </tr>
                                    <th:block th:each="lec : ${lectureList}">
	                                    <tr>
											  <td th:text="${lec.lecOpCode}" style="text-align: center;"></td>
											  <td>
						                        <div class="modal-bootstrap shadow-inner responsive-mg-b-0">
						                            <div class="modal-area-button">
						                                <a class="lecOsCodeBtn" href="#" th:value="${lec.lecOsCode}" data-toggle="modal" data-target="#PrimaryModalalert" role="button">상세보기</a>
						                                <input class="lecOsCode" type="hidden" th:value="${lec.lecOsCode}">
						                            </div>
						                        </div>												  
											  </td>
											  <td th:text="${lec.lecStatusName}" id="lecStatusName" ></td>
											  <td th:text="${lec.claPeople}" ></td>
											  <td> / </td>
											  <td th:text="${lec.claCapacity}" ></td>
											  <td th:text="${lec.claLack}" style="text-align: center;"></td>
											  <td th:text="${lec.lecOpWriter}" ></td>
											  <td th:text="${lec.lecOpRegDate}" ></td>
	                                        <td>
	                                            <div class="container-fluid">
		                                        	<div class="modal-bootstrap shadow-inner responsive-mg-b-0">
							                            <div class="modal-area-button">
		                                            		<button data-toggle="modal"
		                                            				data-target="#PrimaryModalalert" 
		                                            				title="강의상태변경" 
		                                            				class="pd-setting-ed changeStatusBtn" 
		                                            				th:value="${lec.lecOpCode}">
	                                            			<i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
							                            </div>
							                        </div>	
	                                            </div>
	                                        </td>
	                                    </tr>
	                                    <div class="login-form-area edu-pd mg-b-15">
						                        <div id="PrimaryModalalert" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
						                            <div class="modal-dialog">
						                                <div class="modal-content">
							                                    <div class="modal-body" id="check">
																</div>
						                                    <div class="modal-footer">
						                                        <button data-dismiss="modal" id="modalConfirmBtn" th:value="${lec.lecOpCode}"  class="btn btn-default lecOpCode">확인</button>
						                                        <a data-dismiss="modal" class="btn btn-default" href="#" role="button">닫기</a>
						                                    </div>
					                                   	 </div>
						                                </div>
						                            </div>
						                        </div>
										</th:block>
                             	   </table>
                            	    <div class="container-fluid" style="margin: 10px;">
										<a href="#" class="btn btn-default" role="button">메인페이지로</a>
									</div>                             	   
	                                </div>
								</div>
							</div>
						</div>
					</div>
					</div>
					
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
	$('.lecOsCodeBtn').click(function(){
		console.log('check');
		var lecOsCode = $(this).parents().children('.lecOsCode').val();
		console.log(lecOsCode + ' < -- lecOsCode');
		 var request = $.ajax({
			  url: "/getLecOsListOnly",
			  method: "POST",
			  data: { lecOsCode : lecOsCode },
			  dataType: "json"
			});
			 
			request.done(function(data) {
				for(var i=0; i<data.length; i++){
					console.log(data[i]);
					console.log(data.length);
					html ='';
					html +='<h3>';
					html += data[i].lecOsCode;
					html +=' 강의예정상세보기</h3>';
					html +='<table class="table">';
					html +='<tr><td>강의예정코드</td>';
					html +='<td>';
					html += data[i].lecOsCode;
					html += '</td></tr>';
					html +='<tr><td>과정명</td>';
					html +='<td>';
					html +=data[i].lecName;
					html +='</td></tr>';
					html +='<tr><td>강사명</td>';
					html +='<td>';
					html +=data[i].mrTeacherName;
					html +='</td></tr>';
					html +='<tr><td>강의기간</td>';
					html +='<td>';
					html +=data[i].lecStartDate;
					html +=' ~ ';
					html +=data[i].lecFinalDate;
					html +='</td></tr>';
					html +='<tr><td>강의시간구분</td>';
					html +='<td>';
					html +=data[i].lecTimeName;
					html +=' ( ';
					html +=data[i].lecStartTime;
					html +=' ~ ';
					html +=data[i].lecEndTime;
					html +=' ) </td></tr>';
					html +='<tr><td>수업요일</td>';
					html +='<td>';
					html +=data[i].lecDay;
					html +='</td></tr>';
					html +='<tr><td>강의수준</td>';
					html +='<td>';
					html +=data[i].lecLevel;
					html +='</td></tr>';
					html +='<tr><td>강의실</td>';
					html +='<td>';
					html +=data[i].lecRoom;
					html +='</td></tr>';
					html +='<tr><td>최종 신청인원</td>';
					html +='<td>';
					html +=data[i].lecApplyCount;
					html +=' 명</td></tr>';
					html +='<tr><td>수강정원</td>';
					html +='<td>';
					html +=data[i].lecClaCapacity;
					html +=' 명</td></tr>';
					html +='<tr><td>수업료</td>';
					html +='<td>';
					html +=data[i].lecTuition;
					html +=' 원 </td></tr>';
					html +='</table>';
					html +='';
					html +='';
					$('#check').empty();
					$('#check').append(html);
				}
			});
			 
			request.fail(function( jqXHR, textStatus ) {
			  alert( "Request failed: " + textStatus );
			}); 
			
	});
	
	</script>
	
	<!------------------------- Start------------------------------>
	<!---------------------- 강의상태변경하기 Modal -------------------->
	<script type="text/javascript" th:inline="javascript">
	<!---------------------- 강의상태변경하기 아이콘클릭 -------------------->
		/*<![CDATA[*/
			$('.changeStatusBtn').click(function(){
				var lecOpCode = $(this).val();
				console.log(lecOpCode + ' < -- lecOpCode ');
				var lectureStatus = /*[[${lectureStatus}]]*/;
					html = '';
				/* alert(JSON.stringify(lectureStatus));  */
					html +='<h3> 강의상태변경</h3>';
					html +='<table class="table">';
					html +='<div class="row">';
					html +='<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">';
					html +='<tr><td>';
					html +='<div class="form-select-list">';
					html +='<select class="form-control custom-select-value" id="selectLecStatus" name ="changeLecStatus">';
					html +='<option disabled="disabled" selected="selected" value="">::강의구분을 선택하세요::</option>';
				$.each(lectureStatus, function(index,lectureStatus){
					console.log(lectureStatus); 
					if(lectureStatus != null && lectureStatus != undefined){
						console.log(lectureStatus.lecStatus + ' < -- lectureStatus.lecStatus');
						html +='<option value=';
						html +=lectureStatus.lecStatus;
						html += '>';
						html += lectureStatus.lecStatusName;
						html += '</option>';	
					}	
					console.log(lectureStatus.lecStatus + ' < -- lectureStatus.lecStatus');
					console.log(lectureStatus.lecStatusName + ' < --lectureStatus.lecStatusName');
				});
					html +='</select></div></div></div></td></tr></table>';
				$('#check').empty();
				$('#check').append(html);
						
					$('#modalConfirmBtn').click(function(){
						console.log('Modal확인버튼클릭');
						var selectLecStatusVal = $('#selectLecStatus option:selected').val();
						console.log('************************');
						console.log(selectLecStatusVal + ' < --#selectLecStatus option:selected');
						console.log('************************');
						console.log(lecOpCode + ' < -- lecOpCode');
						var request = $.ajax({
							 url: "/changeLecStatus",
							 method: "POST",
							 data: { lecOpCode : lecOpCode , selectLecStatusVal : selectLecStatusVal},
							 dataType: "json"
							});
							 
							request.done(function( data ) {
								if(data == 1){
									location.href="/lectureList"; 
								}else if(data == 0){
									alert('수정에 실패하였습니다');
								}
							});
							 
							request.fail(function( jqXHR, textStatus ) {
							  alert( "Request failed: " + textStatus );
							});
					});
					
						
			});
		/*]]>*/
		<!-------------------------- End------------------------------->
	</script>
	</th:block>
	<th:block layout:fragment="customJsScript">
	 
	</th:block>
</html>