<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	<th:block layout:fragment="customContent">
	<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline12-list">
                    <div class="sparkline12-hd">
                        <div class="main-sparkline12-hd">
                            <h1 th:text="${mainTitle}"></h1>
                        </div>
                    </div>
                    <div class="sparkline12-graph">
                        <div class="basic-login-form-ad">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="all-form-element-inner">
                                        <form action="/modifyLecOpenSchedule" method="post" id="addForm">
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">강의개설예정코드</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" class="form-control" th:value="${lectureOsList.lecOsCode}" id="lecOsCode" name="lecOsCode" readonly="readonly"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">강의명</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" class="form-control" th:value="${lectureOsList.lecName}" id="lecName" name="lecName" placeholder="강의명을 입력해주세요"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">강사명</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <div class="form-select-list">
                                                            <select class="form-control custom-select-value" id="mrTeacherId" name ="mrTeacherId">
	                                                            <option  th:value="${lectureOsList.mrTeacherId}" selected="selected">[[${lectureOsList.mrTeacherName}]]</option>
	                                                            <th:block th:each=" tl : ${teacherList}">
	                                                            	<option th:unless="${lectureOsList.mrTeacherId eq tl.mrTeacherId}"
	                                                            			th:value="${tl.mrTeacherId}">[[${tl.mrTeacherName}]]</option>                                                       
	                                                            </th:block>
															</select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>	                                                  
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">강의실</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <div class="form-select-list">
                                                            <select class="form-control custom-select-value" id="lecRoom" name ="lecRoom">
                                                            <option th:value="${lectureOsList.lecRoom}" selected="selected">[[${lectureOsList.lecRoomName}]]</option>
	                                                            <th:block th:each="lr : ${lectureRoom}">
	                                                            	<option
	                                                            	th:unless="${lectureOsList.lecRoom eq lr.lecRoom}"
	                                                            	 th:value="${lr.lecRoom}">[[${lr.lecRoomName}]]</option>                                                       
	                                                            </th:block>
															</select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">강의시간</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <div class="form-select-list">
                                                            <select class="form-control custom-select-value" id="lecTime" name ="lecTime">
																<option th:value="${lectureOsList.lecTime}" selected="selected">
																	[[${lectureOsList.lecTimeName}]] : [[${lectureOsList.lecStartTime}]] ~ [[${lectureOsList.lecEndTime}]]
																</option>
	                                                            <th:block th:each="lecT : ${lectureTime}">
	                                                            	<option th:value="${lecT.lecTime}"
	                                                            			th:unless="${lectureOsList.lecTime eq lecT.lecTime}">
	                                                            		[[${lecT.lecTimeName}]] : [[${lecT.lecStartTime}]] ~ [[${lecT.lecEndTime}]]
	                                                            	</option>                                                       
	                                                            </th:block>
															</select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">강의요일</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" class="form-control" id="lecDay" th:value="${lectureOsList.lecDay}" name="lecDay" />
                                                    </div>
                                                </div>
                                            </div>                                            	                                                  
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">강의수준</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <div class="form-select-list">
                                                            <select class="form-control custom-select-value" id="lecLevel" name ="lecLevel">
																<option th:value="${lectureOsList.lecLevel}">[[${lectureOsList.lecLevelName}]]</option>
	                                                            <th:block th:each="ll : ${lectureLevel}">
	                                                            	<option th:value="${ll.lecLevel}"
	                                                            			th:unless="${lectureOsList.lecLevel eq ll.lecLevel}">
	                                                            	[[${ll.lecLevelName}]]</option>                                                       
	                                                            </th:block>
															</select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>	                                                  
                                                  
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">수강정원</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="number" class="form-control" name="claCapacity" th:value="${lectureOsList.lecClaCapacity}"
                                                        id="claCapacity" onFocus="this.value=0; return true;" placeholder="수강정원을 입력해주세요"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">수강료</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="number" class="form-control" name="lecTuition" th:value="${lectureOsList.lecTuition}"
                                                        id="lecTuition" onFocus="this.value=0; return true;" placeholder="수강료를 입력해주세요"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">강의기간</label>
                                                    </div>
                                                    <div class="modal-bootstrap shadow-inner responsive-mg-b-0">
						                            	<div class="modal-area-button">                                                	
	                                               			<a data-target="#PrimaryModalalert" role="button" id="checkBtn">선택날짜강의보기</a>
	                                               		</div>
	                                            	</div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                        <label class="login2 pull-center pull-center-pro">개강일자</label>
                                                        <input type="date" class="form-control" 
                                                        		th:value ="${lectureOsList.lecStartDate}" name="lecStartDate" id="lecStartDate"/>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                    	<label class="login2 pull-center pull-center-pro">종강일자</label>
                                                        <input type="date"class="form-control"
                                                        		th:value ="${lectureOsList.lecFinalDate}"  name="lecFinalDate" id="lecFinalDate">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">비고</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <textarea class="form-control" name="lecOsRemark" th:value="${lectureOsList.lecOsRemark}">[[${lectureOsList.lecOsRemark}]]</textarea>
                                                    </div>
                                                </div>
                                            </div>                                            
                                            <button class="btn btn-primary login-submit-cs" type="button" id="addBtn">등록</button>
                        					<a href="/lectureOpenScheduleList" class="btn btn-default" role="button">취소</a>
                                        </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Start Modal Contents Area -->
                                 <div class="login-form-area edu-pd mg-b-15">
		                        <div id="PrimaryModalalert" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
		                            <div class="modal-dialog modal-lg">
		                                <div class="modal-content">
			                                    <div class="modal-body" id="modalContent">
												</div>
		                                    <div class="modal-footer">
		                                        <button data-dismiss="modal" id="modalConfirmBtn" class="btn btn-default lecOpCode">확인</button>
		                                        <a data-dismiss="modal" class="btn btn-default" href="#" role="button">닫기</a>
		                                    </div>
	                                   	 </div>
		                                </div>
		                            </div>
		                        </div>  
		                        <!--End Modal Contents Area -->                              
                        		<div class="container-fluid" style="margin: 10px;">
									<a href="#" class="btn btn-default" role="button">강의관리 메인페이지로</a>
								</div>        
                            </div>
                        </div>
                    </div>
                </div>	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
	var lecStartDate = null;
	var lecFinalDate = null;
	var html = '';
	$('#addBtn').click(function(){
		var addForm = $('#addForm');
		var lecOsCode = $('#lecOsCode').val();
		var lecOsWriter = $('#lecOsWriter').val();
		var lecName = $('#lecName').val();
		var mrTeacherId = $('#mrTeacherId').val();
		var lecRoom = $('#lecRoom').val();
		var lecTime = $('#lecTime').val();
		var lecLevel = $('#lecLevel').val();
		var lecDay = $('#lecDay').val();
		var claCapacity = $('#claCapacity').val();
		var lecTuition = $('#lecTuition').val();
			lecStartDate = $('#lecStartDate').val();
			lecFinalDate = $('#lecFinalDate').val();
		var lecOsRemark = $('#lecOsRemark').val();
		
		console.log(lecOsCode + ' < -- lecOsCode');
		console.log(lecOsWriter + ' < -- lecOsWriter');
		console.log(lecName + ' < -- lecName');
		console.log(mrTeacherId + ' < -- mrTeacherId');
		console.log(lecRoom + ' < -- lecRoom');
		console.log(lecTime + ' < -- lecTime');
		console.log(lecLevel + ' < -- lecLevel');
		console.log(lecDay + ' < -- lecDay');
		console.log(claCapacity + ' < -- claCapacity');
		console.log(lecTuition + ' < -- lecTuition');
		console.log(lecStartDate + ' < -- lecStartDate');
		console.log(lecFinalDate + ' < -- lecFinalDate');
		console.log(lecOsRemark + ' < -- lecOsRemark');
		
		if(lecName == undefined || lecName == ''){
			alert('강의명을 입력해주세요');
			$('#lecName').focus();
			return;
		}else if( lecName.replace(/\s|　/gi, "").length == 0 ){
			alert('공백이 아닌 값을 입력해주세요');
			$('#txbName').focus();
			return false;
		}else if(mrTeacherId == undefined || mrTeacherId == ''){
			alert('강사를 선택해주세요.');
			$('#mrTeacherId').focus();
			return;
		}else if(lecRoom == undefined || lecRoom == ''){
			alert('강의실을 선택해주세요');
			$('#lecRoom').focus();
			return;
		}else if(lecTime == undefined || lecTime == ''){
			alert('강의시간을 선택해주세요');
			$('#lecTime').focus();
			return;
		}else if(lecDay == undefined || lecDay == ''){
			alert('강의요일을 입력해주세요');
			$('#lecDay').focus();
			return;
		}else if(lecLevel == undefined || lecLevel == ''){
			alert('강의수준을 선택해주세요');
			$('#lecLevel').focus();
			return;
		}else if(claCapacity ==0){
			alert('수강정원을 입력해주세요');
			$('#claCapacity').focus();
			return;
		}else if(claCapacity < 0 ){
			alert('0보다 큰 값을 입력해주세요');
			$('#claCapacity').focus();
			return ;
		}else if(lecTuition == 0){
			alert('수강료를 입력해주세요');
			$('#lecTuition').focus();
			return;
		}else if(lecTuition < 0){
			alert('0보다 큰 값을 입력해주세요');
			$('#lecTuition').focus();
			return;
		}
		if(lecStartDate == ''){
			alert('시작날짜를 선택해주세요');
			return;
		}
		if(lecFinalDate == ''){
			alert('종료날짜를 선택해주세요');
			return;
		}
		if(confirm('수정하시겠습니까?')){
		addForm.submit();
		}
	});
	$('#checkBtn').click(function(){
		var modalContent = $('#modalContent');
		console.log('날짜체크');
		lecStartDate = $('#lecStartDate').val();
		lecFinalDate = $('#lecFinalDate').val();
		console.log(lecStartDate);
		console.log(lecFinalDate);
		if(lecStartDate == ''){
			alert('시작날짜를 선택해주세요');
			return;
		}
		if(lecFinalDate == ''){
			alert('종료날짜를 선택해주세요');
			return;
		}
		if(lecStartDate != '' && lecFinalDate != ''){
			var request = $.ajax({
				 url: "/lecOsCheckDate",
				 method: "POST",
				 data: { lecStartDate : lecStartDate , lecFinalDate : lecFinalDate},
				 dataType: "json"
			});
			 
			request.done(function( data ) {
				//alert(JSON.stringify(data));
				console.log(data);
				if(data.length == 0){
					$('#checkBtn').removeAttr('data-toggle');
					alert('조회되는 데이터가 없습니다');
				}else if(data.length > 0){
					$('#checkBtn').attr('data-toggle', 'modal');
					 html = '';
					 html += '<h3>'+ lecStartDate + '~'; 
					 html += lecFinalDate+ '의 강의리스트보기</h3>';
					 html += '<table class="table">';
					 html += '<tr><th>강의명</th>';
					 html += '<th>강의시간구분</th>';
					 html += '<th>강의요일</th>';
					 html += '<th>강의실</th>';
					 html += '<th>강사명</th>';
					 html += '<th>시작일</th>';
					 html += '<th>종료일</th></tr>';
					 
					for(var i=0; i<data.length; i++){
						console.log(data[i]);
						console.log(data.length);
						
						html +='<tr><td>'+ data[i].lecName + '</td>';
						html +='<td>'+data[i].lecTimeName;
						html +=' ( ' + data[i].lecStartTime;
						html +=' ~ ';
						html += data[i].lecEndTime + ' ) </td>';
						html +='<td>'+ data[i].lecDay +'</td>';
						html +='<td>' + data[i].lecRoom +'</td>';
						html +='<td>' + data[i].mrTeacherName +'</td>';
						html +='<td>' + data[i].lecStartDate +'</td>';
						html +='<td>' + data[i].lecFinalDate +'</td></tr>';
					}
						html +='</table>';
					modalContent.empty();
					modalContent.append(html);
				}
			});
			 
			request.fail(function( jqXHR, textStatus ) {
			  alert( "Request failed: " + textStatus );
			});
			}
	})	
	</script>  		
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>