<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">

<th:block layout:fragment="customTitle">
	<title>휴가신청</title>
</th:block>


<!-- css---------------------------------------- -->
<th:block layout:fragment="customCss">
<script type="text/javascript">
		$(function() {
			
		})
	</script>


</th:block>

<!-- 본문----------------------------------------- -->
<th:block layout:fragment="customContent">

	<div class="static-table-area">
		<div class="container-fluid">
			<div id="myTabContent" class="tab-content custom-product-edit">
				<div class="product-tab-list tab-pane fade active in"
					id="description">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="review-content-section">
								<div id="dropzone1" class="pro-ad">
									<br>
									<p style="font-size: 40px;">직원 출 퇴근 시간 등록</p>
									<br> <br>
									<form action="/attManage" method="POST" id="requestForm">
										<input type="hidden" name="mrId" th:value="${session.SID}">
										<div style="width: 80%; float:inherit;" class="container-fluid">
											<table id="tb" class="table table-striped">
												<tr>
													<td>이름</td>
													<td><input type="text" class="form-control" name="mrName"></td>
													
												</tr>
												<tr>
													<td>구분</td>
													<td><select class="form-control" id = "holidaySt">
															<option>연차</option>
															<option>월차</option>
															<option>정기휴가</option>
															<option>경조사</option>
															<option>포상휴가</option>
													</select></td>
												</tr>
												<tr>
													<td>휴가 시작날짜</td>
													<td><input type="date" name="reStartDate" class="form-control"></td>
												</tr>
												<tr>
													<td>휴가 종료날짜</td>
													<td><input type="date" name="reEndDate" class="form-control"></td>
												</tr>
											</table>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</th:block>



<!-- 스크립트 -------------------------------------------->
<th:block layout:fragment="customJsScript">
	<div th:replace="fragments/js :: jsFragment"></div>

</th:block>

<!-- js	 ------------------------------------------------>
<th:block layout:fragment="customJs">

</th:block>
</html>