<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">

<th:block layout:fragment="customTitle">
	<title>출퇴근시간관리</title>
</th:block>


<!-- css---------------------------------------- -->
<th:block layout:fragment="customCss">

<script type="text/javascript">

	$(function(){
	
		$('.apprBtn').click(function() {
			alert("수저ㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅇ");
			var attTimeCode = $(this).attr('data-mCode');
			window.location.href='/attManageModify?attTimeCode='+attTimeCode;
		})
		
		
	})
	
	


</script>






</th:block>

<!-- 본문----------------------------------------- -->
<th:block layout:fragment="customContent">
<div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>출퇴근 시간 관리</h4>
                            <div class="add-product">
                                <a href="/addTimeManage">출퇴근 정보 추가</a>
                            </div>
                            <div class="asset-inner">
                                <table>
                                    <tr>
                                        <th style="text-align: center;">이름</th>
                                        <th style="text-align: center;">출근시간</th>
                                        <th style="text-align: center;">퇴근시간</th>
                                        <th style="text-align: center;" colspan="3">식사시간</th>
                                        <th style="text-align: center;" >수정/삭제</th>
                                    </tr>
                                    <tr th:each="l: ${timeManageList}">
                                        <td th:text="${l.mrId}" style="text-align: center;"></td>
                                        <td th:text="${l.attStTime}" style="text-align: center;"></td>
                                        <td th:text="${l.attEndTime}" style="text-align: center;"></td>
                                        <td th:text="${l.mealStTime}" style="text-align: center;"></td>
                                        <td style="text-align: center;">~</td>
                                        <td th:text="${l.mealEndTime}" style="text-align: center;"></td>
                                        <td style="text-align: center;">
                                            <button th:data-mCode="${l.attTimeCode}" id ="modify" data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                            <button th:data-mCode="${l.attTimeCode}" id ="delete" data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="custom-pagination">
								<ul class="pagination">
									<li class="page-item"><a class="page-link" href="#">이전</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">다음</a></li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</th:block>



<!-- 스크립트 -------------------------------------------->
<th:block layout:fragment="customJsScript">
	<div th:replace="fragments/js :: jsFragment"></div>

</th:block>

<!-- js	 ------------------------------------------------>
<th:block layout:fragment="customJs">

</th:block>
</html>