<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title>휴가신청</title> 
	</th:block>
	
	
	<!-- css---------------------------------------- -->
	<th:block layout:fragment="customCss">
	<script type="text/javascript">
		$(function(){
			$('#loginCheckBtn').click(function(){
				
				var mrId = $('#mrId').val();
				var mrPw = $('#mrPw').val();
				
				if(mrId == null || mrId ==''){
					alert('아이디를 입력해주세요');
					$('#mrId').focus();
					return;
				}
				if(mrPw == null || mrPw ==''){
					alert('비밀번호를 입력해주세요');
					$('#mrPw').focus();
					return;
				}
				$('#logincheck').submit();
			})
		})
		
	</script>

	</th:block>
	
	<!-- 본문----------------------------------------- -->
	<th:block layout:fragment="customContent">
	
		<div class="static-table-area">
            <div class="container-fluid">
                <div class="sparkline8-list">
          			<form action="/logincheck" id="logincheck" method="POST">
                		<table>
                			<tr>
                				<td>아이디</td>
                				<td><input type="text" name="mrId" id="mrId"></td>
                			</tr>
                			<tr>
                				<td>비밀번호</td>
                				<td><input type="text" name="mrPw" id="mrPw"></td>
                			</tr>
                			<tr>
                				<td colspan="2"><button type="button" id = "loginCheckBtn">아이디,비밀번호 확인</button></td>
                			</tr>
               			</table>
           			</form>
          			<form action="/holidayApproval" id="holidayForm">
            			<table>
	             			<tr>
	             				<td>휴가 신청</td>
	             				<td><input type="date" name = "holiStart"> ~ <input type="date" name = "holiEnd"></td>
	             			</tr>
	             			<tr>
	             				<td colspan="2"><button type="button">신청</button></td>
	             			</tr>
             			</table>
					</form>
						
						
						
						
                            <div class="sparkline8-hd">
                                <div class="main-sparkline8-hd">
                                    <h1>휴가신청 목록</h1>
                                </div>
                            </div>
                            <div class="sparkline8-graph">
                                <div class="static-table-list">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>신청 날짜</th>
                                                <th>이름</th>
                                                <th>휴가 시작 날짜</th>
                                                <th>휴가 끝나는 날짜</th>
                                                <th>사유</th>
                                                <th>구분</th>
                                                <th>상태</th>
                                                <th>승인자</th>
                                                <th>승인날짜</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each = "l: ${holidayList}">
                                                <td th:text = "${l.reDate}"></td>
                                                <td th:text = "${l.mrId}"></td>
                                                <td th:text = "${l.reStartDate}"></td>
                                                <td th:text = "${l.reEndDate}"></td>
                                                <td th:text = "${l.reReason}"></td>
                                                <td th:text = "${l.sortation}"></td>
                                                <td th:text = "${l.reState}"></td>
                                                <td th:text = "${l.reSupervisor}"></td>
                                                <td th:text = "${l.reProcessingDate}" ></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
	</th:block>
	
	
	
	<!-- 스크립트 -------------------------------------------->
	<th:block layout:fragment="customJsScript">
	 	<div th:replace="fragments/js :: jsFragment"></div>
	 	
	</th:block>
		
	<!-- js	 ------------------------------------------------>
	<th:block layout:fragment="customJs">

	</th:block>
</html>