<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">

<th:block layout:fragment="customTitle">
	<title>휴가신청</title>
</th:block>


<!-- css---------------------------------------- -->
<th:block layout:fragment="customCss">
	
</th:block>
<!-- 본문----------------------------------------- -->
<th:block layout:fragment="customContent">
<script type="text/javascript">
		$(function() {
				$('.apprBtn').click(function() {
					alert("승인하셨습니다.")
					var reCode = $(this).val();
					var inputRefuse = '';
					
					var approval = $.ajax({
					url : "/approval",
					method : "GET",
					data : {reState : "승인", reCode : reCode, inputRefuse : inputRefuse},
					dataType: "text" 
					}) 
					$('form').submit();
				})
				
				$('.refuseBtn').click(function() {
					var inputRefuse = prompt('사유', '반려 사유를 입력해주세요');
					var reCode = $(this).val();
					
					if(inputRefuse != null){
						var refuse = $.ajax({
						url : "/approval",
						method : "GET",
						data : {reState : "반려", reCode : reCode, inputRefuse : inputRefuse},
						dataType: "text"
						})
						
						$('form').submit();
					}
				})
				
				
				$('.reDelete').click(function() {
					var reCode = $(this).attr('data-mCode');
					var confirm_test = confirm("삭제하시겠습니까?.");
					if ( confirm_test == true ) {
			            alert("삭제하셨습니다.");
			            window.location.href='/reDelete?reCode='+reCode;
			        } else if ( confirm_test == false ) {
			            alert("취소되었습니다.");
			        }
					
					
				})
				
				
		})
	</script>
	
	
	<div class="static-table-area">
		<div class="container-fluid">


			

			<div class="sparkline8-list">
				<div class="sparkline8-hd">
					<div class="main-sparkline8-hd">
						<h1>휴가신청 리스트</h1>
					</div>
				</div>
				<div class="sparkline8-graph">
					<div class="static-table-list">
						<form action="/holidayList" method="GET">
							<table class="table" >
								<thead>
									<tr>
										<th>신청 날짜</th>
										<th>이름</th>
										<th>휴가 시작 날짜</th>
										<th>휴가 끝나는 날짜</th>
										<th>사유</th>
										<th>구분</th>
										<th>승인/반려</th>
										<th>상태</th>
										<th>승인날짜</th>
										<th>삭제</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="l: ${holidayList}">
										<td th:text="${l.reDate}"></td>
										<td th:text="${l.mrId}"></td>
										<td th:text="${l.reStartDate}"></td>
										<td th:text="${l.reEndDate}"></td>
										<td th:text="${l.reReason}"></td>
										<td th:text="${l.sortation}"></td>
										<td ><button type = "button" class = "apprBtn" name = "apprBtn" th:value="${l.reCode}">승인</button>
										<button type = "button" class = "refuseBtn" name = "refuseBtn" th:value="${l.reCode}">반려</button></td>
										<td th:text="${l.reState}"></td>
										<td th:text="${l.reProcessingDate}"></td>
										<td><a th:data-mCode="${l.reCode}" class ="reDelete">삭제</a></td>
									</tr>								
								</tbody>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>



<!-- 스크립트 -------------------------------------------->
<th:block layout:fragment="customJsScript">
	<div th:replace="fragments/js :: jsFragment"></div>

</th:block>

<!-- js	 ------------------------------------------------>
<th:block layout:fragment="customJs">

</th:block>
</html>