<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">

<th:block layout:fragment="customTitle">
	<title>휴가신청</title>
</th:block>


<!-- css---------------------------------------- -->
<th:block layout:fragment="customCss">
	<script type="text/javascript">
		$(function() {
			$('#requestBtn').click(function() {
				var startDate = $('input[name=reStartDate]').val();
				var endDate = $('input[name=reEndDate]').val();
				var holidaySt = $('#holidaySt').val();
				var reReason = $('input[name=reReason]').val();
				
				if (startDate == null || startDate == '') {
					alert('휴가 시작 날짜를 입력해주세요');
					return;
				}
				if (endDate == null || endDate == '') {
					alert('휴가 끝나는 날짜를 입력해주세요');
					$('input[name=endDate]').focus();
					return;
				}
				if (reReason == null || reReason == '') {
					alert('사유를 입력해주세요');
					$('input[name=reReason]').focus();
					return;
				}else{
					var request = $.ajax({
					url : "/startDayCk",
					method : "GET",
					data : {startDate : startDate},
					dataType: "text"
					})
				}
				request.done(function(data) {
					console.log(data);
					if(data==0){
						$('#requestForm').submit();
					}else{
						alert("당일,지나간 날짜는 신청하실 수 없습니다.");
					} 
					
				});
				
			})
				
			
		})
	</script>

</th:block>

<!-- 본문----------------------------------------- -->
<th:block layout:fragment="customContent">

	<div class="static-table-area">
		<div class="container-fluid">
		
		
		
		<form action="/holidayRequest" method="POST" id ="requestForm">
			<input type="hidden" name="mrName" th:value="${session.SNAME}">
			<input type="hidden" name="mrId" th:value="${session.SID}">
			<table style="text-align: center;" >
				<tr>
					<td colspan="3"><h3>휴가신청</h3></td>
				</tr>
			
				<tr>
					<td colspan="3">
						<input type="date" name="reStartDate"> ~ 
						<input type="date" name="reEndDate">
					</td>
				</tr>
				<tr>
					<td>
						사유 <input type="text" name = "reReason">
					</td>	
					<td>
						<select name="holidaySt" id = "holidaySt">
						  <option value="연차">연차</option>
						  <option value="월차">월차</option>
						  <option value="경조사">경조사</option>
						</select>
					</td>
					<td>
						<button type="button" id = "requestBtn">신청</button>
					</td>
				</tr>
				
			</table>
		</form>	   
		
		<br>
		
			<div class="sparkline8-list">
				<div class="sparkline8-hd">
					<div class="main-sparkline8-hd">
						<h1>휴가신청 목록</h1>
					</div>
				</div>
				<div class="sparkline8-graph">
					<div class="static-table-list">
						<table class="table">
							<thead>
								<tr>
									<th>신청 날짜</th>
									<th>이름</th>
									<th>휴가 시작 날짜</th>
									<th>휴가 끝나는 날짜</th>
									<th>사유</th>
									<th>구분</th>
									<th>상태</th>
									<th>승인자</th>
									<th>승인날짜</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="l: ${holidayList}">
									<td th:text="${l.reDate}"></td>
									<td th:text="${l.mrId}"></td>
									<td th:text="${l.reStartDate}"></td>
									<td th:text="${l.reEndDate}"></td>
									<td th:text="${l.reReason}"></td>
									<td th:text="${l.sortation}"></td>
									<td th:text="${l.reState}"></td>
									<td th:text="${l.reSupervisor}"></td>
									<td th:text="${l.reProcessingDate}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>



<!-- 스크립트 -------------------------------------------->
<th:block layout:fragment="customJsScript">
	<div th:replace="fragments/js :: jsFragment"></div>

</th:block>

<!-- js	 ------------------------------------------------>
<th:block layout:fragment="customJs">

</th:block>
</html>