<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">

<th:block layout:fragment="customTitle">
	<title>휴가신청</title>
</th:block>


<!-- css---------------------------------------- -->
<th:block layout:fragment="customCss">
	<script type="text/javascript">
		$(function() {
			
			
			$('.request').click(function() {
				var reCode = $(this).attr('data-mCode');
	         	window.location.href='/holiRequest?reCode='+reCode;
			})
			
			

			$('.detail').click(function() {
				var reCode = $(this).attr('data-mCode');
	            window.location.href='/detail?reCode='+reCode;
			})
			
			
			
			
			$('#requestBtn').click(function() {
				
				//input data 값 변수에 담기
				var startDate = $('input[name=reStartDate]').val();
				var endDate = $('input[name=reEndDate]').val();
				var holidaySt = $('#holidaySt').val();
				var reReason = $('input[name=reReason]').val();
				
				
				
				if (startDate == null || startDate == '') {
					alert('휴가 시작 날짜를 입력해주세요');
					return;
				}
				if (endDate == null || endDate == '') {
					alert('휴가 끝나는 날짜를 입력해주세요');
					$('input[name=endDate]').focus();
					return;
				}
				if(endDate < startDate){
					alert('끝나는 날짜가 시작날짜보다 이릅니다');
					return;
				}
				if (reReason == null || reReason == '') {
					alert('사유를 입력해주세요');
					$('input[name=reReason]').focus();
					return;
				}else{
					///startDayCk에 GET메소드 형식으로 키 startDate 에 값 startDate를 담아서 보낸다
					var startCk = $.ajax({
					url : "/startDayCk",
					method : "GET",
					data : {startDate : startDate},
					dataType: "text"
					})
				}
				
				//데이터가 성공적으로 받아지면 실행된다
				startCk.done(function(data) {
					if(data==0){
					//받은 데이터가 0일때 
					//"/holidayCk"에 GET메소드 형식으로 startDate와 endDate를 보낸다
						var holidayCk = $.ajax({
							url : "/holidayCk",
							method : "GET",
							data : {startDate : startDate ,endDate : endDate},
							dataType: "text"
							})
							
						//데이터가 성공적으로 받아지면 실행된다
						holidayCk.done(function(data) {
							//ajax를 통해서 받은 데이터가 0이면 submit()실행
							if(data==0){
								$('#requestForm').submit();
							}else{
								//아니면 휴가기간 중복 신청 불가라고 팝업창을 띄워줌
								alert("휴가 기간 중복 신청 불가");
							}
						})
					
					//startCk로 받은 데이터가 1일때 팝업창을 띄운다
					}else{
						alert("당일,지나간 날짜는 신청하실 수 없습니다.");
					} 
					
				})
			});
		})
		
	</script>

</th:block>

<!-- 본문----------------------------------------- -->
<th:block layout:fragment="customContent">

	<div class="static-table-area">
		<div class="container-fluid">

			<p style="color: gray;">
			달력으로 만들고 싶은데..
			<p>
			<form action="/holidayRequest" method="POST" id="requestForm">
				<input type="hidden" name="mrName" th:value="${session.SNAME}">
				<input type="hidden" name="mrId" th:value="${session.SID}">
				<table style="text-align: center;">
					<tr>
						<td style="font-size:30px; font-weight:1000;" colspan="3">
						<a style="color: black;" th:data-mCode="${session.SID}" class ="request">휴가 신청</a>
						</td>
					</tr>

					<tr>
						<td colspan="3"><input type="date" name="reStartDate">
							~ <input type="date" name="reEndDate"></td>
					</tr>
					<tr>
						<td>사유 <input type="text" name="reReason">
						</td>
						<td><select name="holidaySt" id="holidaySt">
								<option value="정기휴가">정기휴가</option>
								<option value="연차">연차</option>
								<option value="월차">월차</option>
								<option value="경조사">경조사</option>
						</select></td>
						<td>
							<button type="button" id="requestBtn">신청</button>
						</td>
					</tr>

				</table>
			</form>

			<br>

			<div class="sparkline8-list">
				<div class="sparkline8-hd">
					<div class="main-sparkline8-hd">
						<h1>휴가신청 목록</h1>
					</div>
				</div>
				<div class="sparkline8-graph">
					<div class="static-table-list">
						<table class="table" style="text-align: center;">
							<thead>
								<tr>
									<th style="text-align: center;">신청 날짜</th>
									<th style="text-align: center;">이름</th>
									<th style="text-align: center;" colspan="3">휴가 기간</th>
									<th style="text-align: center;">상태</th>
									<th style="text-align: center;">상세보기</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="l: ${holidayList}">
									<td th:text="${l.reDate}"></td>
									<td th:text="${l.mrId}"></td>
									<td th:text="${l.reStartDate}"></td>
									<td>~</td>
									<td th:text="${l.reEndDate}"></td>
									<td th:text="${l.reState}"></td>
									<td><a th:data-mCode="${l.reCode}" class ="detail">상세보기</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>



<!-- 스크립트 -------------------------------------------->
<th:block layout:fragment="customJsScript">
	<div th:replace="fragments/js :: jsFragment"></div>

</th:block>

<!-- js	 ------------------------------------------------>
<th:block layout:fragment="customJs">

</th:block>
</html>