<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">

<th:block layout:fragment="customTitle">
	<title></title>
</th:block>


<th:block layout:fragment="customCss">
	<!-- owl.carousel CSS
		============================================ -->
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/owl.transitions.css">
	<!-- morrisjs CSS
		============================================ -->
	<link rel="stylesheet" href="css/morrisjs/morris.css">
	<!-- modals CSS
		============================================ -->
	<link rel="stylesheet" href="css/modals.css">


	<script type="text/javascript">
		$(function() {

			$('#modifyRequestBtn').click(function() {
				$('#modifyRequestForm').submit();
			})

		})
	</script>


</th:block>

<th:block layout:fragment="customContent">
	<div class="static-table-area">
		<div class="container-fluid">


			<br>


			<div id="myTabContent" class="tab-content custom-product-edit">
				<div class="product-tab-list tab-pane fade active in"
					id="description">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="review-content-section">
								<div id="dropzone1" class="pro-ad">
									<br>
									<p style="font-size: 20px; font-weight: bold;">수정</p>
									<br>
									<form action="/attendanceModify" method="POST"
										id="modifyRequestForm">
										<input type="hidden" name="mrId"> <input
											type="hidden" name="attCode"
											th:value="${attManagementDetail.attCode}">
										<div style="width: 50%; float: left" class="container-fluid">
											<table id="tb" class="table table-striped">
												<tr>
													<td>이름</td>
													<td><input type="text" class="form-control"
														name="mrName" th:value="${attManagementDetail.mrName}"
														readonly="readonly"></td>
												</tr>
												<tr>
													<td>직급</td>
													<td><input type="text" class="form-control"
														name="mrName" th:value="${attManagementDetail.levelName}"
														readonly="readonly"></td>
												</tr>
												<tr>
													<td>출근시간</td>
													<td><input type="time" class="form-control"
														name="attStTime" th:value="${attManagementDetail.attStTime}"></td>
												</tr>
												<tr>
													<td>퇴근시간</td>
													<td><input type="time" class="form-control"
														name="attEndTime" th:value="${attManagementDetail.attEndTime}"></td>
												</tr>
												<tr>
													<td>식사시간</td>
													<td><input type="number" class="form-control"
														name="realMealTime"
														th:value="${attManagementDetail.realMealTime}"></td>
												</tr>
												<tr>
													<td>상태</td>
													<td><input type="text" class="form-control"
														name="confirm" th:value="${attManagementDetail.confirm}"
														readonly="readonly"></td>
												</tr>

											</table>
										</div>
										<div style="width: 50%; float: right" class="container-fluid">
											<table class="table table-striped">
												<tr>
													<td>외출시각</td>
													<td><input type="time" class="form-control"
														name="goingOutStTime"
														th:value="${attManagementDetail.goingOutStTime}"></td>
												</tr>
												<tr>
													<td>복귀시각</td>
													<td><input type="time" class="form-control"
														name="goingOutEndTime"
														th:value="${attManagementDetail.goingOutEndTime}"></td>
												</tr>
												<tr>
													<td>외출시간</td>
													<td><input type="number" class="form-control"
														name="goingOut" th:value="${attManagementDetail.goingOut}"></td>
												</tr>
												<tr>
													<td>근무시간</td>
													<td><input type="number" class="form-control"
														name="attTime" th:value="${attManagementDetail.attTime}"></td>
												</tr>
												<tr>
													<td>초과 근무시간</td>
													<td><input type="number" class="form-control"
														name="workOvertime"
														th:value="${attManagementDetail.workOvertime}"></td>
												</tr>
												<tr>
													<td>비고</td>
													<td><input type="text" class="form-control"
														name="attNote" th:value="${attManagementDetail.attNote}"
														readonly="readonly"></td>
												</tr>
											</table>
										</div>
										<div style="width: 100%; float: right" class="container-fluid">


											<table class="table table-striped">
												<tr>
													<td
														style="text-align: center; font-size: 20px; font-weight: 500;">
														<div class="form-group">내용</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="form-group">
															<textarea name="reReason" readonly="readonly"
																th:field="${attManagementDetail.modifyRequest}"
																class="form-control"></textarea>
														</div>
													</td>
												</tr>
											</table>
											<div class="payment-adress">
												<button type="button" id="modifyRequestBtn"
													class="btn btn-primary waves-effect waves-light">수정</button>
												<button type="button" id="modifyRequestBtn"
													class="btn btn-primary waves-effect waves-light">취소</button>
												<br> <br>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</th:block>

<th:block layout:fragment="customJsScript">
	<div th:replace="fragments/js :: jsFragment"></div>

</th:block>


<th:block layout:fragment="customJs">

</th:block>
</html>