<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default">

<th:block layout:fragment="customTitle">
	<title></title>
</th:block>


<th:block layout:fragment="customCss">
	<!-- owl.carousel CSS
		============================================ -->
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/owl.transitions.css">
	<!-- morrisjs CSS
		============================================ -->
	<link rel="stylesheet" href="css/morrisjs/morris.css">
	<!-- modals CSS
		============================================ -->
	<link rel="stylesheet" href="css/modals.css">
	
	
	<script type="text/javascript">
	
	$(function(){
	
		$('#stTimeBtn').click(function() {
			var sid= $('#sid').val();
         	var dateCheck = $.ajax({
				url : "/dateCheck",
				method : "GET",
				data : {sid : sid},
				dataType: "text"
				}) 
				
				dateCheck.done(function(data) {
					if(data==0){
						window.location.href='/workAttendance';
					}else{
						alert("이미 출근 하셨습니다");
					}
				})
		})
		
		
		
		$('.detail').click(function() {
			var attCode = $(this).attr('data-mCode');
			alert("dddd");
         	window.location.href='/workAttendanceDetail?attCode='+attCode;
         	alert(attCode);
		})
		
		
		
	})
	
	
	</script>
	

</th:block>

<th:block layout:fragment="customContent">



	
	
	
	
	
	<div class="single-pro-review-area mt-t-30 mg-b-15">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="profile-info-inner">
						
						<div class="profile-details-hr">
							<div class="row">
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
									<div class="address-hr">
										<p>
											<b>name</b>
										<div th:text="${session.SNAME}"></div>
										<input type = "hidden" id = "sid" th:value="${session.SID}">

									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
									<div class="address-hr tb-sm-res-d-n dps-tb-ntn">
										<p>
											<b>직급</b><br />
											<div th:text="${session.SLEVELNAME}"></div>
										</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
									<div class="address-hr tb-sm-res-d-n dps-tb-ntn">
										<div class="modal-area-button">
											<a class="Primary mg-b-10" href="#" data-toggle="modal"
												data-target="#PrimaryModalalert" style="color: white;">출근</a>
										</div>
									</div>
								</div>
								<div id="PrimaryModalalert"
									class="modal modal-edu-general default-popup-PrimaryModal fade"
									role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-close-area modal-close-df">
												<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
											</div>
											<div class="modal-body">
												<i class="educate-icon educate-checked modal-check-pro"></i>
												<h2>출근</h2>
											</div>
											<div class="modal-footer">
												<a id = "stTimeBtn">확인</a> <a data-dismiss="modal" href="#">취소</a>
												<!-- href="/workAttendance" -->
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
									<div class="address-hr tb-sm-res-d-n dps-tb-ntn">
										<div class="modal-area-button">
											<a class="Primary mg-b-10" href="#" data-toggle="modal"
												data-target="#PrimaryModalalert2" style="color: white;">퇴근</a>
										</div>
									</div>
								</div>
								<div id="PrimaryModalalert2"
									class="modal modal-edu-general default-popup-PrimaryModal fade"
									role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-close-area modal-close-df">
												<a class="close" data-dismiss="modal" href="#"><i
													class="fa fa-close"></i></a>
											</div>
											<div class="modal-body">
												<i class="educate-icon educate-checked modal-check-pro"></i>
												<h2>퇴근</h2>
											</div>
											<div class="modal-footer">
												<a href="/workAttendanceEnd">확인</a> <a data-dismiss="modal"href="#">취소</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
									<div class="address-hr tb-sm-res-d-n dps-tb-ntn">
										<div class="modal-area-button">
											<a class="Primary mg-b-10" href="#" data-toggle="modal"
												data-target="#PrimaryModalalert3" style="color: white;">외출</a>
										</div>
									</div>
								</div>
								<div id="PrimaryModalalert3"
									class="modal modal-edu-general default-popup-PrimaryModal fade"
									role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-close-area modal-close-df">
												<a class="close" data-dismiss="modal" href="#"><i
													class="fa fa-close"></i></a>
											</div>
											<div class="modal-body">
												<i class="educate-icon educate-checked modal-check-pro"></i>
												<h2>외출</h2>
											</div>
											<div class="modal-footer">
												<a  href="/goingStOut">확인</a> <a data-dismiss="modal" href="#">취소</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
									<div class="address-hr tb-sm-res-d-n dps-tb-ntn">
										<div class="modal-area-button">
											<a class="Primary mg-b-10" href="#" data-toggle="modal"
												data-target="#PrimaryModalalert4" style="color: white;">복귀</a>
										</div>
									</div>
								</div>
								<div id="PrimaryModalalert4"
									class="modal modal-edu-general default-popup-PrimaryModal fade"
									role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-close-area modal-close-df">
												<a class="close" data-dismiss="modal" href="#"><i
													class="fa fa-close"></i></a>
											</div>
											<div class="modal-body">
												<i class="educate-icon educate-checked modal-check-pro"></i>
												<h2>복귀</h2>
											</div>
											<div class="modal-footer">
												<a href="/goingOutEnd">확인</a> <a data-dismiss="modal" href="#">취소</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="address-hr">
									<p>
										<b>Address</b><br /> E104, catn-2, Chandlodia Ahmedabad
										Gujarat, UK.
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<div class="address-hr">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<h3>500</h3>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<div class="address-hr">
									<a href="#"><i class="fa fa-twitter"></i></a>
									<h3>900</h3>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<div class="address-hr">
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<h3>600</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<div
						class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
						<ul id="myTabedu1" class="tab-review-design">
							<li class="active"><a href="#description">출퇴근 리스트</a></li>
						</ul>
						<div id="myTabContent"
							class="tab-content custom-product-edit st-prf-pro">
							<div class="product-tab-list tab-pane fade active in"
								id="description">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<table class="table" >
								<thead>
									<tr>
										<th>날짜</th>
										<th>출근 시간</th>
										<th>퇴근시간</th>
										<th>외출시간</th>
										<th>근무시간</th>
										<th>비고</th>
										<th>상세보기</th>
										<th>관리자확인</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="l: ${getAttendanceList}">
										<td th:text="${l.attDate}"></td>
										<td th:text="${l.attStTime}"></td>
										<td th:text="${l.attEndTime}"></td>
										<td th:text="${l.goingOut}"></td>
										<td th:text="${l.attTime}"></td>
										<td th:text="${l.attNote}"></td>
										<td><a th:data-mCode="${l.attCode}" class="detail">상세보기</a></td>
										<td th:text="${l.confirm}"></td>
									</tr>								
								</tbody>
							</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</th:block>

<th:block layout:fragment="customJsScript">
	<div th:replace="fragments/js :: jsFragment"></div>

</th:block>


<th:block layout:fragment="customJs">

</th:block>
</html>