<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cafe24.wio.mapper.ApprMapper">


	<select id="getReCode" resultType="hashMap">
		SELECT (max(CAST(substring(request_code,9) AS DECIMAL))+1)as max FROM wt_approval_request
	
	
	</select>


	<insert id="addholidayApproval" parameterType="ApprovalRequest">
	
		INSERT INTO wt_approval_request
		(request_code, request_sortation, mr_id, request_date, request_start_date, request_end_date, request_outting_time, request_reason, sortation, request_supervisor, request_processing_date, request_state)
		VALUES (#{reCode},'holiday', #{mrId}, NOW(), #{reStartDate}, #{reEndDate}, null,  #{reReason}, #{sortation},null, null, '신청')
		
	</insert>
	
	
	
	<select id="getMemberById" parameterType="String" resultType="Member">
		SELECT mr_id as mrId
				, mr_pw as mrPw
				, mr_name as mrName
		FROM wt_member_registration
		WHERE 
			mr_id = #{mrId};
	</select>


	<select id="getHolidayList" resultType="ApprovalRequest">
		
		SELECT request_date as reDate
				, r.mr_name as mrId
				, left(request_start_date,10) as reStartDate
				, left(request_end_date,10) as reEndDate
				, request_reason as reReason
				, sortation as sortation
				, request_supervisor as reSupervisor 
				, request_processing_date as reProcessingDate
				, request_state as reState
		FROM wt_approval_request AS a 
			LEFT JOIN wt_member_registration AS r
			ON a.mr_id = r.mr_id
		WHERE request_sortation = 'holiday';

	</select>

</mapper>
    