<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafe24.wio.mapper.ConsultingMapper">
	<resultMap type="Consulting" id="ConsultingMap">
		<result column="cs_code" 		property="ConsultingCode"/>
		<result column="cs_date" 		property="ConsultingTitle"/>
		<result column="mr_o_id" 		property="ConsultingTeacher"/>
		<result column="cs_date" 		property="ConsultingDate"/>
		<result column="cs_lec_name" 	property="ConsultingClass"/>
		<result column="cs_s_name" 		property="ConsultingStudent"/>
		<result column="cs_data" 		property="ConsultingData"/>
	</resultMap>
	<select id="consultingInformation" resultType="hashMap" parameterType="map">
		SELECT 
			 cs_code
			,cs_title
			,mr_o_id
			,cs_date
			,cs_lec_name
			,cs_s_name
			,cs_data
		FROM 
			wt_consulting
		WHERE 
			cs_code = #{ConsultingCode};
	
	</select>
	<select id="consultingList" resultType="hashMap" parameterType="map">
		 SELECT 
		 	cs.rowNum   AS rowNum
		 	, cs_code		AS ConsultingCode
         	, cs_title		AS ConsultingTitle
			, mr_o_id		AS ConsultingTeacher
			, cs_date		AS ConsultingDate
			, cs_lec_name	AS ConsultingClass
			, cs_s_name		AS ConsultingStudent
			, cs_data		AS ConsultingData
      FROM 
         (SELECT
            (@rowNum := @rowNum+1) AS rowNum
            , cs_code
           	, cs_title
			, mr_o_id
			, cs_date
			, cs_lec_name
			, cs_s_name
			, cs_data
         FROM   
            wt_consulting AS c
            JOIN
            (SELECT @rowNum :=0 ) AS r   
        	ORDER BY c.cs_code ASC) AS cs
     		LIMIT #{startRow},#{rowPerPage};  
	</select>
	<select id="consultingListCount" resultType="int">
      SELECT
         COUNT(*)
      FROM
         wt_consulting;
    </select>
	<select id="SelectTeacher" resultType="hashMap" parameterType="String">
		SELECT 
			mr_id
			,mr_name
		FROM 
			wt_member_registration
		WHERE
	 		level_num = 1 OR level_num = 2 OR level_num = 3;
	</select>
	<select id="SelectLecName" resultType="hashMap" parameterType="String">
		SELECT 
			lec_name
		FROM 
			wt_lecture_open_schedule;
	</select>
	<insert id="addConsultingWrite">
		INSERT INTO 
			wt_consulting
			(cs_code
			, cs_title
			, mr_o_id
			, cs_date
			, cs_lec_name
			, cs_s_name
			, cs_data)
		VALUES 
			(NULL
			, #{ConsultingTitle}
			, #{ConsultingTeacher}
			, NOW(), #{ConsultingClass}
			, #{ConsultingStudent}
			, #{ConsultingData});
	</insert>
</mapper>