<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cafe24.wio.mapper.GradeMapper">
<resultMap type="Grade" id="gradeResultMap">
		<result column="grade_man_code" 		property="gradeManCode"/>
		<result column="mr_id" 					property="mrId"/>
		<result column="test_round" 			property="testRound"/>
		<result column="grade_man_score" 		property="gradeManScore"/>
		<result column="grade_man_reg_date" 	property="gradeManRegDate"/>
		<result column="mr_name" 				property="mrName"/>
		<result column="test_number" 			property="testNumber"/>	
		<result column="lec_name" 			    property="lecName"/>	
		
</resultMap>

<!-- 성적조회 -->
<select id="getGradeList" resultType="Grade" resultMap="gradeResultMap">
	SELECT
		 grade_man_code
		, mr_name
		, test_number
		, grade_man_score
		, grade_man_reg_date
	FROM
		wt_member_registration 
		INNER join
		wt_grade_management 
		on
		wt_member_registration.mr_id = wt_grade_management.mr_id
		INNER JOIN
		wt_grade_num 
		ON.
		wt_grade_num.grade_test_num = wt_grade_management.test_round
	ORDER by
		wt_grade_management.grade_man_code ASC;	
	
</select>

<!-- 상세조회 -->
<select id="getGradeDetailList" resultType="Grade" parameterType="String" resultMap="gradeResultMap">
	
	SELECT
		 grade_man_code
		, mr_name
		, test_number
		, grade_man_score
		, grade_man_reg_date
	FROM
		wt_member_registration 
		INNER join
		wt_grade_management 
		on
		wt_member_registration.mr_id = wt_grade_management.mr_id
		INNER JOIN
		wt_grade_num 
		ON.
		wt_grade_num.grade_test_num = wt_grade_management.test_round
	where
		grade_man_code = #{gradeManCode};
	
</select>

<!-- 조건검색  -->

<select id="searchGrade" resultType="Grade" resultMap="gradeResultMap" >
	SELECT
		 grade_man_code
		, mr_name
		, test_number
		, grade_man_score
		, grade_man_reg_date
	FROM
		wt_member_registration 
		INNER join
		wt_grade_management 
		on
		wt_member_registration.mr_id = wt_grade_management.mr_id
		INNER JOIN
		wt_grade_num 
		ON.
		wt_grade_num.grade_test_num = wt_grade_management.test_round
	WHERE
		${lecGd} LIKE CONCAT('%',#{lecGds},'%');	

</select>

<!-- 성적입력  -->
<insert id="insertGrade"  parameterType="Grade">

INSERT INTO 
	wt_grade_management(
			grade_man_code
			, mr_id
			, test_round
			, grade_man_score
			, grade_man_reg_date)
	VALUES (
			  #{gradeManCode}
			, #{mrName}
			, #{testNumber}
			, #{gradeManScore}
			, NOW());

</insert>

<!-- 학생이름가져오기  -->
<select id="sName" resultType="hashMap" >

	SELECT 
		 mr_id
		,mr_pw
		,mr_name
		,level_num
		,mr_phone
		,mr_addr
		,mr_target_score
		,pm_r_code
		,mr_account_num
		,shuttle_num
		,mr_reg_date
	FROM 
		wt_member_registration
	WHERE
		level_num = 4;	
		
</select>

<!-- 회차가져오기  -->
<select id="testNum" resultType="hashMap" >

	SELECT 
		 grade_test_num
		,test_number
		,grade_test_reg_date
	FROM 
		wt_grade_num;
		
</select> 

<!-- 자동증가코드  -->
<select id="gradeCode" resultType="hashMap">
	SELECT IFNULL((SELECT max(CAST(SUBSTRING(grade_man_code,6) AS DECIMAL))+1 FROM wt_grade_management),1) AS max;
</select>

<!-- 강의 소스가져오기  -->
<select id="classFile" resultType="hashMap" >
	SELECT 

		  lec_number
		, lec_designation
		, lec_group_id
		, lec_group_name
		, lec_group_sort
		, lec_starttime
		, lec_endtime
		, lec_grading_std
		, qs_sd_score
	FROM
	 	wt_lec_resource;
</select>

<!-- 성적 수정하기 -->
<update id="updateGrade" parameterType="Grade">

	UPDATE 
		wt_grade_management
	SET
		grade_man_score= ${gradeManScore},
		grade_man_reg_date= NOW()
	WHERE 
		grade_man_code= #{gradeManCode};

</update>


</mapper>   

