<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cafe24.wio.mapper.LectureMapper">

<resultMap type="LectureOpenSchedule" id="resultLectureOS">
	<result column="lec_os_code" 		property="lecOsCode"/>
	<result column="lec_name" 			property="lecName"/>
	<result column="mr_teacher_id" 		property="mrTeacherId"/>
	<result column="mr_name" 			property="mrTeacherName"/>
	<result column="lec_time_code" 		property="lecTime"/>
	<result column="lec_room_code" 		property="lecRoom"/>
	<result column="lec_day" 			property="lecDay"/>
	<result column="lec_level_code" 	property="lecLevel"/>
	<result column="lec_tuition" 		property="lecTuition"/>
	<result column="cla_capacity" 		property="claCapacity"/>
	<result column="lec_st_date" 		property="lecStartDate"/>
	<result column="lec_fin_date" 		property="lecFinalDate"/>
	<result column="lec_os_reg_date" 	property="lecOsRegDate"/>
	<result column="lec_os_remark" 		property="lecOsRemark"/>
</resultMap>
<!-- ************************* START *************************** -->
<!-- *************************강의 리스트**************************** -->
<!-- ************************* START *************************** -->

<!-- 강의코드 자동증가 -->
<select id="getLecOpenCode" resultType="String">
SELECT IFNULL(
	(SELECT 
		MAX(CAST(substring(lec_op_code,10) AS DECIMAL))+1 
FROM 
	wt_lecture_open),1) AS MAX;
</select>

<!-- 강의리스트에 등록하기 -->
<insert id="addLectureOpen" parameterType="LectureOpen">

INSERT INTO wt_lecture_open
	(lec_op_code
	, lec_os_code
	, lec_status
	, cla_people
	, cla_lack
	, lec_op_writer
	, lec_op_reg_date
	)VALUES(
	#{lecOpCode}
	, #{lecOsCode}
	, 'lec_rs_status01'
	, 20
	, 0
	, #{lecOpWriter}
	, CURRENT_DATE());


</insert>

<!-- 강의예정리스트 상세보기 -->
<select id="getLecOsListOnly" resultType="hashMap">
SELECT
	los.lec_os_code				AS	'lecOsCode'
	,los.lec_name				AS	'lecName'
	,los.mr_teacher_id			AS	'mrTeacherId'
	,mr.mr_name					AS	'mrTeacherName'
	,lrt.lec_starttime			AS	'lecStartTime'
	,lrt.lec_endtime			AS	'lecEndTime'
	,lrt.lec_designation		AS 	'lecTimeName'
	,lrr.lec_designation		AS	'lecRoom'
	,los.lec_day				AS	'lecDay'
	,lrl.lec_designation		AS	'lecLevel'
	,los.lec_tuition			AS	'lecTuition'
	,
	(SELECT COUNT(c.lec_os_code)
		FROM wt_course AS c
	WHERE los.lec_os_code = c.lec_os_code)
								AS	'lecApplyCount'
	,los.cla_capacity			AS	'lecClaCapacity'
	,los.lec_st_date			AS	'lecStartDate'
	,los.lec_fin_date			AS	'lecFinalDate'
	,los.lec_os_writer			AS 	'lecOsWriter'
	,los.lec_os_reg_date		AS	'lecOsRegDate'
	,los.lec_os_remark			AS	'lecOsRemark'
FROM
	wt_lecture_open_schedule AS los
	INNER JOIN
	wt_member_registration AS mr
	ON
	los.mr_teacher_id = mr.mr_id
	LEFT JOIN
	wt_lec_resource AS lrt
	ON
	los.lec_time_code = lrt.lec_number
	LEFT JOIN
	wt_lec_resource AS lrr
	ON
	los.lec_room_code = lrr.lec_number
	LEFT join
	wt_lec_resource AS lrl
	ON
	los.lec_level_code = lrl.lec_number
	WHERE 
	lec_os_code = #{lecOsCode};
</select>

<!-- 개설된 강의 상태변경 -->
<update id="changeLecStatus">
UPDATE wt_lecture_open
	SET
		lec_status=#{changeLecStatus}
	WHERE 
		lec_op_code= #{lecOpCode};
</update>

<!-- 강의리스트 조회 -->
<select id="getLectureList"	resultType="hashMap">
SELECT 
	lo.lec_op_code			AS	'lecOpCode'
	,lo.lec_os_code			AS	'lecOsCode'
	,lo.lec_status			AS	'lecStatus'
	,(SELECT 
		COUNT(c.lec_os_code)
	FROM 
		wt_course AS c
	WHERE 
		lo.lec_os_code 
			= c.lec_os_code)
							AS	'lecApplyCount'
	,(	SELECT
			los.cla_capacity
		FROM
			wt_lecture_open_schedule AS los
		where los.lec_os_code = lo.lec_os_code)
							AS	'claCapacity'
	,lo.cla_people			AS	'claPeople'
	,lo.cla_lack			AS	'claLack'
	,lo.lec_op_writer		AS	'lecOpWriter'
	,lo.lec_op_reg_date		AS	'lecOpRegDate'
	,lr.lec_designation		AS	'lecStatusName'
FROM
	wt_lecture_open	AS lo
	LEFT JOIN 
	wt_lec_resource	AS lr
	ON
	lo.lec_status = lr.lec_number;
</select>

<!-- 강의예정코드로 중복개설되었는지 확인 -->
<select id="checkLecOpen" resultType="LectureOpen">
SELECT
	lo.lec_op_code	AS lecOpCode
FROM
	wt_lecture_open AS lo
WHERE
	lo.lec_os_code = #{lecOsCode};

</select>


<!-- ************************ END ****************************** -->
<!-- ************************강의 리스트**************************** -->
<!-- ************************ END ***************************** -->


<!-- *********************** START ************************* -->
<!-- *************************강의예정************************ -->
<!-- *********************** START ************************* -->

<!-- 강의개설신청시 코드 강의예정 코드 자동증가 -->
<select id="getLecOsMaxCode" resultType="String">
SELECT IFNULL(
	(SELECT 
		MAX(CAST(substring(lec_os_code,8) AS DECIMAL))+1 
FROM 
	wt_lecture_open_schedule),1) AS MAX;
</select>

<!-- 강의 신청인원 조회 -->
<select id="getApplyCount" resultType="hashMap">
SELECT
	(SELECT 
		COUNT(c.lec_os_code)
	FROM 
		wt_course AS c
	WHERE 
		los.lec_os_code 
			= c.lec_os_code)
						AS	'lecApplyCount'
FROM
	wt_lecture_open_schedule AS los;

</select>
<!-- 강의코드만 가져오기 -->
<select id="getLecOsCode" resultType="LectureOpenSchedule" resultMap="resultLectureOS">
SELECT 
	lec_os_code
FROM wt_lecture_open_schedule
</select>

<!-- 강의예정 리스트 조회 -->
<select id="getLectureOsList" resultType="hashMap">
SELECT
	los.lec_os_code				AS	'lecOsCode'
	,los.lec_name				AS	'lecName'
	,los.mr_teacher_id			AS	'mrTeacherId'
	,mr.mr_name					AS	'mrTeacherName'
	,lrt.lec_starttime			AS	'lecStartTime'
	,lrt.lec_endtime			AS	'lecEndTime'
	,lrt.lec_designation		AS 	'lecTimeName'
	,lrr.lec_designation		AS	'lecRoom'
	,los.lec_day				AS	'lecDay'
	,lrl.lec_designation		AS	'lecLevel'
	,los.lec_tuition			AS	'lecTuition'
	,
	(SELECT COUNT(c.lec_os_code)
		FROM wt_course AS c
	WHERE los.lec_os_code = c.lec_os_code)
								AS	'lecApplyCount'
	,los.cla_capacity			AS	'lecClaCapacity'
	,los.lec_st_date			AS	'lecStartDate'
	,los.lec_fin_date			AS	'lecFinalDate'
	,los.lec_os_writer			AS 	'lecOsWriter'
	,los.lec_os_reg_date		AS	'lecOsRegDate'
	,los.lec_os_remark			AS	'lecOsRemark'
FROM
	wt_lecture_open_schedule AS los
	INNER JOIN
	wt_member_registration AS mr
	ON
	los.mr_teacher_id = mr.mr_id
	LEFT JOIN
	wt_lec_resource AS lrt
	ON
	los.lec_time_code = lrt.lec_number
	LEFT JOIN
	wt_lec_resource AS lrr
	ON
	los.lec_room_code = lrr.lec_number
	LEFT join
	wt_lec_resource AS lrl
	ON
	los.lec_level_code = lrl.lec_number;

</select>

<!-- 회원중 시간강사만 조회 -->
<select id="getTeacherList" resultType="hashMap">
SELECT 
	mr.mr_id		AS mrTeacherId
	,mr.mr_name		AS mrTeacherName
FROM 
	wt_member_registration AS mr
WHERE 
	mr.level_num = 2;
</select>

<!-- 강의수준조회 -->
<select id="getLectureLevel" resultType="hashMap">
SELECT
	lr.lec_number			AS	'lecLevel'
	,lr.lec_designation		AS	'lecLevelName'
FROM
	wt_lec_resource AS lr 
WHERE
	lr.lec_number LIKE CONCAT('%','level','%');
</select>

<!-- 강의실조회 -->
<select id="getLectureRoom" resultType="hashMap">
SELECT
	lr.lec_number			AS	'lecRoom'
	,lr.lec_designation		AS	'lecRoomName'
FROM
	wt_lec_resource AS lr 
WHERE
	lr.lec_number LIKE CONCAT('%','room','%');

</select>

<!-- 강의상태구분 조회 -->
<select id="getLectureStatus" resultType="hashMap">
SELECT
	lr.lec_number			AS	'lecStatus'
	,lr.lec_designation		AS	'lecStatusName'
FROM
	wt_lec_resource AS lr 
WHERE
	lr.lec_number LIKE CONCAT('%','status','%');

</select>

<!-- 강의시간조회 -->
<select id="getLectureTime" resultType="hashMap">
SELECT
	lr.lec_number			AS	'lecTime'
	,lr.lec_designation		AS	'lecTimeName'	
	,lr.lec_starttime		AS	'lecStartTime'
	,lr.lec_endtime			AS	'lecEndTime'
FROM
	wt_lec_resource AS lr 
WHERE
	lr.lec_number LIKE CONCAT('%','time','%');
</select>

<!-- 강의개설예정 비고사항 가져오기 -->
<select id="getLecOsRemark" resultType="hashMap">
SELECT
	los.lec_os_remark		AS	'lecOsRemark'
FROM
	wt_lecture_open_schedule AS los
WHERE
	los.lec_os_code = #{lecOsCode};

</select>

<!-- 강의개설 신청하기 -->
<insert id="applyLectureOpen" parameterType="LectureOpenSchedule">
INSERT INTO wt_lecture_open_schedule
	(lec_os_code
	, lec_name
	, mr_teacher_id
	, lec_time_code
	, lec_room_code
	, lec_day
	, lec_level_code
	, lec_tuition
	, cla_capacity
	, lec_st_date
	, lec_fin_date
	, lec_os_writer
	, lec_os_reg_date
	, lec_os_remark
	)VALUES(
	  #{lecOsCode}
	, #{lecName}
	, #{mrTeacherId}
	, #{lecTime}
	, #{lecRoom}
	, #{lecDay}
	, #{lecLevel}
	, ${lecTuition}
	, ${claCapacity}
	, #{lecStartDate}
	, #{lecFinalDate}
	, #{lecOsWriter}
	, CURRENT_TIME()
	, #{lecOsRemark});

</insert>


<!-- *********************** END ************************* -->
<!-- *********************************************** -->
<!-- *********************** END ************************* -->


</mapper>
    
