<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cafe24.wio.mapper.MemberMapper">

	<!-- 2. 로그인 -->
	<select id="login" resultType="Member" parameterType="String">
		SELECT
				mr_id				AS mrId
			, 	mr_pw				AS mrPw
			, 	mr_name				AS mrName
			, 	level_num			AS levelNum
			, 	mr_phone			AS mrPhone
			, 	mr_addr				AS mrAddr
			, 	mr_join_date		AS mrJoinDate
			, 	mr_reg_date 		AS mrRegDate

		FROM
			wt_member_registration AS m
		WHERE
			m.mr_id = #{mrId}
		AND
			m.mr_pw = #{mrPw};
	</select>
	
	<!-- 1-3. 아이디 중복 검사 / 로그인 처리시 사용 -->
	<select id="WIOMemberIdCheck" parameterType="String" resultType="String">
		SELECT
				m.mr_id
			,	m.mr_pw
			,	m.mr_name
		FROM 
			wt_member_registration AS m
		WHERE
			m.mr_id = #{mrId}
		AND
			m.mr_pw = #{mrPw};
	</select>
	

	<!-- 1-2. 구성원 정보 보기 -->
	<select id="getMemberInfo" resultType="Member" parameterType="String">
<!-- 	
		SELECT
				mr_id 					AS mrId
			,	mr_pw 					AS mrPw
			,	mr_name					AS mrName
			,	mr_phone				AS mrPhone
			,	mr_addr 				AS mrAddr
			,	mr_target_score	 		AS mrTargetScore
			,	pm_r_code 				AS pmRCode
			,	mr_account_num	 		AS mrAccountNum
			, 	mr_join_date 			AS mrJoinDate
			, 	mr_reg_date 			AS mrRegDate
		FROM
			wt_member_registration 	AS m
		WHERE
			m.mr_id = #{mrId}
 -->
 
	 	SELECT
				m.mr_id				AS mrId
			,	m.mr_pw				AS mrPw
			,	m.mr_name			AS mrName
			,	m.level_num			AS levelNum
			,	m.mr_phone			AS mrPhone
			,	m.mr_addr			AS mrAddr
			,	m.mr_target_score	AS mrTargetScore
			,	m.mr_account_num	AS mrAccountNum
			,	m.mr_join_date		AS mrJoinDate
			,	m.mr_reg_date		AS mrRegDate
			,	pr.pm_r_title		AS pmRTitle
	
		FROM
			wt_member_registration AS m
		LEFT JOIN
			wt_payment_resource AS pr
		ON
			m.pm_r_code = pr.pm_r_code
		WHERE
			m.mr_id = #{mrId};
 	
	</select>
	
	<!-- 1-2. 구성원 추가 정보 입력 시, select 태그 열고 쿼리를 하나 더 작성 -->
	

	<!-- 1. 구성원 리스트 가져오기 -->
	<select id="getWIOMemberList" resultType="Member">
		SELECT 
				mr_id				AS mrId
			, 	mr_pw				AS mrPw
			, 	mr_name				AS mrName
			, 	level_num			AS levelNum
			, 	mr_phone			AS mrPhone
			, 	mr_addr				AS mrAddr
			, 	mr_target_score		AS mrTargetScore
			, 	pm_r_code			AS pmRCode
			, 	mr_account_num		AS mrAccountNum
			, 	shuttle_num			AS shuttleNum
			,	mr_join_date		AS mrJoinDate
			, 	mr_reg_date			AS mrRegDate
		FROM 
			wt_member_registration;
	</select>



</mapper>