<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cafe24.wio.mapper.MemberMapper">

	<!-- 2. 로그인 -->
	

	<!-- 1-2. 구성원 정보 보기 -->


	<!-- 1. 구성원 리스트 가져오기 -->
	<select id="getWIOMemberList" resultType="Member">
		SELECT 
				mr_id				AS mrId
			, 	mr_pw				AS mrPw
			, 	mr_name				AS mrName
			, 	level_num			AS levelNum
			, 	mr_phone			AS mrPhone
			, 	mr_addr				AS mrAddr
			, 	mr_target_score		AS mrTargetScore
			, 	pm_r_code			AS pmRCode
			, 	mr_account_num		AS mrAccountNum
			, 	shuttle_num			AS shuttleNum
			,	mr_join_date		AS mrJoinDate
			, 	mr_reg_date			AS mrRegDate
		FROM 
			wt_member_registration;
	</select>



</mapper>