<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cafe24.wio.mapper.OfficersPayMapper">
	<resultMap type="OfficersPay" id="officersPayResultMap">
		<result column="opc_code"						property="opcCode"/>
		<result column="mr_id"							property="mrId"/>
		<result column="mr_name"						property="mrName"/>
		<result column="p_r_title"						property="pRTitle"/>
		<result column="pm_r_title"						property="pmRTitle"/>	
		<result column="opc_hourly_wage"				property="opcHourlyWage"/>
		<result column="opc_total_hour"					property="opcTotalHour"/>
		<result column="opc_base_pay"					property="opcBasePay"/>
		<result column="opc_food expenses"				property="opcFoodExpenses"/>
		<result column="opc_transportation"				property="opcTransportation"/>
		<result column="opc_welfare"					property="opcWelfare"/>
		<result column="opc_bonus"						property="opcBonus"/>
		<result column="opc_ect"						property="opcEct"/>
		<result column="opc_total"						property="opcTotal"/>
		<result column="opc_reg_date"					property="opcRegDate"/>
		<result column="opc_writer"						property="opcWriter"/>
		<result column="opd_code"						property="opdCode"/>
		<result column="iy_code"						property="iyCode"/>
		<result column="opd_income_tax"					property="opdIncomeTax"/>
		<result column="opd_resident_income_tax"		property="opdResidentIncomTax"/>
		<result column="opd_employment_insurance"		property="opdEmploymentInsurance"/>
		<result column="opd_national_pension"			property="opdNationalPension"/>
		<result column="opd_health_insurance"			property="opdHealthInsurance"/>
		<result column="opd_longterm_nursing_insurance"	property="opdLongtermNursingInsurance"/>
		<result column="opd_total"						property="opdTotal"/>
		<result column="opd_reg_date"					property="opdRegDate"/>
		<result column="opd_writer"						property="opdWriter"/>
		<result column="op_code"						property="opCode"/>
		<result column="op_date"						property="opDate"/>	
		<result column="op_pay"							property="opPay"/>	
		<result column="op_reg_date"					property="opRegDate"/>	
		<result column="op_writer"						property="opWriter"/>
		<result column="mr_join_date"					property="mrJoinDate"/>
		<result column="mr_account_num"					property="mrAccountNum"/>	
	</resultMap>
	
	<!-- 직원급여입력 -->
	<insert id="addOfficersPay" parameterType="OfficersPay">
	INSERT INTO wt_officers_pay
		(op_code
		, mr_id
		, p_r_title
		, op_date
		, opd_code
		, op_pay
		, op_reg_date
		, op_writer
		)VALUES(
				#{opdCode}
				, #{mrId}
				, #{pRTitle}
				, #{opDate}
				, #{opdCode}
				, #{opPay}
				, NOW()
				, '')	
	</insert>
	<!-- 공제계 입력하기 -->
	<insert id="addOffiDedupay" parameterType="OfficersPay">
	INSERT INTO wt_officers_pay_deduction
		(opd_code
		, mr_id
		, iy_code
		, p_r_title
		, opd_income_tax
		, opd_resident_income_tax
		, opc_code
		, opd_employment_insurance
		, opd_national_pension, opd_health_insurance
		, opd_longterm_nursing_insurance, opd_total
		, opd_reg_date
		, opd_writer
		)VALUES(
				#{opdCode}
				, #{mrId}
				, #{iyCode}
				, #{pRTitle}
				, #{opdIncomeTax}
				, #{opdResidentIncomTax}
				, #{opcCode}
				, #{opdEmploymentInsurance}
				, #{opdNationalPension}
				, #{opdHealthInsurance}
				, #{opdLongtermNursingInsurance}
				, #{opdTotal}
				, NOW()
				, '');
	</insert>
	<!-- 공제계구하기 -->
	<select id="OfficersDedu" resultType="OfficersPay" parameterType="String">
	SELECT 
		iy.iy_resident_income
			* #{opdIncomeTax}
		AS opdResidentIncomTax
		,iy.iy_employment_insurance
			* (SELECT pc.opc_total AS opcTotal FROM wt_officers_pay_calculate AS pc WHERE pc.opc_code = #{opdCode})					
		AS opdEmploymentInsurance
		,iy.iy_national_pension	
			* (SELECT pc.opc_total AS opcTotal FROM wt_officers_pay_calculate AS pc WHERE pc.opc_code = #{opdCode})					
		AS opdNationalPension
		,iy.iy_health_insurance	
			* (SELECT pc.opc_total AS opcTotal FROM wt_officers_pay_calculate AS pc WHERE pc.opc_code = #{opdCode})					
		AS opdHealthInsurance
		,iy.iy_longterm_nursing_insurance 
			* iy.iy_health_insurance	
			* (SELECT pc.opc_total AS opcTotal FROM wt_officers_pay_calculate AS pc WHERE pc.opc_code = #{opdCode})			
		AS opdLongtermNursingInsurance
	FROM 
		wt_insurance_year AS iy
	WHERE
		iy.iy_code = #{iyCode};
		
	</select>
	<!-- 직원급여계 입력하기 -->
	<insert id="addOffiCalpay" parameterType="OfficersPay">
		INSERT INTO wt_officers_pay_calculate
			(opc_code							
			, mr_id								
			, p_r_title							
			, opc_hourly_wage					
			, opc_total_hour					
			, opc_base_pay						
			, opc_food_expenses					
			, opc_transportation				
			, opc_welfare						
			, opc_bonus							
			, opc_ect							
			, opc_total							
			, opc_reg_date						
			, opc_writer						
			)VALUES(
					#{opcCode}
					,#{mrId}
					,#{pRTitle}
					,#{opcHourlyWage}
					,#{opcTotalHour}
					,#{opcBasePay}
					,#{opcFoodExpenses}
					,#{opcTransportation}
					,#{opcWelfare}
					,#{opcBonus}
					,#{opcEct}
					,#{opcTotal}
					, NOW()
					,'');
	</insert>
	
	<!-- 직원정보조회 -->
	<select id ="callOfficersInfo" resultType="OfficersPay" parameterType="String">
		SELECT
			m.mr_id				AS mrId
			,m.mr_name			AS mrName
			,m.mr_join_date		AS mrJoinDate
			,r.pm_r_title		AS pMRTitle
			,m.mr_account_num	AS mrAccountNum
			,CONCAT('OPCD_',(
				SELECT 
			LPAD(COUNT(*)+1, 4, '0') 
				FROM 
					wt_officers_pay_calculate)) AS opcCode 					
		FROM
			wt_member_registration AS m
			INNER JOIN 
			wt_payment_resource AS r
			on
			m.pm_r_code = r.pm_r_code
		WHERE 
			m.mr_id = #{mrId};	
	</select>
	
	<!-- 시급기준표 -->
	<select id="standardSheet" resultType="OfficersPay">
		SELECT
			SUBSTRING_INDEX(pr.p_r_ect,'or',-1) AS pREct
			,pr.p_r_title AS pRTitle
		FROM 
			wt_pay_resource AS pr;
	</select>
	<!-- 보험요율표 -->
	<select id="insuranceYear" resultType="OfficersPay">
		SELECT
			iy.iy_code AS iyCode
		FROM 
			wt_insurance_year AS iy;
	</select>
	
	<!-- 직원목록조회 -->
	<select id = "getOfficersList" resultType="OfficersPay" >
		SELECT
			 m.mr_id 		AS mrId
			,m.mr_name 		AS mrName
		FROM
			wt_member_registration AS m
		WHERE 
			m.level_num = 3;	
	</select>
	<!-- 직원급여명세서조회-->
	<select id = "getOfficersPay" resultType="OfficersPay">
		SELECT
			 c.mr_id							AS mrId
			,c.opc_hourly_wage					AS opcHourlyWage
			,m.mr_name							AS mrName
			,c.opc_base_pay						AS opcBasePay
			,c.opc_food_expenses				AS opcFoodExpenses
			,c.opc_transportation				AS opcTransportation
			,c.opc_welfare						AS opcWelfare
			,c.opc_bonus						AS opcBonus
			,c.opc_ect							AS opcEct
			,c.opc_total						AS opcTotal
			,d.opd_income_tax					AS opdIncomeTax
			,d.opd_resident_income_tax			AS opdResidentIncomTax
			,d.opd_employment_insurance			AS opdEmploymentInsurance
			,d.opd_national_pension				AS opdNationalPension
			,d.opd_health_insurance				AS opdHealthInsurance
			,d.opd_longterm_nursing_insurance	AS opdLongtermNursingInsurance
			,d.opd_total						AS opdTotal
			,p.op_pay							AS opPay
			,c.opc_total_hour					AS opcTotalHour
			,d.iy_code							AS iyCode
			,pr.p_r_title						AS pRTitle
			,m.mr_join_date						AS mrJoinDate
			,r.pm_r_title						AS pmRTitle
			,m.mr_account_num					AS mrAccountNum
		FROM
			wt_officers_pay AS p
			INNER JOIN 
			wt_officers_pay_calculate AS c
			ON 
			p.mr_id=c.mr_id
			LEFT join
			wt_officers_pay_deduction AS d
			ON 
			p.mr_id = d.mr_id
			LEFT JOIN 
			wt_member_registration AS m
			ON 
			p.mr_id = m.mr_id 
			LEFT JOIN 
			wt_payment_resource AS r
			ON 
			m.pm_r_code = r.pm_r_code
			LEFT JOIN 
			wt_pay_resource AS pr
			ON 
			p.p_r_code = pr.p_r_code 
		WHERE 
			p.mr_id = #{mrId};	
			<!-- p.mr_id = '수정하기'; -->	
	</select>
</mapper>