<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cafe24.wio.mapper.PayMapper">
	<resultMap type="StaffPay" id="StaffPayResultMap">
		<result column="spc_code"						property="spcCode"/>
		<result column="mr_id"							property="mrId"/>
		<result column="mr_name"						property="mrName"/>
		<result column="p_r_title"						property="pRTitle"/>
		<result column="pm_r_title"						property="pmRTitle"/>	
		<result column="spc_hourly_wage"				property="spcHourlyWage"/>
		<result column="spc_total_hour"					property="spcTotalHour"/>
		<result column="spc_incentive"					property="spcIncentive"/>
		<result column="spc_base_pay"					property="spcBasePay"/>
		<result column="spc_total"						property="spcTotal"/>
		<result column="spc_reg_date"					property="spcRegDate"/>
		<result column="spc_writer"						property="spcWriter"/>
		<result column="spd_code"						property="spdCode"/>
		<result column="iy_code"						property="iyCode"/>
		<result column="spd_the_business_tax"			property="spdTheBusinessTax"/>
		<result column="spd_total"						property="spdTotal"/>
		<result column="spd_reg_date"					property="spdRegDate"/>
		<result column="spd_writer"						property="spdWriter"/>
		<result column="sp_code"						property="spCode"/>
		<result column="sp_date"						property="spDate"/>	
		<result column="sp_pay"							property="spPay"/>	
		<result column="sp_reg_date"					property="spRegDate"/>	
		<result column="sp_writer"						property="spWriter"/>
		<result column="mr_account_num"					property="mrAccountNum"/>	
		<result column="p_r_ect"						property="pREct"/>		
	</resultMap>
	<resultMap type="OfficersPay" id="officersPayResultMap">
		<result column="opc_code"						property="opcCode"/>
		<result column="mr_id"							property="mrId"/>
		<result column="mr_name"						property="mrName"/>
		<result column="p_r_title"						property="pRTitle"/>
		<result column="pm_r_title"						property="pmRTitle"/>	
		<result column="opc_hourly_wage"				property="opcHourlyWage"/>
		<result column="opc_total_hour"					property="opcTotalHour"/>
		<result column="opc_base_pay"					property="opcBasePay"/>
		<result column="opc_food expenses"				property="opcFoodExpenses"/>
		<result column="opc_transportation"				property="opcTransportation"/>
		<result column="opc_welfare"					property="opcWelfare"/>
		<result column="opc_bonus"						property="opcBonus"/>
		<result column="opc_ect"						property="opcEct"/>
		<result column="opc_total"						property="opcTotal"/>
		<result column="opc_reg_date"					property="opcRegDate"/>
		<result column="opc_writer"						property="opcWriter"/>
		<result column="opd_code"						property="opdCode"/>
		<result column="iy_code"						property="iyCode"/>
		<result column="opd_income_tax"					property="opdIncomeTax"/>
		<result column="opd_resident_income_tax"		property="opdResidentIncomTax"/>
		<result column="opd_employment_insurance"		property="opdEmploymentInsurance"/>
		<result column="opd_national_pension"			property="opdNationalPension"/>
		<result column="opd_health_insurance"			property="opdHealthInsurance"/>
		<result column="opd_longterm_nursing_insurance"	property="opdLongtermNursingInsurance"/>
		<result column="opd_total"						property="opdTotal"/>
		<result column="opd_reg_date"					property="opdRegDate"/>
		<result column="opd_writer"						property="opdWriter"/>
		<result column="op_code"						property="opCode"/>
		<result column="op_date"						property="opDate"/>	
		<result column="op_pay"							property="opPay"/>	
		<result column="op_reg_date"					property="opRegDate"/>	
		<result column="op_writer"						property="opWriter"/>
		<result column="mr_join_date"					property="mrJoinDate"/>
		<result column="mr_account_num"					property="mrAccountNum"/>	
		<result column="p_r_ect"						property="pREct"/>			
	</resultMap>	
	
	<!-- 지급월기준표 -->
	<select id="standardSheet" resultType="OfficersPay">
		SELECT
			SUBSTRING_INDEX(pr.p_r_ect,'or',-1) AS pREct
			,pr.p_r_title AS pRTitle
		FROM 
			wt_pay_resource AS pr;
	</select>
	<!-- 보험요율표 -->
	<select id="insuranceYear" resultType="OfficersPay">
		SELECT
			iy.iy_code AS iyCode
		FROM 
			wt_insurance_year AS iy;
	</select>
	<!-- 강사급여검색 -->
	<select id="getSearchSPL" parameterType="String" resultType="StaffPay">
		SELECT 
			 sp.sp_code 					AS spCode
			,sp.mr_id 						AS mrId
			,mr.mr_name						AS mrName
			,IFNULL(sp.sp_date, '미지급')		AS spDate
			,sp.sp_pay						AS spPay
			,sp.sp_reg_date					AS spRegDate
			,sp.sp_writer	  				AS spWriter	
		FROM
			wt_staff_pay 					AS sp
			LEFT JOIN 
			wt_member_registration 			AS mr
			on
			sp.mr_id = mr.mr_id	 
		WHERE 
			${staffsk} Like CONCAT('%',#{staffsv},'%');
	</select>	
	<!-- 직원급여검색 -->
	<select id="getSearchOPL" parameterType="String" resultType="OfficersPay">
		SELECT 
			 op.op_code 					AS opCode
			,op.mr_id 						AS mrId
			,mr.mr_name						AS mrName
			,IFNULL(op.op_date, '미지급')		AS opDate
			,op.op_pay						AS opPay
			,op.op_reg_date					AS opRegDate
			,op.op_writer	  				AS opWriter	
		FROM
			wt_officers_pay 				AS op
			LEFT JOIN 
			wt_member_registration			AS mr
			on
			op.mr_id = mr.mr_id	
		WHERE	 
			${offisk} Like CONCAT('%',#{offisv},'%');
	</select>	

	<!-- 선택한 강사 급여목록 불러오기 -->
	<select id = "getStaIdPayList" resultType="StaffPay">
		SELECT 
			 sp.sp_code 					AS spCode
			,sp.mr_id 						AS mrId
			,mr.mr_name						AS mrName
			,IFNULL(sp.sp_date, '미지급')		AS spDate
			,sp.sp_pay						AS spPay
			,sp.sp_reg_date					AS spRegDate
			,sp.sp_writer	  				AS spWriter	
			,mr.level_num 			 
		FROM
			wt_staff_pay 					AS sp
			LEFT JOIN 
			wt_member_registration 			AS mr
			on
			sp.mr_id = mr.mr_id	 
		WHERE	
			sp.mr_id = #{mrId};	
	</select>
	
	<!-- 선택한 직원 급여목록 불러오기 -->
	<select id = "getOffiIdPayList" resultType="OfficersPay">
		SELECT 
			 op.op_code 					AS opCode
			,op.mr_id 						AS mrId
			,mr.mr_name						AS mrName
			,IFNULL(op.op_date, '미지급')		AS opDate
			,op.op_pay						AS opPay
			,op.op_reg_date					AS opRegDate
			,op.op_writer	  				AS opWriter	
			,mr.level_num 
		FROM
			wt_officers_pay 	AS op
			LEFT JOIN 
			wt_member_registration AS mr
			on
			op.mr_id = mr.mr_id	 
		WHERE 
		   op.mr_id = #{mrId};
	</select>
	
	<!-- 강사급여정보 삭제 -->
	<delete id="removeSP" parameterType="String"> 
		DELETE 
		FROM 
			wt_staff_pay 
		WHERE  
			sp_code = #{spCode};
	</delete>
	<!-- 강사공제계 급여정보 삭제 -->
	<delete id="removeSPD" parameterType="String"> 
		DELETE 
		FROM 
			wt_staff_pay_deduction 
		WHERE  
			spd_code = #{spCode};
	</delete>
	<!-- 강사급여계 급여정보 삭제 -->
	<delete id="removeSPC" parameterType="String"> 
		DELETE 
		FROM 
			wt_staff_pay_calculate 
		WHERE  
			spc_code = #{spCode};
	</delete>
	
	<!-- 직원급여정보 삭제 -->
	<delete id="removeOP" parameterType="String"> 
		DELETE 
		FROM 
			wt_officers_pay 
		WHERE  
			op_code = #{opCode};
	</delete>
	<!-- 직원공제계 급여정보 삭제 -->
	<delete id="removeOPD" parameterType="String"> 
		DELETE 
		FROM 
			wt_officers_pay_deduction 
		WHERE  
			opd_code = #{opCode};
	</delete>
	<!-- 직원급여계 급여정보 삭제 -->
	<delete id="removeOPC" parameterType="String"> 
		DELETE 
		FROM 
			wt_officers_pay_calculate 
		WHERE  
			opc_code = #{opCode};
	</delete>
		
	<!-- 강사급여목록조회  [최근것만 받아오게 쿼리문 수정완] -->
	<select id = "getStaffPayList" resultType="StaffPay" >
		SELECT 
			 sp.sp_code 					AS spCode
			,sp.mr_id 						AS mrId
			,mr.mr_name						AS mrName
			,IFNULL(sp.sp_date, '미지급')		AS spDate
			,sp.sp_pay						AS spPay
			,sp.sp_reg_date					AS spRegDate
			,sp.sp_writer	  				AS spWriter	
			,mr.level_num 			 
		FROM
			wt_staff_pay 	AS sp
			LEFT JOIN 
			wt_member_registration AS mr
			on
			sp.mr_id = mr.mr_id	 
		WHERE (sp.mr_id, sp.sp_reg_date) IN (
											SELECT
												 wsp.mr_id
												,Max(wsp.sp_reg_date) AS sp_reg_date	
											FROM
												wt_staff_pay 	AS wsp
											GROUP BY wsp.mr_id
										);		

	</select> 
	
	<!-- 직원급여목록조회  [최근것만 받아오게 쿼리문 수정완]-->
	<select id = "getOfficersPayList" resultType="OfficersPay" >
		SELECT 
			 op.op_code 					AS opCode
			,op.mr_id 						AS mrId
			,mr.mr_name						AS mrName
			,IFNULL(op.op_date, '미지급')		AS opDate
			,op.op_pay						AS opPay
			,op.op_reg_date					AS opRegDate
			,op.op_writer	  				AS opWriter	
			,mr.level_num 
		FROM
			wt_officers_pay 	AS op
			LEFT JOIN 
			wt_member_registration AS mr
			on
			op.mr_id = mr.mr_id	 
		WHERE (op.mr_id, op.op_reg_date) IN (
											SELECT
												 wop.mr_id
												,Max(wop.op_reg_date) AS op_reg_date	
											FROM
												wt_officers_pay 	AS wop
											GROUP BY wop.mr_id
										);		
	</select>
</mapper>