<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cafe24.wio.mapper.ScholarshipMapper">

<resultMap type="ScholarShip" id="ScholarShipResultMap">
		<result column="pm_info_code" 		property="pmInfoCode"/>
		<result column="award_bm_code" 		property="awardBmCode"/>
		<result column="mr_id" 				property="mrId"/>
		<result column="pm_info_Payer" 		property="pmInfoPayer"/>
		<result column="pm_info_reg_date" 	property="pmInfoRegDate"/>
		<result column="mr_name" 			property="mrName"/>
		<result column="award_bm_price" 	property="awardBmPrice"/>	
		<result column="pmInfoPayerName"    property="pmInfoPayerName"/>			
</resultMap>

<!-- 장학금지급내역 리스트 -->
<select id="getScholarList" parameterType="ScholarShip" resultMap="ScholarShipResultMap">
	
	SELECT 
		  wt_payments_information.pm_info_code
		, wt_award_benchmark.award_bm_price 
		, r1.mr_name 
		, r2.mr_name AS pmInfoPayerName 
		,  wt_payments_information.pm_info_reg_date
	FROM 
		wt_payments_information 
	inner join
		wt_award_benchmark 
	on
		wt_payments_information.award_bm_code =wt_award_benchmark.award_bm_code 
	LEFT JOIN 
		wt_member_registration AS r1
	ON 
		wt_payments_information.mr_id = r1.mr_id
	LEFT JOIN 
		wt_member_registration AS r2
	ON 
		wt_payments_information.pm_info_Payer = r2.mr_id		
	order by
		wt_payments_information.pm_info_code desc;	
</select>

<!--장학금상세보기  -->

<select id="ScholarDetailList" parameterType="String" resultType="Scholarship" resultMap="ScholarShipResultMap">
	SELECT 
		  wt_payments_information.pm_info_code   
		, wt_award_benchmark.award_bm_price 
		, r1.mr_name  
		, r2.mr_name AS pmInfoPayerName
		,  wt_payments_information.pm_info_reg_date
	FROM 
		wt_payments_information 
	inner join
		wt_award_benchmark 
	on
		wt_payments_information.award_bm_code =wt_award_benchmark.award_bm_code 
	LEFT JOIN 
		wt_member_registration AS r1
	ON 
		wt_payments_information.mr_id = r1.mr_id
	LEFT JOIN 
		wt_member_registration AS r2
	ON 
		wt_payments_information.pm_info_Payer = r2.mr_id
	where
		 wt_payments_information.pm_info_code = #{pmInfoCode};

</select>

<!--  자동증가 코드 쿼리  -->
<select id="ScholarReCode" resultType="hashMap">
SELECT IFNULL((SELECT max(CAST(SUBSTRING(pm_info_code,11) AS DECIMAL))+1 FROM wt_payments_information),1) AS max;
</select>

<!--장학금 지급 내역 작성하기  -->
<insert id="giveScholarShip" parameterType="Scholarship">
	
	INSERT INTO
	 	wt_payments_information
			( pm_info_code
			, award_bm_code
			, mr_id
			, pm_info_Payer
			, pm_info_reg_date)
	VALUES (
			  #{pmInfoCode}
			, #{awardBmPrice}
			, #{mrName}
			, #{pmInfoPayerName}
			, NOW());
</insert>

<!-- 학생이름가져오기  -->
<select id="sName" resultType="hashMap" >

	SELECT 
		 mr_id
		,mr_name
		,level_num
		,mr_target_score
		,pm_r_code
	FROM 
		wt_member_registration
	WHERE
		level_num = 4;	
		
</select>

<!-- 학생이름 별 과목가져오기 -->

<select id="sNameClass" resultType="hashMap" >
				
	SELECT 
		os.lec_name,
		wc.lec_os_code
	FROM 
		wt_lecture_open_schedule  as os
	inner join
		wt_lecture_open as lo
	on
		os.lec_os_code = lo.lec_os_code 
	inner join
		wt_course as wc
	on 
		lo.lec_os_code = wc.lec_os_code 
	inner join
		wt_member_registration as mr
	on 
		mr.mr_id = wc.app_sid 
	WHERE 
		mr.mr_id = #{mrId};
</select>

<!-- 지급자가져오기  -->
<select id="tName" resultType="hashMap" >

	SELECT 
		 mr_id
		,mr_name
		,level_num
		,mr_phone
		,mr_addr
		,mr_target_score
		,pm_r_code
		,mr_account_num
		,mr_reg_date
	FROM 
		wt_member_registration
	WHERE
		level_num = 1;	
		
</select>

 
<select id="sMoney"  resultType="hashMap">
	SELECT 
		award_bm_code
		,award_bm_price
		,award_bm_member
		,award_bm_etc
	FROM 
		wt_award_benchmark;

</select>

<!-- 장학금지급 검색  -->
<select id="serchScholar" resultMap="ScholarShipResultMap"  resultType="Scholarship">
	SELECT 
			  wt_payments_information.pm_info_code
			, wt_award_benchmark.award_bm_price 
		 	, r1.mr_name 
		 	, r2.mr_name as pmInfoPayerName
		 	, wt_payments_information.pm_info_reg_date
	FROM 
		wt_payments_information
		INNER join
		wt_award_benchmark
		on
		wt_payments_information.award_bm_code = wt_award_benchmark.award_bm_code
		LEFT join
		wt_member_registration AS r1
		on
		r1.mr_id = wt_payments_information.mr_id
		LEFT JOIN 
		wt_member_registration AS r2
	ON 
		wt_payments_information.pm_info_Payer = r2.mr_id
	WHERE	
		${awaBp} LIKE CONCAT('%',#{awaBpSc},'%');
</select>

<!-- 장학금 내역 삭제  -->
<delete id="deleteScholarShip" parameterType="String">
	DELETE 
	FROM 
		wt_payments_information
	WHERE 
		pm_info_code= #{pmInfoCode};
</delete>


<!-- 페이징 카운트-->
<select id="countScholarShip" resultType="int">
      SELECT
         COUNT(*)
      FROM
        wt_payments_information;
</select>

<!-- 페이징 -->
<select id="countScholarShipList" resultType="Scholarship"  resultMap="ScholarShipResultMap">

	SELECT 
		  wt_payments_information.pm_info_code
		, wt_award_benchmark.award_bm_price 
		, r1.mr_name 
		, r2.mr_name AS pmInfoPayerName 
		,  wt_payments_information.pm_info_reg_date
	FROM 
		wt_payments_information 
	inner join
		wt_award_benchmark 
	on
		wt_payments_information.award_bm_code =wt_award_benchmark.award_bm_code 
	LEFT JOIN 
		wt_member_registration AS r1
	ON 
		wt_payments_information.mr_id = r1.mr_id
	LEFT JOIN 
		wt_member_registration AS r2
	ON 
		wt_payments_information.pm_info_Payer = r2.mr_id			
	LIMIT #{startRow}, #{rowPerPage};

</select>




</mapper>  
    