<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="cafe24.wio.mapper.TextbookMapper">

<resultMap type="TextbookBasicInfo" id="resultTxbBasicInfo">
	<id property="txbCode" column="txb_code"/>
	<result column="txb_code" 		property="txbCode"/>
	<result column="txb_name" 		property="txbName"/>
	<result column="txb_publisher" 	property="txbPublisher"/>
	<result column="txb_author" 	property="txbAuthor"/>
	<result column="txb_writer" 	property="txbWriter"/>
	<result column="txb_reg_date" 	property="txbRegDate"/>
	<collection property="whTextbook" javaType="java.util.ArrayList" ofType="WhTextbook" resultMap="resultWhTextbook"/>
</resultMap>

<resultMap type="WhTextbook" id="resultWhTextbook">
	<result column="wh_txb_code" 			property="whTxbCode"/>
	<result column="txb_code" 				property="txbCode"/>
	<result column="wh_txb_quantity" 		property="whTxbQuantity"/>
	<result column="wh_txb_date" 			property="whTxbDate"/>
	<result column="stock_txb_quantity"		property="stockTxbQuantity"/>
	<result column="wh_txb_writer" 			property="whTxbWriter"/>
	<result column="wh_txb_reg_date" 		property="whTxbRegDate"/>
	<result column="wh_txb_remark" 			property="whTxbRemark"/>
</resultMap>

<select id="getTextbookInfoList" resultType="TextbookBasicInfo" resultMap="resultTxbBasicInfo">
	SELECT 
			txb_code
		,   txb_name
		,   txb_publisher
		,   txb_author
		,   txb_writer
		,   txb_reg_date
	FROM 
		wt_textbook_basic_information
</select>

<select id="getTextbookOwnList" resultMap="resultTxbBasicInfo">
SELECT
		wt.wh_txb_code
	,	wt.txb_code
	,	wt.wh_txb_quantity
	,	wt.wh_txb_date
	,	wt.stock_txb_quantity
	,	wt.wh_txb_writer
	,	wt.wh_txb_reg_date
	,	wt.wh_txb_remark
	,	tbi.txb_code
	,	tbi.txb_name
	,	tbi.txb_publisher
	,	tbi.txb_author
	,	tbi.txb_writer
	,	tbi.txb_reg_date
FROM
	wt_textbook_basic_information AS tbi
	RIGHT JOIN
	wt_warehousing_textbook AS wt
	on
	tbi.txb_code
	=
	wt.txb_code

	

</select>

</mapper>
    
