<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title>index 화면</title> 
	</th:block>
	<th:block layout:fragment="customContent">
		<h1>main화면</h1>
		<div class="container-fluid" style="font-size: x-large;">
			<table class="table" border="1" >
				<tr>
					<td rowspan="2">황미현</td>
					<td>출퇴근#</td>
				</tr>	
				<tr>
					<td>휴가신청 !</td>
				</tr>	
				<tr>
					<td>정진수</td>
					<td>구성원관리 !</td>
				</tr>
				<tr>
					<td rowspan="4">조원준</td>
					<td>상담관리 !</td>
				</tr>
				<tr>
					<td>상담작성 O</td>
				</tr>
				<tr>
					<td>상담내역 O</td>
				</tr>
				<tr>
					<td>문제리스트 O</td>
				</tr>
				<tr>
					<td rowspan="3">허유진</td>
					<td>직원급여 !</td>
				</tr>
				<tr>
					<td>강사급여 !</td>
				</tr>		
				<tr>
					<td>급여목록 !</td>
				</tr>
				<tr>
					<td rowspan="3">이슬이</td>
					<td>업무보고</td>
				</tr>	
				<tr>
					<td>성적관리 !</td>
				</tr>	
				<tr>
					<td>장학금 #</td>
				</tr>	
				
				<tr>
					<td rowspan="3">이원석</td>
					<td>과정관리 !</td>
				</tr>	
				<tr>
					<td>교재관리 !</td>
				</tr>
				<tr>
					<td>비품관리 !</td>
				</tr>
				<tr>
					<td rowspan="3">김윤환</td>
					<td>공지사항 !</td>
				</tr>
				<tr>
					<td>자료게시판 !</td>
				</tr>		
				<tr>
					<td>수강후기 #</td>
				</tr>	
			</table>
		</div>
	</th:block>
	
	<th:block layout:fragment="customJsScript">
	   <div th:replace="fragments/js :: jsFragment"></div>
	</th:block>
</html>