<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	<th:block layout:fragment="customContent">
			<!-- 입고목록 조회해서 해당교재의 입고내역이 없으면(ajax)
				 팝업창띄워서 최초입고등록으로 이동시켜주기 -->
	<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline12-list">
                    <div class="sparkline12-hd">
                        <div class="main-sparkline12-hd">
                            <h1 th:text="${mainTitle}"></h1>
                        </div>
                    </div>
                    <div class="sparkline12-graph">
                        <div class="basic-login-form-ad">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="all-form-element-inner">
                                        <form action="/addTextbookSupply" method="post" id="addForm">
									<input type="hidden" th:value="${supTxbCode}" name="supTxbCode">
									<input type="hidden" th:value="${sessionId}" name="supTxbWriter">
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">교재지급코드</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" disabled class="form-control" th:value="${supTxbCode}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">교재명</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <div class="form-select-list">
                                                            <select class="form-control custom-select-value" id="txbCode" name ="txbCode">
                                                            <option disabled="disabled" selected="selected">::교재를 선택하세요::</option>
	                                                            <th:block th:each="til : ${textbookInfoList}">
	                                                            	<option th:value="${til.txbCode}">[[${til.txbName}]]</option>                                                       
	                                                            </th:block>
															</select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>	                                                  
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">지급수량</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="number" class="form-control" name="supTxbQuantity" id="supTxbQuantity" onFocus="this.value=0; return true;" placeholder="수량을 입력해주세요"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">현재 재고수량</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" class="form-control" id="stockTxbQuantity"readonly="readonly"/>
                                                        <input type="hidden" id="stockQuanTitySave" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">지급대상</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <div class="form-select-list">
                                                            <select class="form-control custom-select-value" id="txbReceiverId" name ="txbReceiverId">
                                                            	<option disabled="disabled" selected="selected">::지급대상을 선택하세요::</option>
                                                            	<th:block th:each="r : ${txbReceiverId}">
                                                            		<option th:value="${r.mrId}">[[${r.mrName}]]</option>
                                                            	</th:block>
															</select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>	                                              
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">작성자</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" disabled class="form-control" th:value="${sessionName}"  th:placeholder="${sessionName}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">비고</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <textarea class="form-control" name="supRemark" placeholder="비고사항을 입력하세요."></textarea>
                                                    </div>
                                                </div>
                                            </div>                                                    
                        					<a href="/textbookSupplyList" class="btn btn-default" role="button">취소</a>
                                            <button class="btn btn-primary login-submit-cs" type="button" id="addBtn">등록</button>
                                        </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        		<div class="container-fluid" style="margin: 10px;">
									<a href="#" class="btn btn-default" role="button">교재관리 메인페이지로</a>
								</div>        
                            </div>
                        </div>
                        
                    </div>
                </div>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
	$('#addBtn').click(function(){
		console.log('addBtn');
		var txbCode = $('#txbCode').val();
		var supTxbQuantity = $('#supTxbQuantity').val();
		var txbReceiverId = $('#txbReceiverId').val();
		if(txbCode == null || txbCode == undefined){
			alert('교재를 선택해주세요');
			return ;
		}else if(supTxbQuantity == null || supTxbQuantity == undefined || supTxbQuantity == 0){
			alert('지급수량을 입력해주세요.');
			return ;
		}else if(supTxbQuantity < 0){
			alert('0보다 큰 값을 입력해주세요');
			return ;
		}else if(txbReceiverId ==null || txbReceiverId == undefined || txbReceiverId == ''){
			alert('지급대상을 선택해주세요');
			return;
		}
		if(confirm('등록하시겠습니까?')){
			addForm.submit(); 
		}
	}); 
	
	$('#txbCode').change(function(){
		console.log('재고수량가져오기');
		var txbCode = $('#txbCode').val();
		console.log(txbCode);
	
  		var request = $.ajax({
		  url: "/getTxbStock",
		  method:"GET",
		  data : { txbCode : txbCode },
		  dataType: "json"
		});
		request.done(function( data ) {
			console.log(data);
			$('#stockTxbQuantity').val(data);
			$('#stockQuanTitySave').val(data);
		});
		request.fail(function( jqXHR, textStatus ) {
		  alert( "Request failed: " + textStatus );
		});
	});
	$('#supTxbQuantity').change(function(){
		var supTxbQuantity = parseInt($('#supTxbQuantity').val());
		var stockTxbQuantity = parseInt($('#stockQuanTitySave').val());
		var result = 0;
		if(supTxbQuantity != 0 && supTxbQuantity>0){
			result =(stockTxbQuantity - supTxbQuantity);
			$('#stockTxbQuantity').val(result);
			if(result<0){
				alert('지급수량이 너무많습니다');
				return;
			}
		}
		$('#supTxbQuantity').focus(function(){
			$('#stockTxbQuantity').val($('#stockQuanTitySave').val());
		})
		return false;
	});
	
	</script>  		
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>