<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	<th:block layout:fragment="customContent">
			<!-- 입고목록 조회해서 해당교재의 입고내역이 없으면(ajax)
				 팝업창띄워서 최초입고등록으로 이동시켜주기 -->
	<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline12-list">
                    <div class="sparkline12-hd">
                        <div class="main-sparkline12-hd">
                            <h1 th:text="${mainTitle}"></h1>
                        </div>
                    </div>
                    <div class="sparkline12-graph">
                        <div class="basic-login-form-ad">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="all-form-element-inner">
                                        <form action="/addTextbookWaho" method="post" id="addForm">
									<input type="hidden" th:value="${whTxbCode}" name="whTxbCode">
									<input type="hidden" th:value="${sessionId}" name="whTxbWriter">
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">교재입고코드</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" disabled class="form-control" th:value="${whTxbCode}" name="whTxbCode" th:placeholder="${whTxbCode}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">교재명</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <div class="form-select-list">
                                                            <select class="form-control custom-select-value" id="txbCode" name ="txbCode">
                                                            <option disabled="disabled" selected="selected">::교재를 선택하세요::</option>
																<th:block th:each=" til : ${textbookInfoList} ">
																	<option th:value=${til.txbCode}>[[${til.txbName}]]</option>
																</th:block>	
															</select>
														<button type="button" id="whTxbCheckBtn" class="btn btn-block" >입고내역체크</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>	                                                  
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">입고수량</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="number" class="form-control" name="whTxbQuantity" id="whTxbQuantity" onFocus="this.value=0; return true;" placeholder="수량을 입력해주세요"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">작성자아이디</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" disabled class="form-control" th:value="${sessionId}" name="whTxbWriter" th:placeholder="${sessionId}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">비고</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <textarea class="form-control" name="whTxbRemark" placeholder="비고사항을 입력하세요."></textarea>
                                                    </div>
                                                </div>
                                            </div>                                                    
                                            <button class="btn btn-primary login-submit-cs" type="button" id="addBtn">등록</button>
                        					<a href="/textbookWahoList" class="btn btn-default" role="button">취소</a>
                                        </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
	var whTxbCheck = '';
	$('#addBtn').click(function(){
		console.log('addBtn');
		var txbCode = $('#txbCode').val();
		var whTxbQuantity = $('#whTxbQuantity').val();
		var txbName =$('#txbName').val();
		console.log(whTxbQuantity);
		console.log(txbCode + ' < --txbCode 등록버튼 클릭 시');
		console.log(txbName + ' < --txbName ');
		console.log(whTxbCheck + ' < --whTxbCheck 등록버튼 클릭 시');
		if(txbCode == null || txbCode == undefined){
			alert('교재를 선택해주세요');
			return ;
		}else if(whTxbQuantity == undefined || whTxbQuantity == '' || whTxbQuantity == 0){
			alert('입고수량을 입력해주세요');
			$('#whTxbQuantity').focus();
			return ;
		}else if(whTxbQuantity<1){
			alert('0보다 큰 값을 입력해주세요');
			$('#whTxbQuantity').focus();
			return ; 
		}else if(whTxbCheck != txbCode || whTxbCheck == ''){
			alert('입고내역체크를 해주세요');
			return;
		}
		if(confirm('입고수량 ' + whTxbQuantity +'권이 맞습니까? 등록후엔 수정이 불가합니다.')){
			addForm.submit(); 
		}
	});
	
	$('#whTxbCheckBtn').click(function(){
		console.log('입고내역체크');
		var txbCode = $('#txbCode').val();
		console.log(txbCode);
		if(txbCode == null || txbCode == undefined){
			alert('교재를 선택해주세요');
			return ;
		}
  		var request = $.ajax({
		  url: "/whTxbCheck",
		  method:"POST",
		  data : { txbCode : txbCode },
		  dataType: "json"
		});
		request.done(function( data ) {
			console.log(data);
			whTxbCheck = $('#txbCode').val();
			console.log(whTxbCheck + ' < -- whTxbCheck 입고체크버튼');
			if(data != undefined){
				if(data == 0){
					alert('해당교재의 입고내역이 존재하지 않습니다.');
					whTxbCheck='check';
					console.log(whTxbCheck + ' < -- ajax check');
					 if(confirm('최초입고등록을 하시겠습니까?')){
						 location.href = '/addTextbookFirstWaho?txbCode='+txbCode;
					}
				}else{
					alert('해당교재의 입고내역이 있습니다.');
				}
			}
			
		});
		request.fail(function( jqXHR, textStatus ) {
		  alert( "Request failed: " + textStatus );
		});   
		
	});
	
	</script>  		
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>