<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	<th:block layout:fragment="customContent">

	<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline12-list">
                    <div class="sparkline12-hd">
                        <div class="main-sparkline12-hd">
                            <h1 th:text="${mainTitle}"></h1>
                        </div>
                    </div>
                    <div class="sparkline12-graph">
                        <div class="basic-login-form-ad">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="all-form-element-inner">
                                        <form action="/addTextbookFirstWaho" method="POST" id="addForm">
									<input type="hidden" th:value="${whTxbCode}" name="whTxbCode">
									<input type="hidden" th:value="${sessionId}" name="whTxbWriter">
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">교재입고코드</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" disabled class="form-control" th:value="${whTxbCode}" name="whTxbCode" th:placeholder="${whTxbCode}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">교재명</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <div class="form-select-list">
                                                            <select class="form-control custom-select-value" id="txbCode" name ="txbCode">
																<th:block>
																	<option th:value=${txbInfoList.txbCode} selected="selected">[[${txbInfoList.txbName}]]</option>
																</th:block>																	
															</select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>	                                                  
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">입고수량</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="number" class="form-control" name="whTxbQuantity" id="whTxbQuantity" onFocus="this.value=0; return true;" placeholder="수량을 입력해주세요"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">재고수량</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" class="form-control" onFocus="this.value=0; return true;" placeholder="재고수량이 없습니다." readonly="readonly"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">작성자아이디</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" disabled class="form-control" th:value="${sessionId}" name="whTxbWriter" th:placeholder="${sessionId}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label class="login2 pull-right pull-right-pro">비고</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <textarea class="form-control" name="whTxbRemark" placeholder="비고사항을 입력하세요."></textarea>
                                                    </div>
                                                </div>
                                            </div>                                                    
                                            <button class="btn btn-primary login-submit-cs" type="button" id="addBtn">등록</button>
                        					<a href="/addTextbookWaho" class="btn btn-default" role="button">취소</a>
                                        </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
	$('#addBtn').click(function(){
		console.log('addBtn');
		var addForm = $('#addForm');
		var txbCode = $('#txbCode').val();
		var whTxbQuantity = $('#whTxbQuantity').val();
		console.log(whTxbQuantity);
		console.log(txbCode + ' < --txbCode 등록버튼 클릭 시');
		if(whTxbQuantity == undefined || whTxbQuantity == ''){
			alert('입고수량을 입력해주세요');
			$('#whTxbQuantity').focus();
			return ;
		}else if(whTxbQuantity<1){
			alert('0보다 큰 값을 입력해주세요');
			$('#whTxbQuantity').focus();
			return ; 
		}
		if(confirm('입고수량 ' + whTxbQuantity +'권이 맞습니까? 등록후엔 수정이 불가합니다.')){
			addForm.submit(); 
		}
	});
	
	</script> 
	</th:block>
	
	<th:block layout:fragment="customJsScript">
	 
	</th:block>
</html>