<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	<th:block layout:fragment="customContent">
	<div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd"> 
                                <div class="main-sparkline12-hd">
                                    <h1 th:text="${mainTitle}"></h1>
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
                                                <form action="/textbookInfoModify" method="post" id="modifyForm">
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">교재코드</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" disabled class="form-control" th:value="${txbCode}" />
                                                                <input type="hidden" name="txbCode" id="txbCode" th:value="${txbCode}" >
                                                            </div>
                                                        </div>
                                                    </div>                                                      
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">교재명</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" class="form-control" name="txbName" th:value="${txbName}" id="txbName"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">출판사</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" class="form-control" name="txbPublisher" th:value="${txbPublisher}" id="txbPublisher" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">저자</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" class="form-control" name="txbAuthor" th:value="${txbAuthor}" id="txbAuthor"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">수정자</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" disabled class="form-control" th:value="${txbModifierName}"/>
                                                                <input type="hidden" th:value="${txbModifierId}" name="txbModifier">
                                                            </div>
                                                        </div>
                                                    </div>
		                                            <div class="form-group-inner">
		                                                <div class="row">
		                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
		                                                        <label class="login2 pull-right pull-right-pro">비고</label>
		                                                    </div>
		                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
		                                                        <textarea class="form-control" name="txbRemark" id="txbRemark" placeholder="비고사항을 입력하세요."></textarea>
		                                                    </div>
		                                                </div>
		                                            </div>                                                      
                                                    <button class="btn btn-primary login-submit-cs" type="button" id="modifyBtn">수정</button>
                                					<a href="/textbookInfoList" class="btn btn-default" role="button">취소</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                        		<div class="container-fluid" style="margin: 10px;">
									<a href="/textbookManage" class="btn btn-default" role="button">교재관리 메인페이지로</a>
								</div>        
                            </div>
                        </div>
                    </div>
                </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
	$('#modifyBtn').click(function(){
		console.log('modifyBtn');
		var modifyForm = $('#modifyForm');
		var txbName = $('#txbName').val();
		var txbPublisher = $('#txbPublisher').val();
		var txbAuthor = $('#txbAuthor').val();
		var txbRemark = $('#txbRemark').val();
		console.log(txbName + ' < --txbName 등록버튼 클릭 시');
		console.log(txbPublisher + ' < --txbPublisher 등록버튼 클릭 시');
		console.log(txbAuthor + ' < --txbAuthor 등록버튼 클릭 시');
		console.log(txbRemark + ' < --txbRemark 등록버튼 클릭 시');
		if(txbName == undefined || txbName == ''){
			alert('교재명을 입력해주세요');
			$('#txbName').focus();
			return;
		}else if(txbPublisher == undefined || txbPublisher == ''){
			alert('출판사를 입력해주세요');
			$('#txbPublisher').focus();
			return;
		}else if(txbAuthor == undefined || txbAuthor == ''){
			alert('저자를 입력해주세요');
			$('#txbAuthor').focus();
			return;
		}
		if(confirm('수정하시겠습니까?')){
			modifyForm.submit(); 
		}
	});
	</script>                
	</th:block>
	<th:block layout:fragment="customJsScript">
	 
	</th:block>
</html>