<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContent">
	 <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap drp-lst">
                            <h4 th:text="${mainTitle}"></h4>
						 	<form class="form-inline" id="searchForm" action="/getSuppTxbSearch" method="GET" style="margin: 10px;">  
								<select class="form-control" name="suppSk" id="selectStSk">
									<option disabled="disabled" selected="selected">::검색조건::</option>
									<option value="sup_txb_code">교재지급코드</option>
									<option value="st.txb_code">교재코드</option>
									<option value="tbi.txb_name">교재명</option>
									<option value="mr.mr_name">지급대상</option>
									<option value="sup_txb_writer">작성자아이디</option>
								</select> 
								<div class="form-group">
								<input type="text" id="suppTxbSv" class="form-control" name="suppTxbSv" placeholder="검색어를 입력해주세요"/>
									<div class="input-group-btn pull-right">
										<button class="btn btn-default form-group" id="searchStBtn" type="button">검색</button>
									</div>
								</div>
							</form>                            
                            <div class="add-product" th:if="${SLEVEL eq '1' OR SLEVEL eq '3'}">
                                <a href="/addTextbookSupply">지급내역등록하기</a>
                            </div>
                            <div class="asset-inner">
                                <table>
                                    <tr>
     				  				  <th>교재지급코드</th>
									  <th>교재명</th>
									  <th>지급수량</th>
									  <th>지급대상</th>
									  <th>지급일자</th>
									  <th>작성자아이디</th>
									  <th>등록일자</th>
                                      <th th:if="${SLEVEL eq '1' OR SLEVEL eq '3'}">수정</th>
<!--                                       <th th:if="${SLEVEL eq '1'}">삭제</th>		 -->							  
                                    </tr>
							<th:block th:each="gts : ${getTextbookSuppList}">
									<tr>
										<td th:text="${gts.supTxbCode}"></td>
										<td>
					                      	<div class="modal-bootstrap shadow-inner responsive-mg-b-0">
					                          <div class="modal-area-button">
					                            <a class="txbDeailBtn" href="#" th:value="${gts.txbCode}" data-toggle="modal" data-target="#PrimaryModalalert" role="button">[[${gts.txbName}]]</a>
					                            <input class="txbCode" type="hidden" th:value="${gts.txbCode}">
					                          </div>
					                        </div>												
										</td>
										<td th:text="${gts.supTxbQuantity}"></td>
										<td th:text="${gts.txbReceiverName}"></td>
										<td th:text="${gts.supTxbDate}"></td>
										<td th:text="${gts.supTxbWriterName}"></td>
										<td th:text="${gts.supTxbRegDate}"></td>
                                        <td th:if="${SLEVEL eq '1' OR SLEVEL eq '3'}">
                                            <button data-toggle="tooltip" title="수정" th:value="${gts.txbCode}" class="pd-setting-ed modifyBtn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                        </td>
<!--                                         <td th:if="${SLEVEL eq '1'}">
                                       		<button data-toggle="tooltip" title="삭제" th:value="${gts.txbCode}" class="pd-setting-ed removeBtn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                        </td> -->										
									</tr>
									<div class="login-form-area edu-pd mg-b-15">
										<div id="PrimaryModalalert" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-body" id="txbDetail">
													</div>
													<div class="modal-footer">
														<button data-dismiss="modal" id="modalConfirmBtn"  class="btn btn-default">확인</button>
														<a data-dismiss="modal" class="btn btn-default" href="#" role="button">닫기</a>
													</div>
												</div>
											</div>
										</div>
									</div>									
							</th:block>
                                </table>
                            </div>
                            <div class="custom-pagination" th:if="${currentPage ne null}">
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" th:href="@{/textbookSupplyList}">처음</a>
									</li>
									<li class="page-item">
										<span th:if="${currentPage > 1}">
											<a class="page-link" th:href="@{/textbookSupplyList(currentPage=(${currentPage}-1))}">이전</a>
										</span>
									</li>
								</ul>
								<ul class="pagination">
									<li class="page-item">
									<th:block th:each="num : ${#numbers.sequence(startPageNum,lastPageNum)}">
										<a class="page-link" th:unless="${currentPage eq num}" th:text="${num}" th:href="@{/textbookSupplyList(currentPage=${num})}"></a>
									</th:block>
									</li>
								</ul>
								<ul class="pagination">
									<li class="page-item">
										<span th:if="${currentPage ne lastPage}">
											<a th:href="@{/textbookSupplyList(currentPage=(${currentPage}+1))}">다음</a>
										</span>
		    						</li>
		    						<li class="page-item">
		    							<a th:href="@{/textbookSupplyList(currentPage=${lastPage})}" id="lastPageBtn" role="button">마지막</a>
		    						</li>
								</ul>
                            </div>
                            <div class="container-fluid" style="margin: 10px;">
								<a href="/textbookSupplyList" class="btn btn-default" role="button">전체리스트보기</a>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>			
	
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
		$('#searchStBtn').click(function(){
			var searchForm = $('#searchForm');
			var selectStSk = $('#selectStSk').val();
			var suppTxbSv = $('#suppTxbSv').val();
			console.log(selectStSk + ' < -- selectStSk');
			console.log(suppTxbSv + ' < -- suppTxbSv');
			if(selectStSk == null || selectStSk == undefined){
				alert('검색조건을 선택해주세요');
				return;
			}else if(suppTxbSv == null || suppTxbSv == ''){
				alert('검색어를 입력해주세요');
				$('#suppTxbSv').focus();
				return;
			}
			searchForm.submit();
		});
		$('.txbDeailBtn').click(function(){
			console.log('txbDeailBtn');
			var txbCode = $(this).parents().children('.txbCode').val();
			var html = '';
			console.log(txbCode + ' < -- txbCode');
			 var request = $.ajax({
				  url: "/txbDetail",
				  method: "POST",
				  data: { txbCode : txbCode },
				  dataType: "json"
				});
				 
				request.done(function(data) {
					console.log(data);
						html ='';
						html +='<h3>';
						html += data.txbCode;
						html +=' 교재정보보기</h3>';
						html +='<table class="table">';
						html +='<tr><td>교재코드</td>';
						html +='<td>';
						html += data.txbCode;
						html += '</td></tr>';
						html +='<tr><td>교재명</td>';
						html +='<td>';
						html +=data.txbName;
						html +='</td></tr>';
						html +='<tr><td>출판사</td>';
						html +='<td>';
						html +=data.txbPublisher;
						html +='</td></tr>';
						html +='<tr><td>저자</td>';
						html +='<td>';
						html +=data.txbAuthor;
						html +='</td></tr>';
						html +='</table>';
						$('#txbDetail').empty();
						$('#txbDetail').append(html);
				});
				 
				request.fail(function( jqXHR, textStatus ) {
				  alert( "Request failed: " + textStatus );
				}); 
				
		});			
	</script>
	</th:block>
	
	<th:block layout:fragment="customJsScript">
	 
	</th:block>
</html>