<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContent">
		<form class="form-inline " id="searchForm" action="/getWhTxbSearch" method="GET" >  
			<select class="form-control" name="whTxbSk" id="selectWtSk">
				<option disabled="disabled" selected="selected">::검색조건::</option>
				<option value="wt.wh_txb_code">교재입고코드</option>
				<option value="tbi.txb_code">교재코드</option>
				<option value="tbi.txb_name">교재명</option>
				<option value="tbi.txb_publisher">출판사</option>
				<option value="tbi.txb_author">저자</option>
				<option value="tbi.txb_writer">작성자아이디</option>
			</select> 
			<div class="form-group">
			<input type="text" id="whTxbSv" class="form-control" name="whTxbSv" placeholder="검색어를 입력해주세요"/>
				<div class="input-group-btn pull-right">
					<button class="btn btn-default" id="searchWhBtn" type="button">검색</button>
				</div>
			</div>
		</form>
	        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4 th:text="${mainTitle}"></h4>
                            <div class="add-product">
                                <a href="/textbookWahoRegister">입고내역등록하기</a>
                            </div>
                            <div class="asset-inner">
                                <table>
                                    <tr>
				      				  <th>교재입고코드</th>
									  <th>교재코드</th>
									  <th>교재명</th>
									  <th>출판사</th>
									  <th>저자</th>
									  <th>입고수량</th>
									  <th>입고일자</th>
									  <th>재고수량</th>
									  <th>작성자아이디</th>
									  <th>비고</th>
                                      <th>수정 / 삭제</th>
                                    </tr>
							<th:block th:each="gtl : ${getTextbookList}">
								<th:block th:each="tol : ${gtl.whTextbook}">
									<tr>
									  <td th:text="${tol.whTxbCode}"></td>
									  <td th:text="${gtl.txbCode}"></td>
									  <td th:text="${gtl.txbName}"></td>
									  <td th:text="${gtl.txbPublisher}"></td>
									  <td th:text="${gtl.txbAuthor}"></td>
									  <td th:text="${tol.whTxbQuantity}"></td>
									  <td th:text="${tol.whTxbDate}"></td>
									  <td th:text="${tol.stockTxbQuantity}"></td>
									  <td th:text="${tol.whTxbWriter}"></td>
									  <td th:text="${tol.whTxbRemark}"></td>
 									<td>
                                       <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                       <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>									  
									</tr>
								</th:block>
							</th:block>
                                </table>
                            </div>
                            <div class="custom-pagination">
								<ul class="pagination">
									<li class="page-item"><a class="page-link" href="#">이전</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">다음</a></li>
								</ul>
                            </div>
                            <div class="container-fluid" style="margin: 10px;">
								<a href="/textbookOwnList" class="btn btn-default" role="button">전체리스트보기</a>
								<a href="/textbookManage" class="btn btn-default" role="button">교재관리 메인페이지로</a>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
	$('#searchWhBtn').click(function(){
		var searchForm = $('#searchForm');
		var selectWtSk = $('#selectWtSk').val();
		var whTxbSv = $('#whTxbSv').val();
		console.log(selectWtSk + ' < -- selectWtSk');
		console.log(whTxbSv + ' < -- whTxbSv');
		if(selectWtSk == null || selectWtSk == undefined){
			alert('검색조건을 선택해주세요');
			return;
		}else if(whTxbSv == null || whTxbSv == ''){
			alert('검색어를 입력해주세요');
			$('#whTxbSv').focus();
			return;
		}
		searchForm.submit();
	});
	
	</script>
	</th:block>
	<th:block layout:fragment="customJsScript">
	 
	</th:block>
</html>