<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContent">
		<h2 th:text="${mainTitle}"></h2>
	<div>
		<h2 th:text="${regResult}"></h2>
	</div>
		<table class="table table-bordered table-hover table-striped">
			<th:block th:unless="${textbookBasicInfo eq null}" >
				<thead>
					<tr>
					  <th>교재코드</th>
					  <th>교재명</th>
					  <th>출판사</th>
					  <th>저자</th>
					  <th>작성자아이디</th>
					  <th>작성자이름</th>
					  <th>등록일자</th>		  
					</tr>
				</thead>
				<tbody>
					<tr>
					  <td th:text="${textbookBasicInfo.txbCode}"></td>
					  <td th:text="${textbookBasicInfo.txbName}"></td>
					  <td th:text="${textbookBasicInfo.txbPublisher}"></td>
					  <td th:text="${textbookBasicInfo.txbAuthor}"></td>
					  <td th:text="${textbookBasicInfo.txbWriter}"></td>
					  <td th:text="${sessionName}"></td>
					  <td th:text="${textbookBasicInfo.txbRegDate}"></td>
					</tr>
				</tbody>
			</th:block>
			<th:block th:unless ="${txbWhResult eq null}">
				<thead>
					<tr>
						<th>교재입고코드</th>
						<th>교재코드</th>
						<th>입고수량</th>
						<th>입고일자</th>
						<th>재고수량</th>
						<th>작성자아이디</th>		  
						<th>등록일자</th>		
						<th>비고</th>	
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${txbWhResult.whTxbCode}"></td>
						<td th:text="${txbWhResult.txbCode}"></td>
						<td th:text="${txbWhResult.whTxbQuantity}"></td>
						<td th:text="${txbWhResult.whTxbDate}"></td>
						<td th:text="${txbWhResult.stockTxbQuantity}"></td>
						<td th:text="${txbWhResult.whTxbWriter}"></td>
						<td th:text="${txbWhResult.whTxbRegDate}"></td>
						<td th:text="${txbWhResult.whTxbRemark}"></td>
					</tr>
				</tbody>
			</th:block> 
		</table>
		<div class="container-fluid" style="margin: 10px;">
			<a href="/textbookInfoList" class="btn btn-default" role="button">교재 정보</a>
			<a href="/textbookWahoList" class="btn btn-default" role="button">입고 내역</a>
			<a href="/textbookSupplyList" class="btn btn-default" role="button">지급 내역</a>
		</div>
	</th:block>
</html>