<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title> 
	</th:block>
	<th:block layout:fragment="customContent">

	<h2 th:text="${mainTitle}"></h2>
	<form action="/textbookWahoRegister" method="post" id="addForm" >
		<div class="container-fluid">
		<!-- <a href="/textbookFirstWahoRegister" class="btn btn-warning btn-lg" role="button" >최초등록</a> -->
			<table class="table table-block" border="1" style="text-align: center;" >
			<!-- 입고목록 조회해서 해당교재의 입고내역이 없으면(ajax)
				 팝업창띄워서 최초입고등록으로 이동시켜주기 -->
				<tr>
					<td>교재명</td>
					<td>
					<select id="txbCode" name = "txbCode" class="form-control">
						<option disabled="disabled">::교재를 선택해주세요::</option>
						<th:block th:each=" til : ${textbookInfoList} ">
							<option th:value=${til.txbCode}>[[${til.txbName}]]</option>
						</th:block>
					</select>
					<button type="button" id="whTxbCheckBtn" class="btn btn-block">입고내역체크</button>
					</td>
				</tr>
				<tr>
					<td>입고수량</td>
					<td>
						<input class="form-control"  type="text" name="whTxbQuantity" id="whTxbQuantity" placeholder="수량을 입력해주세요"/>
					</td>
				</tr>
				<tr>
				<th:block th:each="wtl : ${whTextbookList}"></th:block>
					<td>재고수량</td>
					<td>
						<input class="form-control"  type="text" >
						<!-- th:value="${wtl.stockTxbQuantity}" -->
					</td>
				</tr>
				<tr>
					<td>비고</td>
					<td>
						<input class="form-control"  type="text" id="whTxbRemark" name="whTxbRemark" placeholder="비고"/>
					</td>
				</tr>
			</table>
		</div>		
		<input type="submit" class="btn btn-danger btn-block" id="addBtn" value="등록버튼">	
	</form>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
	$('#whTxbCheckBtn').click(function(){
		console.log('입고내역체크');
		var request = $.ajax({
		  url: "/whTxbCheck",
		  method:"GET",
		  dataType: "json"
		});
		request.done(function( data ) {
			console.log(data);
			if(data != undefined){
				if(data==1){
					alert('해당 교재의 입고내역이 조회되지 않습니다.');
				}
			}
			 /* if(confirm('최초입고등록을 하시겠습니까?')){
				 location.href = '/textbookFirstWahoRegister';
			} */
			
		});
		request.fail(function( jqXHR, textStatus ) {
		  alert( "Request failed: " + textStatus );
		});
		
	});
	
	</script>
	
	<div class="container-fluid" style="margin: 10px;">
		<a href="/textbookRegister" class="btn btn-primary" role="button">교재등록 메인페이지로</a>	
		<a href="/textbookManage" class="btn btn-primary" role="button">교재관리 메인페이지로</a>
	</div>	
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>