<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContent">
			<form class="form-inline" id="searchForm" action="/getTxbInfoSearch" method="GET" >  
			<select class="form-control" name="infoTxbSk" id="selectItSk">
				<option disabled="disabled" selected="selected">::검색조건::</option>
				<option value="txb_code">교재코드</option>
				<option value="txb_name">교재명</option>
				<option value="txb_publisher">출판사</option>
				<option value="txb_author">저자</option>
				<option value="txb_writer">작성자아이디</option>
			</select> 
			<div class="form-group">
			<input type="text" id="infoTxbSv" class="form-control" name="infoTxbSv" placeholder="검색어를 입력해주세요"/>
				<div class="input-group-btn pull-right">
					<button class="btn btn-default form-group" id="searchItBtn" type="button">검색</button>
				</div>
			</div>
		</form>
		
		<div class="container-fluid" style="margin: 10px;">
		</div>			
		

	        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4 th:text="${mainTitle}"></h4>
                            <div class="add-product">
                                <a href="/textbookInfoRegister">신규교재등록하기</a>
                            </div>
                            <div class="asset-inner">
                                <table>
                                    <tr>
                                        <th>교재코드</th>
                                        <th>교재이미지</th>
                                        <th>교재명</th>
                                        <th>출판사</th>
                                        <th>저자</th>
                                        <th>작성자아이디</th>
                                        <th>등록일자</th>
                                        <th>수정 / 삭제</th>
                                    </tr>
                                    <th:block th:each="til : ${textbookInfoList}">
	                                    <tr>
											  <td th:text="${til.txbCode}"></td>
	                                        <td><img src="img/product/book-1.jpg" alt="" /></td>
											  <td th:text="${til.txbName}"></td>
											  <td th:text="${til.txbPublisher}"></td>
											  <td th:text="${til.txbAuthor}"></td>
											  <td th:text="${til.txbWriter}"></td>
											  <td th:text="${til.txbRegDate}"></td>
	                                        <td>
	                                            <button data-toggle="tooltip" title="수정" th:value="${til.txbCode}" class="pd-setting-ed modifyBtn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
	                                            <button data-toggle="tooltip" title="삭제" th:value="${til.txbCode}" class="pd-setting-ed removeBtn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
	                                        </td>
	                                    </tr>
                                    </th:block>
                                </table>
                            </div>
                            <div class="custom-pagination" th:if="${currentPage ne null}">
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" th:href="@{/textbookInfoList}">처음</a>
									</li>
									<li class="page-item">
										<span th:if="${currentPage > 1}">
											<a class="page-link" th:href="@{/textbookInfoList(currentPage=(${currentPage}-1))}">이전</a>
										</span>
									</li>
								</ul>
								<ul class="pagination">
									<li class="page-item">
									<th:block th:each="num : ${#numbers.sequence(startPageNum,lastPageNum)}">
										<a class="page-link" th:unless="${currentPage eq num}" th:text="${num}" th:href="@{/textbookInfoList(currentPage=${num})}"></a>
									</th:block>
									</li>
								</ul>
								<ul class="pagination">
									<li class="page-item">
										<span th:if="${currentPage ne lastPage}">
											<a th:href="@{/textbookInfoList(currentPage=(${currentPage}+1))}">다음</a>
										</span>
		    						</li>
		    						<li class="page-item">
		    							<a th:href="@{/textbookInfoList(currentPage=${lastPage})}" id="lastPageBtn" role="button">마지막</a>
		    						</li>
								</ul>
                            </div>
                            <div class="container-fluid" style="margin: 10px;">
								<a th:if="${currentPage eq null}" href="/textbookInfoList" class="btn btn-default" role="button">전체리스트보기</a>
								<a href="/textbookManage" class="btn btn-default" role="button">교재관리 메인페이지로</a>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript">
		$('#searchItBtn').click(function(){
			var searchForm = $('#searchForm');
			var selectItSk = $('#selectItSk').val();
			var infoTxbSv = $('#infoTxbSv').val();
			console.log(selectItSk + ' < -- selectItSk');
			console.log(infoTxbSv + ' < -- infoTxbSv');
			if(selectItSk == null || selectItSk == undefined){
				alert('검색조건을 선택해주세요');
				return;
			}else if(infoTxbSv == null || infoTxbSv == ''){
				alert('검색어를 입력해주세요');
				$('#infoTxbSv').focus();
				return;
			}
			searchForm.submit();
		});
		
	$('.modifyBtn').click(function(){
		console.log('수정버튼클릭');
		var txbCode = $(this).val();
		console.log(txbCode);
		location.href="/textbookInfoModify?txbCode="+txbCode;
	})
	
	</script>	
	</th:block>
	<th:block layout:fragment="customJsScript">
	 
	</th:block>
</html>