<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
  	<th:block layout:fragment="customTitle">
		<title>환불 신청</title> 
	</th:block>
	<th:block layout:fragment="customContent">
	<style type="text/css">
		.refundCenter{
			text-align: center;
		}
		textarea:focus {
    		outline: none;
		}
		#refundList{
			outline-color: red;
			background-color: #fff;
		}
		#refundCurrentSituation{
			outline-color: red;
			background-color: #fff;
		}
		#refundPayment{
			outline-color: red;
			background-color: #fff;
		}
	</style>
		<h3 style="text-align: left; margin-left: 10%;">환불 신청</h3>
		<div>
			<textarea rows="22%" cols="130%" style="resize: none; border: none;" readonly="readonly">
											현재 신청하신 수업 현황을 보실 수 있습니다.
											해당페이지에서 환불신청이 가능합니다.

환불사유

	1. 학원의 등록이 말소되거나 교습소가 폐지된 경우 또는 교습의 정지명령을 받은 경우
	2. 학원설립·운영자, 교습자 또는 개인과외교습자가 교습을 할 수 없거나 교습장소를 제공할 수 없게 된 경우
	3. 학습자가 본인의 의사로 수강 또는 학습장소 사용을 포기한 경우	
	
반환기준

	1. 교습 기간이 1개월 이내인 경우
		○교습시작전 : 이미 납부한 교습비등의 전액
		○총 교습시간의 1/3 경과 전 : 이미 납부한 교습비등의 2/3에 해당하는 금액
		○총 교습시간의 1/2 경과 전 : 이미 납부한 교습비등의 1/2에 해당하는 금액
		○총 교습시간의 1/2 경과 후 : 반환하지 않음
		
	2. 교습 기간이 1개월을 초과하는 경우
		○교습 시작 전 : 이미 납부한 교습비등의 전액
		○교습 시작 후 : 반환 사유가 발생한 해당 월의 반환 대상 교습비등(교습 기간이 1개월 이내인 경우의 기준에 따라 산출한 금액을 말한다)
		과 나머지 월의 교습비등의 전액을 합산한 금액
			</textarea>
		</div>
		<div>
			<button type="button" class="btn" id="refundCurrentSituation">환불현황</button>
			<button type="button" class="btn" id="refundPayment">환불결재</button>
		</div>
		<div>
			<h4>환불가능내역</h4>
		</div>
		<div class="container">
			<table class="table refundCenter">
				<thead>
					<tr>
						<th class="refundCenter">순번</th>
						<th class="refundCenter">결재일자</th>
						<th class="refundCenter">수강명</th>
						<th class="refundCenter">금액</th>
						<th class="refundCenter">환불신청</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="r : ${refundList}">
		  				<td th:text="${#numbers.formatInteger(r.rowNum,0,'POINT')}"></td>
		  				<td th:text="${r.ar_date}"></td>
		  				<td th:text="${r.lec_name}"></td>
		  				<td th:text="${r.lec_tuition}"></td>
						<td><button type="button" class="btn btn-default">환불신청</button></td>
		  			</tr>
				</tbody>
			</table>
		</div>
					
	<script src="js/refund.js"></script>
	</th:block>
</html>