<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:each="b : ${Board}" th:text=${b.boardTitle}></title>
	</th:block>
	
	<th:block layout:fragment="customContent">
	
	<!-- 썸머노트 스크립트&link start -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
	<!-- 썸머노트 스크립트 end -->
	
		<h2>자료게시판 게시물 수정</h2>
	<form action="/modifyDataLibrary" class="container-fluid" method="post" id="noticeForm">
	<!-- 글번호 자동생성, 세션 아이디 받기 히든타입
	<input type="hidden" th:value="${boardNum}" name="boardNum">
	<input type="hidden" class="form-control" name="boardWriterId" th:value="${sessionId}">
	-->
		<table class="table table-striped">
			<tr class="info">
				<th colspan="3">글 번호</th>
				<td colspan="3">
					<input type="text" class="form-control"  name="boardNum" th:value="${Board.boardNum}" readonly="readonly">
				</td>
			</tr>
			<tr class="info">
				<th colspan="3">작성자 ID</th>
				<td colspan="3">
					<input type="text" class="form-control" name="boardWriterId" th:value="${Board.boardWriterId}" readonly="readonly">
				</td>
			</tr>
			<tr class="info">
				 <th colspan="3">제목</th>
				<td colspan="3">
					<input type="text" class="form-control" name="boardTitle" th:value="${Board.boardTitle}" placeholder="제목을 입력해주세요." id="boardTitle">
				</td>
			</tr>
			<tr class="info">	
				<th colspan="6">내용</th>
			</tr>
			<tr class="info">
				<td colspan="6">
					<textarea class="form-control" rows="10" name="boardContents" th:text="${Board.boardContents}" id="boardContents"></textarea>
				</td>
			</tr>
			<tr class="info">
				<th colspan="3">사진(미구현 : 사용금지)</th>
				<td colspan="3">
					<input type="image" class="form-control" name="boardPicture" th:value="${Board.boardPicture}">
				</td>
			</tr>
			<tr class="info">
				<th colspan="3">첨부파일(미구현)</th>
				<td colspan="3">
					<input type="file" class="form-control" name="boardFile" th:value="${Board.boardFile}">
				</td>
			</tr>
		</table>
		<div style="margin-bottom:10px">
			<button type="button" class="btn btn-default btn-success" id="btnSubmit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>수정</button>
			<a th:href="@{/readDataLibrary(boardNum=${Board.boardNum})}" class="btn btn-default btn-info">취소</a>
		</div>
	</form>
	
	<!-- 유효성 검사 start -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	
	<script type="text/javascript">
	$(function(){
		$('#btnSubmit').click(function(){
			var noticeForm = $('#noticeForm');
			var boardTitle = $('#boardTitle');
			var boardContents = $('#boardContents');
			console.log(boardTitle + '<--boardTitle');
			console.log(boardContents + '<--boardContents');
			
			if(boardTitle.val() == ''){
				alert('제목을 입력해주세요.');
				boardTitle.focus();
				return;
			}else if(boardContents.val() == ''){
				alert('내용을 입력해주세요.');
				boardContents.focus();
				return;
			}
			noticeForm.submit();
		});
	});
	</script>
	<!-- 유효성 검사 end -->
	
	<!-- 썸머노트 start -->
    <div id="boardContents"></div>
    <script>
    $(document).ready(function() {
        $('#boardContents').summernote();
    });
    </script>
	<!-- 썸머노트 end -->
	</th:block>
	
	<th:block layout:fragment="customJsScript">
	</th:block>
	
</html>
