<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:each="b : ${Board}" th:text=${b.boardTitle}></title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
	
	<!-- 썸머노트 스크립트&link start -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
	<!-- 썸머노트 스크립트 end -->
	
	<h2>공지사항</h2>
	<form action="/getNotice" class="container-fluid">
		<table class="table table-striped" style="text-align:center">
			<tr class="info">
				<th>글번호</th>
				<th>작성자 ID</th>
				<th>작성자</th>
				<th>작성날짜</th>
			</tr>
			<tr>
				<td align="left" th:text="${Board.boardNum}"></td>
				<td align="left" th:text="${Board.boardWriterId}" id="boardWriterId"></td>
				<td align="left" th:text="${Board.boardWriterName}"></td>
				<td align="left" th:text="${Board.boardRegDate}"></td>
			</tr>
			<tr class="info">
				<th colspan="6">제목</th>
			</tr>
			<tr th:each="b : ${Board}">	
				<td colspan="6" align="left" th:text="${b.boardTitle}"></td>
			</tr>
			<tr class="info">
				<th colspan="6">내용</th>
			</tr>
			<tr th:each="b : ${Board}">	
				<td colspan="6" align="left" th:utext="${b.boardContents}"></td>
			</tr>								
			<tr class="info">
				<th colspan="6">사진(미구현)</th>
			</tr>
			<tr th:each="b : ${Board}">	
				<td colspan="6" align="left" th:text="${b.boardPicture}"></td>
			</tr>
			<tr class="info">
				<th colspan="6">첨부파일(다운로드 불가)</th>
			</tr>
			<tr th:each="b : ${Board}">	
				<td colspan="6" align="left" th:text="${b.boardFile}"></td>
			</tr>
		</table>
		
		<div style=	"margin-bottom:10px" th:each="b : ${Board}">
			<a th:href="@{/modifyNotice(boardNum=${b.boardNum})}" th:if="${session.SLEVEL == 1} or ${session.SLEVEL == 3}" class="btn btn-default btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>수정</a>
			<a th:href="@{/removeNotice(boardNum=${b.boardNum})}" th:if="${session.SLEVEL == 1} or ${session.SLEVEL == 3}" class="btn btn-default btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>삭제</a>
		</div>
		<div style=	"margin-bottom:10px" th:each="b : ${Board}">
			<a href="/getNotice" class="btn btn-default btn-info">리스트로 돌아가기</a>
		</div>
	
	</form>
	</th:block>
	
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>