<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title>공지사항 작성</title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
	<form action="/addNotice" class="container-fluid" method="post" id="noticeForm">
		<h2>공지사항 작성</h2>
		<table class="table table-striped">
			<tr class="info">
				<th colspan="3">글 번호</th>
				<td colspan="3">
					<input type="text" class="form-control"  name="boardNum">
				</td>
			</tr>
			<tr class="info">
				<th colspan="3">작성자 ID</th>
				<td colspan="3">
					<input type="text" class="form-control" name="boardWriterId">
				</td>
			</tr>
			<tr class="info">
				 <th colspan="3">제목</th>
				<td colspan="3">
					<input type="text" class="form-control" name="boardTitle" placeholder="제목을 입력해주세요.">
				</td>
			</tr>
			<tr class="info">	
				<th colspan="6">내용</th>
			</tr>
			<tr class="info">
				<td colspan="6">
					<textarea class="form-control" rows="10" name="boardContents" placeholder="공지할 내용을 입력해주세요.">
				</textarea></td>
			</tr>
			<tr class="info">
				<th colspan="3">사진</th>	
				<td colspan="3">
					<input type="text" class="form-control" name="boardPicture" placeholder="사진">
				</td>
			</tr>
			<tr class="info">
				<th colspan="3">파일</th>	
				<td colspan="3">
					<input type="text" class="form-control" name="boardFile" placeholder="파일">
				</td>
			</tr>
		</table>
		<div style="margin-bottom:10px">
			<button type="submit" class="btn btn-default btn-info" id="btnSubmit">등록</button>
		</div>
	</form>
	<form action="getNotice" class="container-fluid">
		<button type="submit" class="btn btn-default btn-info">취소</button>
	</form>
	</th:block>
	
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>
