<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title>공지사항</title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
			
		<form action="addNotice" class="container-fluid">
			
			<h2>공지사항 목록</h2>
			<!-- 검색창 미구현
			<form id="searchForm" class="form-inline" action="/searchList" method="post">
				<h5>검색</h5>
				<select class="form-control" name="bdSk" id="bdSk">
					<option value="board_title">제목</option>
					<option value="board_contents">내용</option>
					<option value="board_writer_id">작성자 아이디</option>
					<option value="mr_name">작성자 이름</option>
				</select> 
									
				<div class="form-group">
					<input type="text" class="form-control" name="bdSv" placeholder="검색 키워드" id="bdSv"/>
					<div class="input-group-btn pull-right">
						<button class="btn btn-default form-group" type="button" id="searchBtn">검색</button>
					</div>
				</div>
			</form>
			 -->
			<button type="submit" class="btn btn-default btn-success">공지사항 등록</button>

			<table class ="table table-striped">
				<thead>
					<tr class="info">
						<th>글번호</th>
						<th>제목</th>
						<th>작성자 ID</th>
						<th>작성자</th>
						<th>작성일자</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="n : ${noticeList}">
						<td th:text=${n.boardNum}></td>
						<td><a th:text=${n.boardTitle} th:href="@{/readNotice(boardNum=${n.boardNum})}"></a></td>
						<td th:text=${n.boardWriterId}></td>
						<td th:text=${n.boardWriterName}></td>
						<td th:text=${n.boardRegDate}></td>										
					</tr>
				</tbody>			
			</table>
		</form>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	
		<script type="text/javascript"> 
		
		 $(function(){
				 $('#searchBtn').click(function(){
					 var bdSk = $('#bdSk').val();
					 var bdSv = $('#bdSv').val();
					 var searchForm = $('#searchForm');
					 console.log(bdSk + ' < -- bdSk');
					 console.log(bdSv + ' < -- bdSv');
					
						var request = $.ajax({
						  url: "/notice",
						  method: "GET",
						  data: { bdSk : bdSk , bdSv : bdSv  },
						  dataType: "json"
						});
						request.done(function(data) {
						console.log(data);
						console.log(data.bdSk);
						console.log(data.bdSv);
						
						if(data == undefined || data == ''){
							alert('검색되는 내용이 없습니다.');
						}
						});
			
						request.fail(function( jqXHR, textStatus ) {
						  alert( "Request failed: " + textStatus );
						});
						searchForm.submit();
				 });
			 });
		
		</script>

	</th:block>
	
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>