<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title>공지사항</title> 
	</th:block>
	<th:block layout:fragment="customContent">
	
	<form action="#" class="container-fluid">
	
		<table class ="table table-striped">
			<thead>
				<tr class="info">
					<th>글번호</th>
					<th>제목</th>
					<th>작성자 ID</th>
					<th>작성자</th>
					<th>작성일자</th>
					<th>읽기</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="n : ${noticeList}">
					<td th:text=${n.boardNum}></td>
					<td th:text=${n.boardTitle}></td>
					<td th:text=${n.boardWriterId}></td>
					<td th:text=${n.boardWriterName}></td>
					<td th:text=${n.boardRegDate}></td>		
								
					<td>
						<a href="@{/readNotice(boardNum=${n.boardNum})}">읽기</a>
					</td>
				</tr>
			</tbody>			
		</table>
		<button type="submit" class="btn btn-default btn-info">공지사항 등록</button>
	</form>
	</th:block>
	
	<th:block layout:fragment="customJsScript">
	    <!-- jquery
		============================================ -->
	    <script src="js/vendor/jquery-1.12.4.min.js"></script>
	    <!-- bootstrap JS
			============================================ -->
	    <script src="js/bootstrap.min.js"></script>
	    <!-- wow JS
			============================================ -->
	    <script src="js/wow.min.js"></script>
	    <!-- price-slider JS
			============================================ -->
	    <script src="js/jquery-price-slider.js"></script>
	    <!-- meanmenu JS
			============================================ -->
	    <script src="js/jquery.meanmenu.js"></script>
	    <!-- owl.carousel JS
		============================================ -->
    	<script src="js/owl.carousel.min.js"></script>
	     <!-- sticky JS
		============================================ -->
    	<script src="js/jquery.sticky.js"></script>
	    <!-- scrollUp JS
			============================================ -->
	    <script src="js/jquery.scrollUp.min.js"></script>
	    <!-- mCustomScrollbar JS
			============================================ -->
	    <script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	    <script src="js/scrollbar/mCustomScrollbar-active.js"></script>
	    <!-- metisMenu JS
			============================================ -->
	    <script src="js/metisMenu/metisMenu.min.js"></script>
	    <script src="js/metisMenu/metisMenu-active.js"></script>
	    <!-- main JS
			============================================ -->
	    <script src="js/main.js"></script>
	</th:block>
</html>