<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title>수강후기</title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
	
	<form action="addReview" class="container-fluid">		
			 
			<button type="submit" class="btn btn-default btn-success pull-right" style="margin-bottom:10px">수강 후기 등록</button>
			
		<h1 align="center">수강후기</h1>
		<table class ="table table-striped">
			<thead>
				<tr class="info">
					<th>작성자 ID</th>
					<th>작성자</th>
					<th>평점</th>
					<th>코멘트</th>
					<th>작성일자</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="r : ${reviewList}">
					<td th:text=${r.reviewWriterId}></td>
					<td th:text=${r.reviewWriterName}></td>
					<td th:text=${r.reviewGrade}></td>
					<td th:text=${r.reviewComment}></td>
					<td th:text=${r.reviewRegDate}></td>
				</tr>
			</tbody>
		</table>	
	</form>
	
	</th:block>
	
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>