<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	
	<script type="text/javascript"> 
	
	$(function() {
	  $('#reportSubmit').click(function(){
		  console.log('저장하기이벤트');
			var gradeReportForm 	= $('#gradeReportForm');
		  	var lecName 			= $('#lecName').val();
			var	testNumber 			= $('#testNumber').val();
			var gradeSum 			= $('#gradeSum').val();
			var lecTarget 			= $('#lecTarget').val();
			var achievementRate 	= $('#achievementRate').val();
			var workReport 			= $('#workReport').val();
			console.log(lecName + '<--lecName');
			console.log(testNumber + '<--testNumber');
			console.log(gradeSum + '<--gradeSum');
			console.log(lecTarget + '<--lecTarget');
			console.log(achievementRate + '<--achievementRate');
			console.log(workReport + '<--workReport');
			
			if(lecName == undefined || lecName ==''){
				alert('강의를 선택해주세요');
				$('#lecName').focus();
				return;
			}else if(testNumber == undefined || testNumber ==''){
				alert('시험차수를 입력해주세요');
				$('#testNumber').focus();
				return;	
			}else if(gradeSum == ''){
				alert('평균을 구해주세요');
				$('#gradeSum').focus();
				return;
			}else if(achievementRate == ''){
				alert('달성률을 구해주세요');
				$('#achievementRate').focus();
				return;	
			}else if(workReport == ''){
				alert('업무보고내용을 작성해주세요');
				$('#workReport').focus();
				return;	
			};
			gradeReportForm.submit();
		});
	  
	  $('#avgBtn').click(function(){
		  console.log('평균구하기');
		  var lecCode = $('select[name=lecName] option:selected').val();
		  var testRou = $('select[name=testNumber] option:selected').val();
		  console.log('lecCode-->' + lecCode);
		  console.log('testRou-->' + testRou);

		  if(lecCode == '' || lecCode == undefined){
			  alert("과목을 선택해주세요");
		  } else{
			  if(testRou == '' || testRou == undefined){
			 	 alert("시험회차를 선택해주세요");
			  }else{
				  
				  var request = $.ajax({
					  url: "/gradeAvg",  
					  method: "POST", 
					  data: { lecCode : lecCode , testRou :  testRou }, 
					  dataType: "json"
					});
					request.done(function(data) {
						
						var num = parseInt(data.grade_man_score);
						$('#gradeSum').attr('value', num);
					console.log(data);
					});

					request.fail(function( jqXHR, textStatus ) {
					  alert( "error" + textStatus );
					});
			  }
		  } 
	  });
	
	  
	  $('#lecName').change(function(){
		  console.log('강의명change이벤트');
		  var lecOsCode = $('select[name=lecName] option:selected').val();
		  
		  var request = $.ajax({
			  url: "/claPeople",  
			  method: "POST", 
			  data: {  lecOsCode : lecOsCode }, 
			  dataType: "json"
			});
		 
			request.done(function(data) {
				/* alert(JSON.stringify(data)); */
				$('#claPeople').attr('value', data.claPeople);
				console.log(data.claPeople);
			});

			request.fail(function( jqXHR, textStatus ) {
			  alert( "error" + textStatus );
			});
		  
	  });
	  
	  $('#testNumber').change(function(){
		  console.log('회차 change이벤트');testNumber
		  var lecOsCode = $('select[name=lecName] option:selected').val();
		  var testRound = $('select[name=testNumber] option:selected').val();
		  
		  var request = $.ajax({
			  url: "/studentTargetCount",  
			  method: "POST", 
			  data: {  lecOsCode : lecOsCode , testRound : testRound}, 
			  dataType: "json"
			});
		 
			request.done(function(data) {
				/*  alert(JSON.stringify(data));  */
				 console.log(data.targetCount);
				 $('#targetCount').attr('value', data.targetCount);
			});

			request.fail(function( jqXHR, textStatus ) {
			  alert( "error" + textStatus );
			});
		  
	  });
	  
	  
	  $('#achievementBtn').click(function(){
		  console.log('달성률구하기');
		  var lecOsCode = $('select[name=lecName] option:selected').val();
		  var testNumber = $('select[name=testNumber] option:selected').val();
		  var claPeople = parseInt($('#claPeople').val()); 
		  var targetCount = $('#targetCount').val();
		  console.log(typeof(claPeople) + "<--claPeople");
		  
		  console.log('lecOsCode-->' + lecOsCode);
		  console.log('testNumber-->' + testNumber);
		  console.log('targetCount-->' + targetCount);
		  console.log('claPeople-->' + claPeople);
		  
		  if(lecOsCode == '' || lecOsCode ==  undefined){
			  alert("강의명을 선택해주세요");
		  }else if(testNumber == '' || testNumber == undefined){
		  	  alert("시험회차를 선택해주세요");
	  	  }else{
	  		  
				var sum = (((targetCount)/(claPeople))*100);
				$('#achievementRate').attr('value',sum.toFixed());
		  		console.log("sum-->"+sum);
		  		console.log(typeof(sum) + "<--sum");
	  	  }
	  });
	});
	  
	
	
	</script>
	</th:block>
	<th:block layout:fragment="customContent">

	<form action="/GradeReportWrite" class="container-fluid" style="text-align:center" id="gradeReportForm" method="post">
	<h3 style="color: grey;" >성적 업무 보고서 작성하기</h3><br>
		<div class="row">
	            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                <div class="sparkline12-list">
	                    <div class="sparkline12-graph">
	                            <div class="row">
	                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                                    <div class="all-form-element-inner">
	                                         <div class="form-group-inner">
	                                                <div class="row">
	                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
	                                                        <label class="login2 pull-right-pro">업무보고서 코드</label>
	                                                    </div>
	                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
	                                                        <input type="text" th:value="${codeResult}" class="form-control" name="reportLecCode" readonly="readonly" >
	                                                    </div>
	                                                </div>
	                                            </div>
                                              <div class="form-group-inner">
                                               	<div class="row">
                                                  		 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                       	<label class="login2 pull-right-pro">작성자</label>
                                                   	</div>
                                                   <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                       <input type="hidden" th:value="${sessionId}" name="mrName">
													<input type="text" class="form-control" th:placeholder="${sessionName}" readonly="readonly">
                                                   </div>
                                               	</div>
                                           	</div>
	                                             <div class="form-group-inner">
	                                                <div class="row">
	                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
	                                                        <label class="login2 pull-right-pro">강의명</label>
	                                                    </div>
	                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
	                                                    	<select name ="lecName" class="form-control custom-select-value" id="lecName" >
																<option value="">::강의::</option>
																<th:block th:each="c : ${classCode}">
																	<option th:value="${c.lec_os_code}">[[${c.lec_name}]]</option>
																</th:block>
															</select>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                             <div class="form-group-inner">
                                               	<div class="row">
                                                  		 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                       	<label class="login2 pull-right-pro">업무계획서코드</label>
                                                   	</div>
                                                   <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
													<input type="text" class="form-control"  readonly="readonly">
                                                   </div>
                                               	</div>
                                           	</div>
	                                         <div class="form-group-inner">
	                                                <div class="row">
	                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
	                                                        <label class="login2 pull-right-pro">시험회차</label>
	                                                    </div>
	                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
	                                                    <select name ="testNumber" class="form-control" id="testNumber">
															<option value="">::회차::</option>
																<th:block th:each="t : ${testNum}">
																	<option th:value="${t.grade_test_num}">[[${t.test_number}]]</option>
																</th:block>
														</select> 
	                                                    </div>
	                                                </div>
	                                            </div>
		                                 <div class="form-group-inner">
		                                    <div class="row">
		                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
		                                            <label class="login2  pull-right-pro">평균</label>
		                                        </div>
		                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
		                                            <div class="form-inline">
		                                            <input type="hidden" name ="claPeople" id="claPeople">
	                                                   		<input type="hidden" id="targetCount" name="targetCount">
		                                                <input type="text" class="form-control"  name="gradeAverage" id="gradeSum" placeholder="평균" readonly="readonly">
		                                           		<button type="button" class="btn btn-default" id="avgBtn">평균계산하기</button>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </div>
		                            <div class="form-group-inner input-with-error">
		                                    <div class="row">
		                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
		                                            <label class="login2  pull-right-pro">달성률</label>
		                                        </div>
		                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
		                                            <div class="form-inline">
		                                            <input type="number" class="form-control" name="achievementRate" id="achievementRate" placeholder="달성률" readonly="readonly">
		                                           		<button type="button" class="btn btn-default" id="achievementBtn">달성률 계산하기</button>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </div>
		                          <div class="form-group-inner">
		                              <div class="row">
		                                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
		                                      <label class="login2  pull-right-pro">성적업무 보고내용</label>
		                                  </div>
		                                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
		                                      <textarea class="form-control" rows="5"  name="workReport" id="workReport"></textarea>
		                                  </div>
		                              </div>
		                          </div>
                                        <div class="form-group-inner">
                                            <div class="login-btn-inner">
                                                <div class="row">
                                                    <div class="col-lg-3"></div>
                                                    <div class="col-lg-9">
                                                        <div class="login-horizental cancel-wp  form-bc-ele">
														<button type="button" class="btn btn-default" id="reportSubmit">저장하기</button>
														</div>	
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                     </div>
                  </div>
              </div>
		</form>	
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>


