<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	
	<script type="text/javascript"> 
	
	$(function() {
	  $('#btnSubmit').click(function(){
		  console.log('클릭 이벤트');
		  	var lecName = $('#lecName').val();
			var reportForm = $('#reportForm');
			var	lecTarget = $('#lecTarget').val();
			var lecPlan = $('#lecPlan').val();
			var lecEtc = $('#lecEtc').val();
			console.log(lecName + '<--lecName');
			console.log(lecTarget + '<--lecTarget');
			console.log(lecPlan + '<--lecPlan');
			console.log(lecEtc + '<--lecEtc');
			
			if(lecTarget == ''){
				alert('업무목표를 입력해주세요');
				$('#lecTarget').focus();
				return;
			}else if(lecPlan == ''){
				alert('업무계획을 입력해주세요');
				$('#lecPlan').focus();
				return;	
			}else if(lecEtc == ''){
				alert('기타사항을 입력해주세요');
				$('#lecEtc').focus();
				return;
			}else if(lecName == undefined || lecName ==''){
				alert('개설예정강의를 선택해주세요');
				return;	
			}
			reportForm.submit();
		}); 
	});
	
	</script>
	</th:block>
	<th:block layout:fragment="customContent">
                <form action="/workreportwrite" class="container-fluid" method="post" id="reportForm">
					<div class="row">
			            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			                <div class="sparkline12-list">
			                    <div class="sparkline12-hd">
			                        <div class="main-sparkline12-hd">
			                            <h2>개설예정강의 계획보고서</h2>
			                        </div>
			                    </div>
			                    <div class="sparkline12-graph">
			                            <div class="row">
			                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			                                    <div class="all-form-element-inner">
			                                         <div class="form-group-inner">
			                                                <div class="row">
			                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			                                                        <label class="login2 pull-right-pro">강의개설예정코드</label>
			                                                    </div>
			                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			                                                        <input type="text" class="form-control" th:value="${codeResult}" name="lecOpenCode" readonly="readonly" />
			                                                    </div>
			                                                </div>
			                                            </div>
				                                    <div class="form-group-inner">
				                                        <div class="row">
				                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                                <label class="login2 pull-right-pro">강의 개설 예정과목</label>
				                                            </div>
			                                            	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			                                                <div class="form-select-list">
			                                                <select name ="lecName" class="form-control custom-select-value" id="lecName" >
																<option value="">::개설예정 강의::</option>
																	<th:block th:each="c : ${classCode}">
																		<option th:value="${c.lec_os_code}" th:name ="lecName">[[${c.lec_name}]]</option>
																	</th:block>
															</select>
			                                                </div>
			                                            </div>
			                                        </div>
			                                    </div>
			                                   <div class="form-group-inner">
			                                      <div class="row">
			                                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			                                              <label class="login2  pull-right-pro">보고서 작성자</label>
			                                          </div>
			                                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			                                          <div class="form-select-list">
															<input type="hidden" th:value="${sessionId}" name="mrName">
															<input type="text" class="form-control" th:placeholder="${sessionName}" readonly="readonly">
			                                           </div>
			                                       	</div>
			                                      </div>
			                                   </div>
			                                 <div class="form-group-inner input-with-error">
			                                    <div class="row">
			                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			                                            <label class="login2  pull-right-pro">업무 목표</label>
			                                        </div>
			                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			                                            <div class="form-select-list">
			                                                <input type="number" class="form-control" name="lecTarget" id="lecTarget">
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
			                             <div class="form-group-inner">
			                                 <div class="row">
			                                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			                                         <label class="login2 pull-right-pro">업무계획</label>
			                                     </div>
			                                     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			                                        <textarea class="form-control" rows="10" name="lecPlan" id="lecPlan"></textarea>
			                                     </div>
			                                 </div>
			                             </div>
			                          <div class="form-group-inner">
			                              <div class="row">
			                                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			                                      <label class="login2  pull-right-pro">기타사항</label>
			                                  </div>
			                                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			                                      <textarea class="form-control" rows="5" name="lecEtc" id="lecEtc"></textarea>
			                                  </div>
			                              </div>
			                          </div>
                                         <div class="form-group-inner">
                                             <div class="login-btn-inner">
                                                 <div class="row">
                                                     <div class="col-lg-3"></div>
                                                     <div class="col-lg-9">
                                                         <div class="login-horizental cancel-wp  form-bc-ele">
                                                             <button class="btn" type="button" id="btnSubmit">저장하기</button>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                   </div>
             </div>
         </div>
   </form>
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>

