<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title></title> 
	</th:block>
	<th:block layout:fragment="customContent">

	<form action="/getGradeReportList" class="container-fluid" style="text-align:center">
	<h3 style="color: grey;" >성적 업무 보고서 상세보기 </h3><br>
				<div class="row">
			            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			                <div class="sparkline12-list">
			                    <div class="sparkline12-graph">
			                            <div class="row">
			                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			                                    <div class="all-form-element-inner">
			                                         <div class="form-group-inner">
			                                                <div class="row">
			                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			                                                        <label class="login2 pull-right-pro">업무보고서 코드</label>
			                                                    </div>
			                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			                                                        <label th:text="${gradeReport.reportLecCode}" class="form-control"  th:name="reportLecCode" ></label>
			                                                    </div>
			                                                </div>
			                                            </div>
			                                         <div class="form-group-inner">
			                                                <div class="row">
			                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			                                                        <label class="login2 pull-right-pro">강의코드</label>
			                                                    </div>
			                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			                                                        <label class="form-control" th:text="${gradeReport.openLecCode}" th:name="openLecCode"></label>
			                                                    </div>
			                                                </div>
			                                            </div>
			                                         <div class="form-group-inner">
			                                                <div class="row">
			                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			                                                        <label class="login2 pull-right-pro">시험회차</label>
			                                                    </div>
			                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			                                                        <label class="form-control" th:text="${gradeReport.testNumber}" th:name="testNumber" ></label>
			                                                    </div>
			                                                </div>
			                                            </div>
			                                         <div class="form-group-inner">
			                                                <div class="row">
			                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			                                                        <label class="login2 pull-right-pro">작성자</label>
			                                                    </div>
			                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			                                                        <label class="form-control" th:text="${gradeReport.mrName}" th:name="mrName"></label>
			                                                    </div>
			                                                </div>
			                                            </div>
			                                 <div class="form-group-inner input-with-error">
			                                    <div class="row">
			                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			                                            <label class="login2  pull-right-pro">평균점수</label>
			                                        </div>
			                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			                                            <div class="form-select-list">
			                                                <label class="form-control" th:text="${gradeReport.gradeAverage}" th:name="gradeAverage"></label>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
			                            <div class="form-group-inner input-with-error">
			                                    <div class="row">
			                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			                                            <label class="login2  pull-right-pro">달성률</label>
			                                        </div>
			                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			                                            <div class="form-select-list">
			                                                <label class="form-control" th:text="${gradeReport.achievementRate}" th:name="achievementRate"></label>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
			                          <div class="form-group-inner">
			                              <div class="row">
			                                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			                                      <label class="login2  pull-right-pro">업무보고내용</label>
			                                  </div>
			                                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			                                      <textarea class="form-control" rows="5" th:text="${gradeReport.workReport}" th:name="workReport" readonly="readonly"></textarea>
			                                  </div>
			                              </div>
			                          </div>
                                         <div class="form-group-inner">
                                             <div class="login-btn-inner">
                                                 <div class="row">
                                                     <div class="col-lg-3"></div>
                                                     <div class="col-lg-9">
                                                         <div class="login-horizental cancel-wp  form-bc-ele">
															<div style= "margin-bottom:10px" th:each="g : ${gradeReport}">
															<a class="btn btn-default btn-danger" th:href="@{/gradeReportUpdate(reportLecCode=${g.reportLecCode})}" role="button">수정하기</a>
															<button type="submit" class="btn btn-default">리스트로 돌아가기</button>
															<a class="btn btn-default btn-danger" th:href="@{/gradeReportDelete(reportLecCode=${g.reportLecCode})}" role="button" >삭제하기</a>
															</div>	
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                   </div>
               </div>
         </div>
	</form>	
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>


