<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title></title> 
	</th:block>
	<th:block layout:fragment="customContent">
	<form action="/workreportwrite" class="container-fluid" method="post" style="text-align:center">
	<h3 style="color: grey;" >개설예정 강의 계획보고서 작성</h3>
		<table class="table table-striped">
			<tr class="info">	
				<th>강의개설예정과목</th>
				<th>작성자</th>
			</tr>
			<tr>
				<td>
					<select name ="lecName" class="form-control">
						<option>::강의개설예정과목::</option>
						<th:block th:each="c : ${classCode}">
						<option th:value="${c.lec_os_code}">[[${c.lec_name}]]</option>
						</th:block>
					</select>
				</td>
				<td>
					<select name ="mrName" class="form-control">
						<option>::작성자::</option>
						<th:block th:each="w : ${writeName}">
						<option th:value="${w.mr_id}">[[${w.mr_name}]]</option>
						</th:block>
					</select>
				</td>
			</tr>
			<tr class="info">
				 <th colspan="6">업무목표</th>
			</tr>
			<tr>	
				<td colspan="6"><input type="text" class="form-control" name="lecTarget"></td>
			</tr>
			<tr class="info">	
				<th colspan="6">업무계획</th>
			</tr>
			<tr class="info">
			<td colspan="6"><textarea class="form-control" rows="6" name="lecPlan"></textarea></td>
			</tr>
			<tr class="info">	
				<th colspan="6">기타사항</th>
			</tr>
			<tr class="info">
			<td colspan="3"><textarea class="form-control" rows="6" name="lecEtc"></textarea></td>
			</tr>
			
		</table>
		<div style="margin-bottom:10px"> 
			<button type="button" class="btn btn-default btn-info">저장하기</button>
		</div>
	</form>	
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>

