<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="title"></title> 
	</th:block>
	<th:block layout:fragment="customContent">
	
		<form action="/workreportwrite" class="container-fluid">
		<button type="submit" class="btn btn-default btn-info">보고서작성하기</button>
	
		<table class ="table table-striped">
		<thead>
			<tr class="info">
				<th>업무계획코드</th>
				<th>강의예정코드</th>
				<th>업무계획</th>
				<th>기타사항</th>
				<th>작성자</th>
				<th>작성일자</th>
				<th>상세보기</th>
			</tr>
		</thead>	
		<tbody>
			<tr th:each="r : ${reportList}">
			<td th:text=${r.lecOpenCode}></td>
			<td th:text=${r.lecOpenScheCode}></td>
			<td th:text=${r.lecPlan}></td>
			<td th:text=${r.lecEtc}></td>
			<td th:text=${r.mrName}></td>
			<td th:text=${r.openLecRegDate}></td>
			<td>
				<a th:href="@{/workreportpage(lecOpenCode=${r.lecOpenCode})}">상세보기</a>
			</td>	
			</tr>
		</tbody>	
		</table>
	</form>
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>