<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="title"></title> 
	</th:block>
	<th:block layout:fragment="customContent">
	 <div class="product-status mg-b-15">
	 
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap drp-lst">
                            <h3>개설예정 강의 계획보고서</h3><br>
			             <form id="searchForm" class="form-inline" action="/searchList" method="post">  
							<select class="form-control" name="lecSk" id="lecSk">
						 		 <option value="lec_open_code">업무계획서코드</option>
						  		 <option value="lec_target">업무목표</option>
						  		 <option value="mr_name">작성자</option>
							</select> 
						
						<div class="form-group">
					  		<input type="text" class="form-control" name="lecSv" placeholder="Search" id="lecSv"/>
						    <div class="input-group-btn pull-right">
						        <button class="btn btn-default form-group" type="button" id="searchBtn">검색</button>
						   </div>
					    </div>
						</form>
						    <div class="add-product">
                                <a href="/workreportwrite">보고서 작성하기</a>
                            </div>
						<br>
                            <div class="asset-inner">
                                <table>
                                   <tr>
										<th>업무계획서코드</th>
										<th>개설예정 강의</th>
										<th>업무목표</th>
										<th>작성자</th>
										<th>작성일자</th>
										<th>상세보기</th>
									</tr>
                                  	<tr th:each="r : ${reportList}">
										<td th:text=${r.lecOpenCode}></td>
										<td th:text=${r.lecOpenScheCode}></td>
										<td th:text=${r.lecTarget}></td>
										<td th:text=${r.mrName}></td>
										<td th:text=${r.openLecRegDate}></td>
										<td>
											<a th:href="@{/workreportpage(lecOpenCode=${r.lecOpenCode})}">상세보기</a>
										</td>	
									</tr>
                                </table>
                            </div>
                            <div class="custom-pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	
	<script type="text/javascript"> 
	
	 $(function(){
			 $('#searchBtn').click(function(){
				 var lecSk = $('#lecSk').val();
				 var lecSv = $('#lecSv').val();
				 var searchForm = $('#searchForm');
				 console.log(lecSk + ' < -- lecSk');
				 console.log(lecSv + ' < -- lecSv');
				
					var request = $.ajax({
					  url: "/workreport",  
					  method: "GET", 
					  data: { lecSk : lecSk , lecSv : lecSv  }, 
					  dataType: "json"  
					});
					request.done(function(data) {   
					console.log(data);
					console.log(data.lecSk);
					console.log(data.lecSv);
					
					if(data == undefined || data == ''){
						alert('검색되는 내용이 없습니다.');
					}
					});
		
					request.fail(function( jqXHR, textStatus ) {
					  alert( "Request failed: " + textStatus );
					});
					searchForm.submit();
			 });
		 });
	
		</script>
		
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>