<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title></title> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	
	<script type="text/javascript"> 
	
	$(function() {
	  $('#btnSubmit').click(function(){
		  console.log('클릭 이벤트');
		  	var lecName = $('#lecName').val();
			var mrName = $('#mrName').val();
			var reportForm = $('#reportForm');
			var	lecTarget = $('#lecTarget').val();
			var lecPlan = $('#lecPlan').val();
			var lecEtc = $('#lecEtc').val();
			console.log(lecName + '<--lecName');
			console.log(mrName + '<--mrName');
			console.log(lecTarget + '<--lecTarget');
			console.log(lecPlan + '<--lecPlan');
			console.log(lecEtc + '<--lecEtc');
			
			if(lecTarget == ''){
				alert('업무목표를 입력해주세요');
				$('#lecTarget').focus();
				return;
			}else if(lecPlan == ''){
				alert('업무계획을 입력해주세요');
				$('#lecPlan').focus();
				return;	
			}else if(lecEtc == ''){
				alert('기타사항을 입력해주세요');
				$('#lecEtc').focus();
				return;
			}else if(lecName == undefined || lecName ==''){
				alert('개설예정강의를 선택해주세요');
				return;	
			}else if(mrName == undefined || mrName =='' ){
				alert('작성자를 선택해주세요');
				return;
			}
			reportForm.submit();
		}); 
	});
	</script>
	
	</th:block>
	<th:block layout:fragment="customContent">

<style>

table {
		  width:100%;
		}
		table{
		  	font-size: 17px;
   			height: 50%;
		}
		th{
		  padding-right:30px;
		  text-align: end;
		  width: 20%;
		  vertical-align: top;
		}
		td {
		  padding: 3px;
		  text-align: center;
		  border-collapse: collapse;
		  font-size: 15px;

</style>
	
	<form action="/workreportwrite" method="post" id="reportForm">
	<h3 style="color: grey;" >개설예정 강의 계획보고서 작성</h3><br>
		<table>
			<tr>
				<th>강의개설예정코드</th>	
				<td><input class="form-control" th:value="${codeResult}" name="lecOpenCode" readonly="readonly"></td>
			</tr>
			<tr>
				<th>강의개설예정과목</th>
				<td>
					<select name ="lecName" class="form-control" id="lecName">
						<option value="">::개설예정 강의::</option>
						<th:block th:each="c : ${classCode}">
						<option th:value="${c.lec_os_code}" th:name ="lecName">[[${c.lec_name}]]</option>
						</th:block>
					</select>
				</td>
			<tr>
				<th>작성자</th>
				<td>
					<select name ="mrName" class="form-control" id="mrName">
						<option value="">::작성자::</option>
						<th:block th:each="w : ${writeName}">
						<option th:value="${w.mr_id}" th:name ="mrName">[[${w.mr_name}]]</option>
						</th:block>
					</select>
				</td>
			</tr>
			<tr>	
				<th>업무목표</th>
				<td><input type="text" class="form-control" name="lecTarget" id="lecTarget"></td>
			</tr>
			<tr>
				<th>업무계획</th>
			<td><textarea class="form-control" rows="6" name="lecPlan" id="lecPlan"></textarea></td>
			</tr>
			<tr>
				<th>기타사항</th>
			<td><textarea class="form-control" rows="6" name="lecEtc" id="lecEtc"></textarea></td>
			</tr>
		</table>
		<div style="margin-bottom:10px"> 
			<button type="button" class="btn btn-default" id="btnSubmit">저장하기</button>
		</div>
	</form>	
	
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>

