<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title></title> 
	</th:block>
	<th:block layout:fragment="customContent">

<style>

table {
		  width:100%;
		}
		table, th{
		  border: 1px solid grey ;
		  border-collapse: collapse;
		  font-size: 17px;
		}
		th{
		  padding: 1px;
		  text-align: center;
		  background-color: lightgrey;
		}
		td {
		  padding: 3px;
		  border: 1px solid grey ;
		  text-align: center;
		  border-collapse: collapse;
		  font-size: 15px;

</style>
	
	<form action="/workreportwrite" class="container-fluid" method="post" id="reportForm">
	<h3 style="color: grey;" >개설예정 강의 계획보고서 작성</h3><br>
		<table class="table table-striped">
			<tr>
				<th>강의개설예정코드</th>	
				<th>강의개설예정과목</th>
				<th>작성자</th>
			</tr>
			<tr>
				<td><input class="form-control" th:value="${codeResult}" name="lecOpenCode" readonly="readonly"></td>
				<td>
					<select name ="lecName" class="form-control">
						<option>::개설예정 강의::</option>
						<th:block th:each="c : ${classCode}">
						<option th:value="${c.lec_os_code}" th:name ="lecName">[[${c.lec_name}]]</option>
						</th:block>
					</select>
				</td>
				<td>
					<select name ="mrName" class="form-control">
						<option>::작성자::</option>
						<th:block th:each="w : ${writeName}">
						<option th:value="${w.mr_id}" th:name ="mrName">[[${w.mr_name}]]</option>
						</th:block>
					</select>
				</td>
			</tr>
			<tr>
				 <th colspan="6">업무목표</th>
			</tr>
			<tr>	
				<td colspan="6"><input type="text" class="form-control" name="lecTarget"></td>
			</tr>
			<tr>	
				<th colspan="6">업무계획</th>
			</tr>
			<tr>
			<td colspan="6"><textarea class="form-control" rows="6" name="lecPlan"></textarea></td>
			</tr>
			<tr>	
				<th colspan="6">기타사항</th>
			</tr>
			<tr>
			<td colspan="3"><textarea class="form-control" rows="6" name="lecEtc"></textarea></td>
			</tr>
		</table>
		<div style="margin-bottom:10px"> 
			<button type="submit" class="btn btn-default btn-lg btn-block" id="btnSubmit">저장하기</button>
		</div>
	</form>	
	</th:block>
	<th:block layout:fragment="customJsScript">
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	
	<script type="text/javascript"> -->
<!-- 
		 $(function() {
			$('#btnSubmit').click(function(){
				
				var reportForm = $('#reportForm');
				 var lecName = $('#lecName').val();
				var mrName = $('#mrName').val(); 
				var lecTarget = $('#lecTarget').val();
				var lecPlan = $('#lecPlan').val();
				var lecEtc = $('#lecEtc').val();
				console.log(lecTarget + "<--lecTarget");
				
				 if(leName == '' || leName == undefined){
					alert('개설예정강의를 선택해주세요');
					 $('#lecName').focus();
					 return;
				}else if(mrName ==''|| mrName == undefined){
					alert('작성자를 선택해주세요');
					$('#mrName').focus();
					return; 
				 if(lecTarget ==''){
					alert('업무목표를 입력해주세요');
					$('#lecTarget').focus();
				}
				reportForm.submit();
			});
	});  
	</script>
		  -->
	
	
	</th:block>
</html>

