<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
  	<th:block layout:fragment="customTitle">
		<title>문제리스트</title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
		<style>
			table.QuestionTable {
			    border-collapse: collapse;
			    text-align: left;
			    line-height: 1.5;
			    text-align: center;
			
			}
			table.QuestionTable thead th {
			    padding: 10px;
			    font-weight: bold;
			    vertical-align: top;
			    color: #369;
			    border-bottom: 3px solid #036;
			    text-align: center;
			}
			table.QuestionTable tbody th {
			    width: 150px;
			    padding: 10px;
			    font-weight: bold;
			    vertical-align: top;
			    border-bottom: 1px solid #ccc;
			    text-align: center;
			}
			table.QuestionTable td {
			    width: 350px;
			    padding: 10px;
			    vertical-align: top;
			    border-bottom: 1px solid #ccc;
			    text-align: center;
			    
			}
		</style>
		<div style="border: 1px;" class="container-fluid">
		<div class="product-payment-inner-st" style="text-align: right;">
		<h4>문제리스트</h4>
			<table class="table QuestionTable">
		  		<thead>
		  			<tr>
		  				<th>순번</th>
		  				<th>제목</th>
		  				<th>출제자</th>
		  				<th>출제일</th>
		  				<th th:if="${session.SLEVEL == 1}">문제등록</th>
		  				<th th:if="${session.SLEVEL == 1}">시험응시인원확인</th>
		  				<th>점수확인</th>
		  				<th th:if="${session.SLEVEL == 1}">삭제</th>
		  			</tr>
		  		</thead>	  
		  		<tbody>
	  				<tr th:each="q : ${QuestionList}">
		  				<td th:text="${#numbers.formatInteger(q.rowNum,0,'POINT')}"></td>
		  				<td>
		  					<input type="hidden" th:value="${q.qt_codename}" id="questionCodeName">
			  				<input type="hidden" th:value="${session.SID}" id="questionSid">
			  				<input type="hidden" th:value="${q.qt_title}" id="questionCodeTitle">
			  				<a class="questionCodeName" id="questionCodeTitle">[[${q.qt_title}]]</a>
			  				<span th:if="${session.SLEVEL == 1}" class="glyphicon glyphicon-wrench modifyQuestionTitle" style="margin-left: 10px;"></span>
		  				</td>
		  				<td th:text="${q.mr_name}"></td>
		  				<td th:text="${q.qt_date}"></td>
		  				<td th:if="${session.SLEVEL == 1}">
		  					<a th:href="@{/titleQuestionList(qtCodeName=${q.qt_codename})}">
		  					<button class="btn btn-default">문제등록</button></a>
	  					</td>
		  				<td th:if="${session.SLEVEL == 1}">
		  					<a th:href="@{/candidateQuestionList(qtCodeName=${q.qt_codename})}">
		  					<button class="btn btn-default">인원확인</button></a>
	  					</td>
	  					<td>
	  						<button class="btn btn-default questionScoreCheck">점수확인</button>
  						</td>
		  				<td th:if="${session.SLEVEL == 1 && q.qt_codename ne 'test_question'}">
		  					<button class="btn btn-default deleteQuestionTitle">삭제</button>
	  					</td>
		  				<td th:if="${session.SLEVEL == 1 && q.qt_codename eq 'test_question'}">
		  					<button class="btn btn-default" id="notDeleteQuestionTitle">삭제</button>
	  					</td>
		  			</tr>
		  		</tbody>	
	  		</table>
				<button th:if="${session.SLEVEL == 1}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertQuestionTitleModal" id="insertQuestionTitleModalBtn">
				  타이틀등록
				</button>
				
				<!-- Modal -->
				<div class="modal fade" id="insertQuestionTitleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="staticBackdropLabel">타이틀등록</h5>
				      </div>
				      <div class="modal-body">
				      	<form>
				          <div class="form-group">
				            <label for="recipient-name" class="col-form-label">문제이름:</label>
				            <input type="text" class="form-control" placeholder="영문으로 작성해주세요." name="qtCodeName"  onkeyup="this.value=this.value.replace(/[^a-zA-Z-_0-9]/g,'');">
				          </div>
				          <div class="form-group">
			            	  <label for="message-text" class="col-form-label">LIST TITLE:</label>
				              <input type="text" class="form-control" placeholder="문제리스트에  나오는제목이름입니다." name="qtTitle">
				              <input type="hidden" name="qtTeacher" th:value="${session.SID}">
				          </div>
				        </form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
				        <button type="button" class="btn btn-primary" id="insertQuestionTitle">등록</button>
				      </div>
				    </div>
				  </div>
				</div>
  		</div>
  		<a th:href="@{/QuestionList}">처음</a>
		    
		    <span th:if="${currentPage > 1}"><a th:href="@{/QuestionList(currentPage=(${currentPage}-1))}">이전</a></span>
		    <span th:unless="${currentPage > 1}" th:text="이전"></span>
		    
		    <th:block th:each="num : ${#numbers.sequence(startPageNum,lastPageNum)}">
		        <span th:if="${currentPage == num}" th:text="${'【'+ num + '】'}"></span>
		        <a th:unless="${currentPage == num}" th:text="${'【'+ num + '】'}" th:href="@{/QuestionList(currentPage=${num})}"></a>
		    </th:block>
		    
		    <span th:if="${currentPage != lastPage}"><a th:href="@{/QuestionList(currentPage=(${currentPage}+1))}">다음</a></span>
		    <span th:unless="${currentPage != lastPage}" th:text="다음"></span>
		    <a th:href="@{/QuestionList(currentPage=${lastPage})}">마지막</a>
  	</div>
	<script src="js/question.js"></script>
	<script type="text/javascript">
		//테스트용 문제 제거방지
		$('#notDeleteQuestionTitle').click(function(){
			alert('해당 문제는 삭제할수 없습니다. \n새로 타이틀을 생성해주세요.');
		});
	</script>
	</th:block>
</html>