<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/defaultLogin">
	  
  	<th:block layout:fragment="customTitle">
		<title>테스트</title> 
	</th:block>
	<th:block layout:fragment="customContent">
		  
		    <th:block th:each="num : ${#numbers.sequence(startPageNum,lastPageNum)}">
		        <span th:if="${currentPage == num}" th:text="${'■'}"></span>
		        <span th:unless="${currentPage == num}" th:text="${'□'}" th:href="@{/Question(currentPage=${num})}"></span>
		    </th:block>
		<table th:each="q : ${Question}" class="table">
			<tr>
				
				<td><h4 th:text="${q.qe_data}"></h4></td>
			</tr>
			<tr>
				<td>
					<input type="radio" name="QuestionCheckbox" class="QuestionCheckbox"><label>&nbsp;&nbsp;A.</label><label th:text="${q.qe_A}"></label><br/>
					
					<input type="radio" name="QuestionCheckbox" class="QuestionCheckbox"><label>&nbsp;&nbsp;B.</label><label th:text="${q.qe_B}"></label><br/>
			
					<input type="radio" name="QuestionCheckbox"	class="QuestionCheckbox"><label>&nbsp;&nbsp;C.</label><label th:text="${q.qe_C}"></label><br/>
				
					<input type="radio" name="QuestionCheckbox" class="QuestionCheckbox"><label>&nbsp;&nbsp;D.</label><label th:text="${q.qe_D}"></label><br/>
				</td>
			</tr>
			
			
		</table>
		<span th:if="${currentPage > 1}"><a th:href="@{/Question(currentPage=(${currentPage}-1))}"><button type="button"  class="btn btn-default">이전 </button></a></span>
		<span th:if="${currentPage ne lastPage}"><a th:href="@{/Question(currentPage=(${currentPage}+1))}"><button type="button" class="btn btn-default">다음</button></a></span>
		<span th:if="${currentPage eq lastPage}"><a href="#"><button type="button" class="btn btn-default">완료</button></a></span>
	</th:block>
</html>