<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title>상담작성</title> 
	</th:block>
	<th:block layout:fragment="customContent">
	<div style="text-align: right; margin-right: 50px;">
		<a href="/consultingList"><button type="button" class="btn btn-default">리스트로</button></a>
	</div>
	<!-- 상담작성페이지 -->
	<h1>상담작성</h1>
		<div class="container-fluid">
		  	<form action="/addConsulting" method="POST" id="addconsulting">
		 	 	<div class="form-group form-inline">
					<label  class="col-sm-2 control-label">제목</label>
					<input type="text" class="form-control" name="consultingTitle" style="width: 83%;">
				</div>
				<!-- database안의 데이터를 가져와 상담자와 강의반을 출력 -->
				<div class="form-group form-inline">
					<div class="form-group">
				  		<select name ="consultingTeacher" class="form-control" >
				  			<option>::상담진행선생님::</option>
				  			<th:block th:each="t :${Teacher}">
					  			<option th:value="${t.mr_id}">[[${t.mr_name}]]</option>
				  			</th:block>
				  		</select>
			  		</div>
					<div class="form-group">
				  		<select name ="consultingClass" class="form-control" id="consultingClass">
				  			<option>::강의반목록::</option>
				  			<th:block th:each="l :${LecName}">
					  			<option th:value="${l.lec_name}">[[${l.lec_name}]]</option>
				  			</th:block>
				  		</select>
			  		</div>
					<input type="text" class="form-control" name="consultingStudent"  placeholder="상담받는학생">
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">상담내용</label>
					<textarea  class="form-control" name="consultingData" style="width:1200px; height:150px; resize: none;"></textarea>
				</div>
					<button type="submit" class="btn btn-default" id="addconsultingbtn">작성완료</button>
			</form>
		</div>
		<script src="js/consulting.js"></script>
	</th:block>
</html>