<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title>상담작성</title> 
	</th:block>
	<th:block layout:fragment="customContent">
	 <h1>상담작성</h1>
	  	<form>
	 	 	<div class="form-group form-inline">
				<label  class="col-sm-2 control-label">제목</label>
				<input type="text" class="form-control" name="consultingTitle">
			</div>
			<div class="form-group form-inline">
				<input type="text" class="form-control" name="consultingTeacher" placeholder="상담진행선생님">
					<div class="form-group">
				  		<select name ="consultingClass" class="form-control">
				  			<option value="1">관리자</option>
				  			<option value="1">관리자</option>
				  			<option value="1">관리자</option>
				  			<option value="1">관리자</option>
				  		</select>
			  		</div>
				<input type="text" class="form-control" name="consultingStudent"  placeholder="상담받는학생">
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">상담내용</label>
				<input type="text" class="form-control" name="consultingData" style="text-align:center; width:1200px; height:150px; letter-spacing: -5px">
			</div>
				<button type="submit" class="btn btn-default">작성완료</button>
		</form>
	</th:block>
	
	<th:block layout:fragment="customJsScript">
	 	<div th:replace="fragments/js :: jsFragment"></div>
	</th:block>
</html>