<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
		<title>상담리스트</title> 
	</th:block>
	<th:block layout:fragment="customContent" style="text-align: center;">
	<style type="text/css">
		.consultingListCss {
	      border-collapse: collapse;
	      border-top: 3px solid #168;
	    }  
	    .consultingListCss th {
	      color: #168;
	      background: #f0f6f9;
	      text-align: center;
	    }
	    .consultingListCss th, .consultingListCss td {
	      padding: 12px;
	      border: 1px solid #ddd;
	      text-align: center;
	    }
	    .consultingListCss tr td:first-child{
	      text-align: center;
	    }
	    .consultingListCss caption{caption-side: bottom; display: none;}
	</style>
	<!-- 상담리스트페이지 -->
		<div style="text-align: right; margin-right: 50px;">
			<a href="/consultingWrite"><button type="button" class="btn btn-default">상담작성</button></a>
		</div>
		<h4>상담리스트</h4>
		<table border="1" class="consultingListCss">
	  		<thead>
	  			<tr>
	  				<th>순번</th>
	  				<th>제목</th>
	  				<th>상담자</th>
	  				<th>내담자</th>
	  				<th>일자</th>
	  			</tr>
	  		</thead>	  
	  		<!-- 상담내역출력 -->	
	  		<tbody>
  				<tr th:each="c : ${consultingList}">
	  				<td style="text-align:center;" th:text="${#numbers.formatInteger(c.rowNum,0,'POINT')}"></td>
	  				<td><input type="hidden" th:value="${c.ConsultingCode}" name="consultingCode"><a class="consultingTitle">[[${c.ConsultingTitle}]]</a></td>
	  				<td th:text="${c.mr_name}"></td>
	  				<td th:text="${c.ConsultingStudent}"></td>
	  				<td th:text="${c.ConsultingDate}"></td>
	  			</tr>
	  		</tbody>	
  		</table>
  		<!-- 상담리스트의 페이징처리 -->
  		<a th:href="@{/consultingList}">처음</a>
		    
		    <span th:if="${currentPage > 1}"><a th:href="@{/consultingList(currentPage=(${currentPage}-1))}">이전</a></span>
		    <span th:unless="${currentPage > 1}" th:text="이전"></span>
		    
		    <th:block th:each="num : ${#numbers.sequence(startPageNum,lastPageNum)}">
		        <span th:if="${currentPage == num}" th:text="${'【'+ num + '】'}"></span>
		        <a th:unless="${currentPage == num}" th:text="${'【'+ num + '】'}" th:href="@{/consultingList(currentPage=${num})}"></a>
		    </th:block>
		    
		    <span th:if="${currentPage != lastPage}"><a th:href="@{/consultingList(currentPage=(${currentPage}+1))}">다음</a></span>
		    <span th:unless="${currentPage != lastPage}" th:text="다음"></span>
		    <a th:href="@{/consultingList(currentPage=${lastPage})}">마지막</a>
  		<!-- ajax를 이용한 상세내용 화면출력  -->
  		<!-- ajax를 사용한 js는 /static/js/main.js -->
		<form action="/upConsultingList" method="POST" id="consultingForm">
			<div style="margin-top: 20px;">
				<h4>상담정보</h4>
				<table border="1" class="consultingListCss">
		  			<tr>
						<td hidden=""><input type="hidden" id="consultingCode" name="consultingCode"></td>
		  				<td><label>제목</label></td>
		  				<td colspan="2"><input type="text" id="consultingTitle" class="inputbox" name="consultingTitle"></td>
		  				<td><label>강의반</label></td>
		  				<td colspan="4"><input type="text" id="consultingClass" class="inputbox" name="consultingClass" readonly="readonly"></td>
		  				
		  			</tr>
		  			<tr>
		  				<td><label>일자</label></td>
		  				<td  colspan="2"><input type="text" id="consultingDate" class="inputbox" name="consultingDate" readonly="readonly"></td>
		  				<td><label>상담자</label></td>
		  				<td hidden=""><input type="text" id="consultingTeacher" name="consultingTeacher"></td>
		  				<td  colspan="2"><input type="text" id="consultingTeacherName" class="inputbox" readonly="readonly"></td>
		  				<td><label>내담자</label></td>
		  				<td><input type="text" id="consultingStudent" class="inputbox" name="consultingStudent" readonly="readonly"></td>
		  			</tr>
		  			<tr>
		  				<td><label>상담내용</label></td>
		  				<td colspan="7"><textarea id="consultingData" name="consultingData"></textarea></td>
		  			</tr>
		  		</table>
	 		</div>
	 			<!-- 상세내용을 화면출력시 그데이터를 바탕으로 수정과삭제처리 --><!-- 현재 form삭제 버튼 이동할 수정 ajax 만들어야한다.   -->
				<button type="button" id="upConsulting" class="btn btn-default">수정</button>
				<!-- 삭제처리는 미완성 -->
				<button type="button" id="deleteConsulting" class="btn btn-default">삭제</button>
		</form>
	<script src="js/consulting.js"></script>
	</th:block>
</html>