<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<!-- start footer -->
	<div class="footer-copyright-area" th:fragment="footerFragment" style="background-color: #242939">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>WON I ONE Project (LMS 기반의 맞춤형 학원 관리 시스템)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end footer -->
	
</html>