<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


	<div class="container-fluid" th:fragment="headerFragment">
		<div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="#" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area" style="background-color: #242939;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item"><a href="#" class="nav-link">Home</a>
                                                </li>
                                                <li class="nav-item"><a href="#" class="nav-link">About</a>
                                                </li>
                                                <li class="nav-item"><a href="#" class="nav-link">Services</a>
                                                </li>
                                                <li class="nav-item dropdown res-dis-nn" th:if="${session.SID != null}">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">Project <span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span></a>
                                                    <div role="menu" class="dropdown-menu animated zoomIn">
                                                        <a href="#" class="dropdown-item">Documentation</a>
                                                        <a href="#" class="dropdown-item">Expert Backend</a>
                                                        <a href="#" class="dropdown-item">Expert FrontEnd</a>
                                                        <a href="#" class="dropdown-item">Contact Support</a>
                                                    </div>
                                                </li>
                                                <li class="nav-item" th:if="${session.SID != null}"><a href="#" class="nav-link">Support</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item" style="margin-right: 50px;">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
															<img src="#" alt="">
															<span class="admin-name" th:if="${session.SID != null}" th:text="${session.SNAME + '님'}"></span>
															<i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
														</a>
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                       	<!-- 로그아웃 처리 해야함.0916_22:05 -->
                                                        <li><a href="/logout" th:if="${session.SID ne null}">
                                                        	<span class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown" style="display: block;">
                                    <ul class="mobile-menu-nav">
                                        <li><a data-toggle="collapse" data-target="#Charts" href="#">회원관리 !<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul class="collapse dropdown-header-top">
                                                <li>
                                                	<a href="#">구성원관리 !</a>
						                            <ul>
					                                	<li><a href="/getWIOMemberList"><span>구성원 목록O</span></a></li>
					                                	<li><a href="/addWIOMember"><span>구성원 등록!</span></a></li>
					                            	</ul>
				                            	</li>
                                                 <li>
												    <a href="#">상담관리 O</a>
					                            	<ul class="submenu-angle menu-font" aria-expanded="true">
					                                	<li><a href="/consultingWrite"><span class="mini-sub-pro">상담작성 O</span></a></li>
					                                	<li><a href="/consultingList"><span class="mini-sub-pro">상담내역 O</span></a></li>
					                            	</ul>
					                        	</li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demoevent" href="#">운영관리 !<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demoevent" class="collapse dropdown-header-top">
                                                <li>
                                                	<a href="/textbookManage">교재관리 !</a>
                                                </li>
                                                <li>
                                                	<a href="/equipmentManage">비품관리 !</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demopro" href="#">과정관리 !<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demopro" class="collapse dropdown-header-top">
                                                <li>
                                                	<a href="/lectureManage">과정관리 !</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#democrou" href="#">평가관리 !<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="democrou" class="collapse dropdown-header-top">
                                                <li>
                                                	<a href="/QuestionList">문제리스트</a>
                                                </li>
                                                <li>
				                                	<a href="#">성적관리 !</a>
						                            <ul class="submenu-angle menu-font" aria-expanded="true">
					                                	<li><a href="/getGradeList"><span class="mini-sub-pro">학생성적 !</span></a></li>
					                                	<li><a href="/getScholarList"><span class="mini-sub-pro">장학금지급내역 !</span></a></li>
					                            	</ul>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demolibra" href="#">인사관리 !<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demolibra" class="collapse dropdown-header-top">
                                                <li>
                                                	<a href="#">업무보고서 !</a>
						                            <ul class="submenu-angle menu-font" aria-expanded="true">
					                                	<li><a href="/getReportList"><span class="mini-sub-pro">강의 업무 계획서</span></a></li>
					                                	<li><a href="/getGradeReportList"><span class="mini-sub-pro">강의 업무 보고서</span></a></li>
					                            	</ul>
                                                </li>
                                                <li>
                                                	<a href="#">급여관리!</a>
						                            <ul class="submenu-angle menu-font" aria-expanded="true">
					                                	<li><a href="/officersPayIndex"><span class="mini-sub-pro">직원급여관리 !</span></a></li>
					                                	<li><a href="/staffPayIndex"><span class="mini-sub-pro">강사급여관리 !</span></a></li>
					                                	<li><a href="/getPayList"><span class="mini-sub-pro">급여목록 !</span></a></li>
					                            	</ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demodepart" href="#">근태관리 !<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demodepart" class="collapse dropdown-header-top">
                                                <li>
                                                	<a href="#">출퇴근 !</a>
						                            <ul class="submenu-angle menu-font" aria-expanded="true">
					                                	<li><a href="/workAttendanceList"><span class="mini-sub-pro">출퇴근 !</span></a></li>
					                                	<li><a href="/attManage"><span class="mini-sub-pro">출퇴근시간관리 !</span></a></li>
					                            	</ul>
                                                </li>
                                              	<li>
                                                	<a href="#">휴가</a>
						                            <ul>
					                                	<li><a href="/holidayApproval"><span class="mini-sub-pro">휴가신청 !</span></a></li>
					                                	<li><a href="/holidayList"><span class="mini-sub-pro">휴가신청관리 !</span></a></li>
					                            	</ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demo" href="#">게시판관리 !<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demo" class="collapse dropdown-header-top">
                                                <li><a href="/getNotice">공지사항 !</a>
                                                </li>
                                                <li><a href="/getDataLibrary">자료게시판 !</a>
                                                </li>
                                                <li><a href="#">수강후기 !</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href="/">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">기능페이지 추가공간</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
</html>