<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


	<div class="container-fluid" th:fragment="headerFragment">
		<div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro" style="text-align: right;">
                    	<a href="/"><span style="border-bottom: 2px solid black;">HOME</span></a>
                    	<span th:if="${session.SID eq null}" style="border-bottom: 2px solid black;"><a href="/login">로그인</a></span>
                    	<span th:unless="${session.SID eq null}" style="border-bottom: 2px solid black;"><a href="/logout">로그아웃</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area" style="margin-top: 1%">
            <div class="header-top-area" style="background-color: #242939;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item"><a href="/index" class="nav-link">Home</a>
                                                </li>
                                                <li th:if="${session.SID eq null}" class="nav-item"><a href="/login" class="nav-link">로그인</a>
                                                </li>
                                                <li th:unless="${session.SID eq null}" class="nav-item"><a href="/logout" class="nav-link">로그아웃</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
            <div class="mobile-menu-area">	
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown" style="display: block;">
                                    <ul class="mobile-menu-nav">
                                        <li th:if="${session.SLEVEL ne null}">
                                        	<a data-toggle="collapse" data-target="#Charts" href="#">회원관리<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul class="collapse dropdown-header-top">
                                                <li>
                                                	<a href="#">구성원관리</a>
						                            <ul>
					                                	<li><a href="/getWIOMemberList"><span>구성원 목록</span></a></li>
					                                	<li th:if="${session.SLEVEL eq 1 || session.SLEVEL eq 3}">
					                                		<a href="/addWIOMember"><span>구성원 등록</span></a>
					                                	</li>
					                            	</ul>
				                            	</li>
                                                <li th:if="${session.SLEVEL < 4}">
												    <a href="/consultingList">상담관리</a>
					                        	</li>
                                                <li th:if="${session.SLEVEL eq 1 || session.SLEVEL eq 4}">
												    <a href="/refundApplication">환불신청</a>
					                        	</li>
                                            </ul>
                                        </li>
                                        <li th:if="${session.SLEVEL ne null and session.SLEVEL < 4}">
                                        	<a data-toggle="collapse" data-target="#demoevent" href="#">운영관리<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demoevent" class="collapse dropdown-header-top">
                                                <li>
                                                	<a>교재관리</a>
                                                	<ul>
					                                	<li th:if="${session.SLEVEL < 4}">
					                                		<a href="/textbookInfoList"><span>교재정보</span></a>
				                                		</li>
					                                	<li th:if="${session.SLEVEL eq 1 || session.SLEVEL eq 3}">
					                                		<a href="/textbookWahoList"><span>교재입고</span></a>
					                                	</li>
					                                	<li th:if="${session.SLEVEL eq 1 || session.SLEVEL eq 3}">
					                                		<a href="/textbookSupplyList"><span>교재지급</span></a>
					                                	</li>
					                            	</ul>
                                                </li>
                                                <li th:if="${session.SLEVEL eq 1 || session.SLEVEL eq 3}">
                                                	<a>비품관리</a>
                                                	<ul>
					                                	<li>
					                                		<a href="/equipmentList"><span>비품정보</span></a>
				                                		</li>
					                                	<li>
					                                		<a href="/equipWhList"><span>비품입고</span></a>
					                                	</li>
					                            	</ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li th:if="${session.SLEVEL ne null}">
                                        	<a data-toggle="collapse" data-target="#demopro" href="#">과정관리<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demopro" class="collapse dropdown-header-top">
                                                <li>
                                                	<a href="/lectureOpenScheduleList" th:if="${session.SLEVEL < 4}">강의 예정목록</a>
                                                	<a href="/lectureList" th:if="${session.SLEVEL < 4}">강의 개설현황</a>
                                                	<a href="/lecTimetablefullCalendar">시간표</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li th:if="${session.SLEVEL ne null}">
                                        	<a data-toggle="collapse" data-target="#democrou" href="#">평가관리<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="democrou" class="collapse dropdown-header-top">
                                                <li>
                                                	<a href="/QuestionList">문제리스트</a>
                                                </li>
                                                <li>
				                                	<a href="#">성적관리</a>
						                            <ul class="submenu-angle menu-font" aria-expanded="true">
					                                	<li th:if="${session.SLEVEL < 3}">
					                                		<a href="/getGradeList"><span class="mini-sub-pro">학생성적</span></a>
				                                		</li>
					                                	<li>
					                                		<a href="/getScholarList"><span class="mini-sub-pro">장학금지급내역</span></a>
				                                		</li>
					                            	</ul>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        <li th:if="${session.SLEVEL ne null and session.SLEVEL < 4}">
                                        	<a data-toggle="collapse" data-target="#demolibra" href="#">인사관리<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demolibra" class="collapse dropdown-header-top">
                                                <li th:if="${session.SLEVEL < 3}">
                                                	<a>업무보고서</a>
						                            <ul class="submenu-angle menu-font" aria-expanded="true">
					                                	<li><a href="/getReportList"><span class="mini-sub-pro">강의 업무 계획서</span></a></li>
					                                	<li><a href="/getGradeReportList"><span class="mini-sub-pro">성적 업무 보고서</span></a></li>
					                            	</ul>
                                                </li>
                                                <li th:if="${session.SLEVEL eq 1}">
                                                	<a>급여관리</a>
						                            <ul class="submenu-angle menu-font" aria-expanded="true">
					                                	<li>
					                                		<a href="/officersPayIndex"><span class="mini-sub-pro">직원급여관리</span></a>
					                                	</li>
					                                	<li>
					                                		<a href="/staffPayIndex"><span class="mini-sub-pro">강사급여관리</span></a>
					                                	</li>
					                                	<li>
					                                		<a href="/getPayList"><span class="mini-sub-pro">급여목록</span></a>
					                                	</li>
					                            	</ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li th:if="${session.SLEVEL ne null and session.SLEVEL < 4}">
                                        	<a data-toggle="collapse" data-target="#demodepart" href="#">근태관리<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demodepart" class="collapse dropdown-header-top">
                                                <li th:if="${session.SLEVEL eq 1 || session.SLEVEL eq 3}">
                                                	<a>출퇴근</a>
						                            <ul class="submenu-angle menu-font" aria-expanded="true">
					                                	<li>
					                                		<a href="/workAttendanceList"><span class="mini-sub-pro">출퇴근</span></a>
					                                	</li>
					                                	<li th:if="${session.SLEVEL eq 1}">
					                                		<a href="/attManage"><span class="mini-sub-pro">출퇴근시간관리</span></a>
					                                	</li>
					                            	</ul>
                                                </li>
                                              	<li>
                                                	<a>휴가</a>
						                            <ul>
					                                	<li>
					                                		<a href="/holidayApproval"><span class="mini-sub-pro">휴가신청</span></a>
					                                	</li>
					                                	<li th:if="${session.SLEVEL eq 1}">
					                                		<a href="/holidayList"><span class="mini-sub-pro">휴가신청관리</span></a>
					                                	</li>
					                            	</ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demo">게시판관리<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demo" class="collapse dropdown-header-top">
                                                <li><a href="/getNotice">공지사항</a>
                                                </li>
                                                <li><a href="/getDataLibrary">자료게시판</a>
                                                </li>
                                                <li><a href="/getReview">수강후기</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
                                    	<span class="admin-name" th:if="${session.SID != null}" th:text="${session.SNAME + '님 환영합니다.'}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
</html>