<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<!-- Start Left menu area -->
	<div class="left-sidebar-pro" th:fragment="leftcolumnFragment">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="/"><img class="main-logo" src="img/won i one logo black.jpg" alt="" /></a>
                <strong><a href="index.html"><img src="#" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li>
                            <a class="has-arrow" href="/">
							   <span class="glyphicon glyphicon-home"  style=" margin-right: 10px; font-size: larger;"></span>
							   <span class="mini-click-non" >회원관리 !</span>
							</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li>
	                                <a class="has-arrow" href="/" style="border: 2px solid #969696;">
	                                	<span class="mini-sub-pro">구성원관리 !</span>
	                                </a>
		                            <ul class="submenu-angle menu-font" aria-expanded="true">
	                                	<li><a href="/getWIOMemberList"><span class="mini-sub-pro">구성원 목록O</span></a></li>
	                                	<li><a href="/addWIOMember"><span class="mini-sub-pro">구성원 등록!</span></a></li>
	                            	</ul>
                                </li>
                            <li>
                         		<a class="has-arrow" href="/" style="border: 2px solid #969696;" >
								   <span class="mini-click-non">상담관리 !</span>
								</a>
                            	<ul class="submenu-angle menu-font" aria-expanded="true">
                                	<li><a href="/consultingWrite"><span class="mini-sub-pro">상담작성 O</span></a></li>
                                	<li><a href="/consultingList"><span class="mini-sub-pro">상담내역 !</span></a></li>
                            	</ul>
                        	</li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="glyphicon glyphicon-barcode"  style=" margin-right: 10px; font-size: larger;"></span> <span class="mini-click-non">운영관리 !</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li style="border: 2px solid #969696;"><a href="/textbookManage"><span class="mini-sub-pro">교재관리 !</span></a></li>
                                <li style="border: 2px solid #969696;"><a href="/equipmentManage"><span class="mini-sub-pro">비품관리 !</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="glyphicon glyphicon-folder-open"  style=" margin-right: 10px; font-size: larger;"></span> <span class="mini-click-non">과정관리 #</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li style="border: 2px solid #969696;"><a href="#"><span class="mini-sub-pro">과정관리 #</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="glyphicon glyphicon-book"  style=" margin-right: 10px; font-size: larger;"></span> <span class="mini-click-non">평가관리 #</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                               	<li style="border: 2px solid #969696;"><a href="/QuestionList"><span class="mini-sub-pro">문제 리스트</span></a></li>
	                            <li>
	                         		<a class="has-arrow" href="/" style="border: 2px solid #969696;" >
									   <span class="mini-sub-pro">성적관리 !</span>
									</a>
	                            	<ul class="submenu-angle menu-font" aria-expanded="true">
	                                	<li><a href="/getGradeList"><span class="mini-sub-pro">학생성적!</span></a></li>
	                                	<li><a href="/getScholarList"><span class="mini-sub-pro">장학금지급기준 !</span></a></li>
	                                	<li><a href="#"><span class="mini-sub-pro">장학금지급내역 #</span></a></li>
                           			</ul>
                        		</li>
                            </ul>
	                           
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="glyphicon glyphicon-user"  style=" margin-right: 10px; font-size: larger;"></span> <span class="mini-click-non">인사관리 !</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li style="border: 2px solid #969696;"><a href="/getReportList"><span class="mini-sub-pro">업무보고 !</span></a></li>
                                <li>
                         			<a class="has-arrow" href="/" style="border: 2px solid #969696;">
								   		<span class="mini-click-non">급여관리 !</span>
									</a>
                            			<ul class="submenu-angle menu-font" aria-expanded="true">
                                			<li><a href="/officersPayIndex"><span class="mini-sub-pro">직원급여관리 !</span></a></li>
                                			<li><a href="/staffPayIndex"><span class="mini-sub-pro">강사급여관리 #</span></a></li>
                                			<li><a href="/getPayList"><span class="mini-sub-pro">급여목록 O</span></a></li>
                            			</ul>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-message icon-wrap"></span> <span class="mini-click-non">근태관리 !</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                            	<li>
	                                <a class="has-arrow" href="/" style="border: 2px solid #969696;">
	                                	<span class="mini-sub-pro">출퇴근 !</span>
	                                </a>
		                            <ul class="submenu-angle menu-font" aria-expanded="true">
	                                	<li><a href="/workAttendanceList"><span class="mini-sub-pro">출퇴근 !</span></a></li>
	                                	<li><a href="/attManage"><span class="mini-sub-pro">출퇴근시간관리(관리자)!</span></a></li>
	                            	</ul>
                                </li>
                                <li>
	                                <a class="has-arrow" href="/" style="border: 2px solid #969696;">
	                                	<span class="mini-sub-pro">휴가 !</span>
	                                </a>
		                            <ul class="submenu-angle menu-font" aria-expanded="true">
	                                	<li><a href="/holidayApproval"><span class="mini-sub-pro">휴가신청 !</span></a></li>
	                                	<li th:if="${session.SLEVEL eq 1}"><a href="/holidayList"><span class="mini-sub-pro">휴가신청관리(관리자)!</span></a></li>
	                            	</ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="glyphicon glyphicon-list-alt"  style=" margin-right: 10px; font-size: larger;"></span> <span class="mini-click-non">게시판관리 !</span></a>
                            <ul class="submenu-angle interface-mini-nb-dp" aria-expanded="false">
                                <li style="border: 2px solid #969696;"><a href="/getNotice"><span class="mini-sub-pro">공지사항 !</span></a></li>
                                <li style="border: 2px solid #969696;"><a href="/getDataLibrary"><span class="mini-sub-pro">자료게시판 !</span></a></li>
                                <li style="border: 2px solid #969696;"><a href="#"><span class="mini-sub-pro">수강후기 !</span></a></li>
                            </ul>
                        </li>
                    </ul>
                        <h2 style="background-color: black; margin: 0px;">배포일자 :</h2>
                        <h2 style="background-color: black;">2020 - 09 - 24  </h2>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->
</html>