<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/defaultLogin">
	
	<th:block layout:fragment="customTitle">
		<title>Won I One</title>
		<style>
			.thCenter{
				text-align: center;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript">
			$(function(){
				$('#loginBtn').click(function(){
					
					var mrId = $('input[name=mrId]').val();
					var mrPw = $('input[name=mrPw]').val();
					
					if(mrId === '' || mrId === undefined){
						alert('아이디를 입력해 주세요');
						mrId.focus();
						return ;
					}else if(mrPw === '' || mrPw === undefined){
						alert('비밀번호를 입력해 주세요');
						mrPw.focus();
						return ;
					}else{
						var request = $.ajax({
							  url: "/WIOMemberIdCheck",
							  method:"post",
							  data: { mrId : mrId, mrPw : mrPw},
							  dataType: "text"
						});
						request.done(function(data){
							console.log(data,'data');
							if(data != undefined && data != ''){
								$('form').submit();
							}else{
								alert("입력한 정보가 일치하지 않습니다.");
							}
						});
						request.fail(function(jqXHR, textStatus){
							alert("Request failed: " + textStatus);
						});
					}
				});
				$('#adminCheck').click(function(){
					$('#mrIdCheck').attr("value","oid001");
					$('#mrPw').attr("value","opw001");
				});
				$('#teacherCheck').click(function(){
					$('#mrIdCheck').attr("value","oid002");
					$('#mrPw').attr("value","opw002");
				});
				$('#staffCheck').click(function(){
					$('#mrIdCheck').attr("value","oid003");
					$('#mrPw').attr("value","opw003");
				});
				$('#studentCheck').click(function(){
					$('#mrIdCheck').attr("value","sid001");
					$('#mrPw').attr("value","spw001");
				});
				
			});
			
		</script>
	</th:block>
	
	<th:block layout:fragment="customContent">
			<body class='login'>
	    <div class='wrapper'>
	      <div class='row'>
	        <div class='col-lg-12'>
	          <div class='brand text-center'>
	            <h1>
	              <div class='logo-icon'>
	                <img src="img/won i one logo45.jpg"></img>
	              </div>
	              Won I One
	            </h1>
	          </div>
	        </div>
	      </div>
		<div class='row'>
		<div class='col-lg-12'>
			<form action="/login" th:if="${session.SID eq null}" method="post">
				<fieldset class='text-center'>
					<legend>Login</legend>
				<div class='form-group'>
					<input class='form-control' type='text'name="mrId" placeholder="아이디를 입력해주세요." id="mrIdCheck">
				</div>
				<div class='form-group'>
					<input class='form-control' type='password' name="mrPw" placeholder="비밀번호를 입력해주세요." id="mrPw">
				</div>
				<div class='text-center'>
					<button type="submit" id="loginBtn" class="btn btn-default">로그인</button>
				</div>
				</fieldset>
			</form>
			<div style="text-align: center;">
             <span th:if="${session.SID ne null}" style="margin-right: 20px;">
                <a href="/logout"><button type="button" class="btn btn-default">Log Out</button></a>
               </span>
             <span th:if="${session.SID ne null}">
                <a href="/index"><button type="button" class="btn btn-default">HOME</button></a>
               </span>
            </div>
		</div>
		</div>
		</div>
		<div class="container">
			<table class="table" style="background-color: white; text-align: center;">
				<thead>
					<tr>
						<th class="thCenter">아이디</th>
						<th class="thCenter">비밀번호</th>
						<th class="thCenter">권한</th>
						<th class="thCenter">아이디선택</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>oid001</td>
						<td>opw001</td>
						<td>관리자</td>
						<td><button type="button" class="btn btn-default" id="adminCheck">선택</button><td>
					</tr>
					<tr>
						<td>oid002</td>
						<td>opw002</td>
						<td>시간강사</td>
						<td><button type="button" class="btn btn-default" id="teacherCheck">선택</button><td>
					</tr>
					<tr>
						<td>oid003</td>
						<td>opw003</td>
						<td>직원</td>
						<td><button type="button" class="btn btn-default" id="staffCheck">선택</button><td>
					</tr>
					<tr>
						<td>sid001</td>
						<td>spw001</td>
						<td>학생</td>
						<td><button type="button" class="btn btn-default" id="studentCheck">선택</button><td>
					</tr>
				</tbody>
			</table>
		</div>
	</th:block>
<!-- 	
	<th:block layout:fragment="customJs">
	
	</th:block>
 -->
</html>