<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContent">
		<h2 th:text="${mainTitle}"></h2>
	<div>
		<h2 th:text="${regResult}"></h2>
	</div>
		<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
					  <th>1</th> 
					</tr>
				</thead>
				<tbody>
					<tr>
					  <td>1</td>
					</tr>
				</tbody>
			</th:block> 
		</table>
	</th:block>
	<th:block layout:fragment="customJsScript">
	 
	</th:block>
</html>