<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContent">
	<h2 th:text="${mainTitle}"></h2>
	<div class="container-fluid" style="margin: 10px;">
		<div>
			<a href="/equipRegisterMain" class="btn btn-default btn-lg" role="button">등록페이지</a>
			<a href="#" class="btn btn-default btn-lg" role="button">비품입고내역</a>
			<a href="#" class="btn btn-default btn-lg" role="button">비품목록</a>
		</div>
	</div>	
	</th:block>
	
	<div class="container-fluid" style="margin: 10px;">
	</div>	
	<th:block layout:fragment="customJsScript">
	 
	</th:block>
</html>