<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContent">
			<form class="form-inline" id="searchForm" action="/equipSearch" method="GET" >  
			<select class="form-control" name="equipSk" id="selectEqSk">
				<option disabled="disabled" selected="selected">::검색조건::</option>
				<option value="eq_code">비품코드</option>
				<option value="eq_category">물품카테고리</option>
				<option value="eq_name">품명</option>
				<option value="eq_model_name">물품모델명</option>
				<option value="eq_writer">작성자아이디</option>
			</select> 
			<div class="form-group">
			<input type="text" id="equipSv" class="form-control" name="equipSv" placeholder="검색어를 입력해주세요"/>
				<div class="input-group-btn pull-right">
					<button class="btn btn-default form-group" id="searchEqBtn" type="button">검색</button>
				</div>
			</div>
		</form>
	        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4 th:text="${mainTitle}"></h4>
                            <div class="add-product">
                                <a href="/equipRegister">비품정보등록하기</a>
                            </div>
                            <div class="asset-inner">
                                <table>
                                    <tr>
									  <td>비품코드</td>
									  <td>물품카테고리</td>
									  <td>품명</td>
									  <td>물품모델명</td>
									  <td>작성자아이디</td>
									  <td>등록일자</td>
									  <td>비고</td>
                                      <td>수정 / 삭제</td>
                                    </tr>
							<th:block th:each="eL : ${equipList}">
								<tr>
								  <td th:text="${eL.eqCode}"></td> 
								  <td th:text="${eL.eqCategory}"></td> 
								  <td th:text="${eL.eqName}"></td> 
								  <td th:text="${eL.eqModelName}"></td> 
								  <td th:text="${eL.eqWriter}"></td> 
								  <td th:text="${eL.eqReg_date}"></td> 
								  <td th:text="${eL.eqRemark}"></td> 
									<td>
                                      <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                      <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                   </td>									  
								</tr>
							</th:block>
                                </table>
                            </div>
							<div class="custom-pagination" th:if="${currentPage ne null}">
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" th:href="@{/equipList}">처음</a>
									</li>
									<li class="page-item">
										<span th:if="${currentPage > 1}">
											<a class="page-link" th:href="@{/equipList(currentPage=(${currentPage}-1))}">이전</a>
										</span>
									</li>
								</ul>
								<ul class="pagination">
									<li class="page-item">
									<th:block th:each="num : ${#numbers.sequence(startPageNum,lastPageNum)}">
										<a class="page-link" th:unless="${currentPage eq num}" th:text="${num}" th:href="@{/equipList(currentPage=${num})}"></a>
									</th:block>
									</li>
								</ul>
								<ul class="pagination">
									<li class="page-item">
										<span th:if="${currentPage ne lastPage}">
											<a th:href="@{/equipList(currentPage=(${currentPage}+1))}">다음</a>
										</span>
		    						</li>
		    						<li class="page-item">
		    							<a th:href="@{/equipList(currentPage=${lastPage})}" id="lastPageBtn" role="button">마지막</a>
		    						</li>
								</ul>
                            </div>
                            <div class="container-fluid" style="margin: 10px;">
                            	<a th:if="${currentPage eq null}" href="/equipList" class="btn btn-default" role="button">전체리스트보기</a>                            </div>
                            <div class="container-fluid" style="margin: 10px;">
								<a href="/equipmentManage" class="btn btn-default" role="button">교재관리 메인페이지로</a>
								<a href="/equipListMain" class="btn btn-default " role="button">리스트메인페이지</a>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
	$('#searchEqBtn').click(function(){
		var searchForm = $('#searchForm');
		var selectEqSk = $('#selectEqSk').val();
		var equipSv = $('#equipSv').val();
		console.log(selectEqSk + ' < -- selectEqSk');
		console.log(equipSv + ' < -- equipSv');
		if(selectEqSk == null || selectEqSk == undefined){
			alert('검색조건을 선택해주세요');
			return;
		}else if(equipSv == null || equipSv == ''){
			alert('검색어를 입력해주세요');
			$('#equipSv').focus();
			return;
		}
		searchForm.submit();
	});
	
	</script>	
	</th:block>
	<th:block layout:fragment="customJsScript">
	 
	</th:block>
</html>