<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title></title> 
	</th:block>
	<th:block layout:fragment="customContent">
	<form action="/getGradeList" class="container-fluid" style="text-align:center">
	<h3 style="color: grey;" >성적관리 상세보기</h3><br>
		<div class="row">
			<th:block th:each="g : ${Grade}">
				 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				      <div class="sparkline12-list">
				           <div class="sparkline12-graph">
				                <div class="row">
				                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				                          <div class="all-form-element-inner">
				                               <div class="form-group-inner">
				                                    <div class="row">
				                                         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                             <label class="login2 pull-right-pro">성적코드</label>
				                                          </div>
				                                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				                                              <label  th:text="${g.gradeManCode}" class="form-control"  th:name="gradeManCode"></label>
				                                          </div>
				                                     </div>
				                                </div>
				                               <div class="form-group-inner">
				                                    <div class="row">
				                                         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                             <label class="login2 pull-right-pro">작성일자</label>
				                                          </div>
				                                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				                                              <label  th:text="${g.gradeManRegDate}" class="form-control"  th:name="gradeManRegDate"></label>
				                                          </div>
				                                     </div>
				                                </div>
				                          <div class="form-group-inner">
				                               <div class="row">
				                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                          <label class="login2 pull-right-pro">학생이름</label>
				                                     </div>
				                                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				                                                <label class="form-control" th:text="${g.mrName}" th:name="mrName"></label>
				                                          </div>
				                                </div>
				                           </div>
				                                <div class="form-group-inner">
				                                      <div class="row">
				                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                                 <label class="login2 pull-right-pro">시험회차</label>
				                                            </div>
				                                      		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				                                                  <label class="form-control" th:text="${g.testNumber}" th:name="testNumber"></label>
				                                            </div>
				                                       </div>
				                                 </div>
				                                <div class="form-group-inner input-with-error">
				                                       <div class="row">
				                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                                 <label class="login2 pull-right-pro">시험점수</label>
				                                             </div>
				                                             <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				                                                  <label class="form-control" th:text="${g.gradeManScore}" th:name="gradeManScore"></label>
				                                             </div>
				                                        </div>
				                                  </div>
				                                <div class="form-group-inner">
				                                      <div class="row">
				                                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                               <label class="login2 pull-right-pro">수강과목</label>
				                                          </div>
				                                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				                                                <label class="form-control" th:text="${g.lecName}" th:name="lecName"></label>
				                                           </div>
				                                      </div>
				                                   </div>
				                         		 <div class="form-group-inner">
				                              		<div class="row">
				                                  		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                     		 <label class="login2  pull-right-pro">과정상태</label>
				                                 		 </div>
				                                 		 <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				                                      <label class="form-control"></label>
				                                  </div>
				                              </div>
				                          </div>
	                                         <div class="form-group-inner">
	                                             <div class="login-btn-inner">
	                                                 <div class="row">
	                                                 	 <div class="col-lg-3"></div>
	                                                     <div class="col-lg-9">
	                                                         <div class="login-horizental cancel-wp  form-bc-ele">
																<div style= "margin-bottom:10px" th:each="g : ${Grade}">
																<a class="btn btn-default btn-danger" th:href="@{/updateGrade(gradeManCode=${g.gradeManCode})}" role="button">수정하기</a>
																<button type="submit" class="btn btn-default">리스트로 돌아가기</button>
																<a class="btn btn-default btn-danger" th:href="@{/deleteCode(gradeManCode=${g.gradeManCode})}" role="button" >삭제하기</a>
																</div>	
	                                                      </div>
	                                                  </div>
	                                              </div>
	                                          </div>
	                                      </div>
	                                 </div>
	                             </div>
	                         </div>
	                     </div>
	                   </div>
	             </div>
			</th:block>
         </div>
	</form>	
	</th:block>
</html>


