<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title></title> 
	</th:block>
	<th:block layout:fragment="customContent">
	<style>
	
	table {
		  width:100%;
		}
		table, th{
		  border: 1px solid grey ;
		  border-collapse: collapse;
		  font-size: 17px;
		}
		th{
		  padding: 1px;
		  text-align: center;
		  background-color: lightgrey;
		}
		td {
		  padding: 3px;
		  border: 1px solid grey ;
		  text-align: center;
		  border-collapse: collapse;
		  font-size: 15px;
		  
	</style>
	
	<form action="/getReportList" class="container-fluid" style="text-align:center">
	<h3 style="color: grey;">학생성적리스트</h3><br>
		<table class="table table-striped" style="text-align:center">
			<tr>
				<th style="text-align:center">성적코드</th>
				<th style="text-align:center">학생이름</th>
			<tr th:each="g : ${gradeList}">	
				<td th:text=${g.gradeManCode}></td>
				<td th:text=${g.mrName}></td>
			</tr>	
			<tr>	
				<th>시험회차</th>
				<th>시험점수</th>
			</tr>
			<tr th:each="g : ${gradeList}">	
				<td th:text=${g.testRounds}></td>
				<td th:text=${g.gradeManScore}></td>
			</tr>
		
		</table>
		
		<div style= "margin-bottom:10px" th:each="#">
		<a class="btn btn-default btn-danger" th:href="#" role="button">수정하기</a>
		<button type="submit" class="btn btn-default">리스트로 돌아가기</button>
		<a class="btn btn-default btn-danger" th:href="#" role="button" >삭제하기</a>
		</div>	
	</form>	
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>


