<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
<th:block layout:fragment="customTitle">
	<title th:text="title"></title> 
</th:block>
<th:block layout:fragment="customContent">
	
	<div class="product-status mg-b-15">
		<div class="container-fluid">
        	<div class="row">
            	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				  	<div class="product-status-wrap drp-lst">
						<h3 style="color: grey;">성적리스트</h3><br>
						<form id="gradeForm" class="form-inline" action="/serchGrade" method="post">  
							<select class="form-control" name="lecGd" id="lecGd">
							  <option value="grade_man_score">점수</option>
							  <option value="mr_name">학생명</option>
							  <option value="test_number">회차</option>
							</select> 
						<div class="form-group">
							<input type="text" class="form-control" name="lecGds" placeholder="Search" id="lecGds"/>
							   <div class="input-group-btn pull-right">
							        <button class="btn btn-default form-group" type="submit" id="btnsearch">검색</button>
							   </div>
						</div>
						</form >
						<br>
						<form id="gradeInsertForm" action="/getGradeList" method="POST">
						<table id="member_table">
							<thead>
								<tr>
									<th>성적코드</th>
									<th>학생명</th>
									<th>회차</th>
									<th>점수</th>
									<th>저장</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								<td>
								<input class="form-control" th:value="${gradeCode}" name="gradeManCode" readonly="readonly">
									<td>
										<select name ="mrName" class="form-control" id="mrName">
											<option value="">::학생이름::</option>
											<th:block th:each="g : ${sName}">
												`<option th:value="${g.mr_id}">[[${g.mr_name}]]</option>
											</th:block>
										</select>
									</td>
									<td>
										<select name ="testNumber" class="form-control" id="testNumber">
											<option value="">::회차::</option>
											<th:block th:each="t : ${testNum}">
												<option th:value="${t.grade_test_num}">[[${t.test_number}]]</option>
											</th:block>
										</select> 
									</td>
									<td>
										<input type="text" class="form-control" id="gradeManScore" name="gradeManScore">
									</td>
									<td>
										<div style="margin-bottom:10px"> 
											<button type="button" class="btn btn-default btn-block" id="gradeSubmit">저장하기</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						</form>
						<table>
							<thead>
								<tr>
									<th>성적코드</th>
									<th>학생명</th>
									<th>회차</th>
									<th>점수</th>
									<th>작성일자</th>
									<th>상세보기</th>
								</tr>
							</thead>	
							<tbody>
								<tr th:each="g : ${gradeList}">
									<td th:text=${g.gradeManCode}></td>
									<td th:text=${g.mrName}></td>
									<td th:text=${g.testNumber}></td>
									<td th:text=${g.gradeManScore}></td>
									<td th:text=${g.gradeManRegDate}></td>
									<td>
										<a th:href="@{/gradePage(gradeManCode=${g.gradeManCode})}">상세보기</a>
									</td>	
								</tr>
							</tbody>	
						</table> 
					</div>
	        	</div>
			</div>
		</div>
	</div>
		
	 <script type="text/javascript"> 
	
	$(function(){
		$('#btnsearch').click(function(){
			var gradeForm = $('#gradeForm');
			var lecGd = $('#lecGd').val();
			var lecGds = $('#lecGds').val();
			console.log("lecGd-->"+lecGd);
			console.log("lecGds-->"+lecGds);
			
			var request = $.ajax({
				  url: "/gradeList",  
				  method: "GET", 
				  data: { lecGd : lecGd , lecGds : lecGds }, 
				  dataType: "json"  
				});
				request.done(function(data) {   
				console.log(data);
				console.log(data.lecGd);
				console.log(data.lecGds);
				
				if(data == undefined || data == ''){
					alert('검색되는 내용이 없습니다.');
				}
				});
	
				request.fail(function( jqXHR, textStatus ) {
				  alert( "Request failed: " + textStatus );
				});
				gradeForm.submit();
		});
		
	});
	
	 $(function() {
		  $('#gradeSubmit').click(function(){
			  console.log('클릭 이벤트');
			  var gradeInsertForm = $('#gradeInsertForm');
			  var gradeManCode = $('#gradeManCode').val();
				var mrName = $('#mrName').val();
				var testNumber = $('#testNumber').val();
				var gradeManScore = $('#gradeManScore').val();
				console.log("mrName-->"+mrName);
				console.log("testNumber-->"+testNumber);
				console.log("gradeManScore-->"+gradeManScore);
				
				if(mrName == undefined || mrName ==''){
					alert('성적등록을 위한 학생 이름을 입력해주세요');
					$('#mrName').focus();
					return;
				}else if(testNumber == '' || testNumber == undefined){
					alert('성적등록을 위한 시험 회차를 입력해주세요');
					$('#testNumber').focus();
					return;	
				}else if(gradeManScore == ''|| gradeManScore == undefined){
					alert('성적등록을 위한 점수를 입력해주세요');
					$('#gradeManScore').focus();
					return;
				}
				gradeInsertForm.submit();
			}); 
		});
	 
	 
	 
	
	</script>  
	</th:block>
</html>