<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
	<title th:text="title"></title> 
		<title></title> 
	</th:block>
	<th:block layout:fragment="customContent">
	<form action="/updateGrade" class="container-fluid" style="text-align:center" method="post">
	<th:block th:each="g : ${Grade}">
	<h3 style="color: grey;" >개설예정 강의 업무계획서 상세보기</h3><br>
		<div class="row">
				 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				      <div class="sparkline12-list">
				           <div class="sparkline12-graph">
				                <div class="row">
				                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				                          <div class="all-form-element-inner">
				                               <div class="form-group-inner">
				                                    <div class="row">
				                                         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                             <label class="login2 pull-right-pro">성적코드</label>
				                                          </div>
				                                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				                                          	<input type="hidden" th:value="${g.gradeManCode}" name="gradeManCode">
				                                              <label  class="form-control" th:text="${g.gradeManCode}"></label>
				                                          </div>
				                                     </div>
				                                </div>
				                          <div class="form-group-inner">
				                               <div class="row">
				                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                          <label class="login2 pull-right-pro">학생이름</label>
				                                     </div>
				                                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				                                          		<label class="form-control" th:text="${g.mrName}" th:name="mrName"></label>
				                                          </div>
				                                </div>
				                           </div>
				                           <div class="form-group-inner">
				                               <div class="row">
				                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                          <label class="login2 pull-right-pro">시험회차</label>
				                                     </div>
				                                     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				                                          		<label class="form-control" th:text="${g.testNumber}" th:name="testNumber"></label>
				                                     </div>
				                                </div>
				                           </div>
				                                 <div class="form-group-inner input-with-error">
				                                       <div class="row">
				                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                                 <label class="login2 pull-right-pro">시험점수</label>
				                                             </div>
				                                             <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				                                            	 <input class="form-control" th:value="${g.gradeManScore}" name="gradeManScore" id="gradeManScore">
				                                             </div>
				                                        </div>
				                                  </div>
				                                  <div class="form-group-inner">
				                                      <div class="row">
				                                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                               <label class="login2 pull-right-pro">수강과목</label>
				                                          </div>
				                                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				                                                <label class="form-control"></label>
				                                           </div>
				                                      </div>
				                                   </div>
				                                 <div class="form-group-inner">
				                                    <div class="row">
				                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                            <label class="login2  pull-right-pro">수강교실</label>
				                                        </div>
				                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				                                            <div class="form-select-list">
				                                                <label class="form-control"></label>
				                                            </div>
				                                        </div>
				                                    </div>
				                                </div>
				                             <div class="form-group-inner">
				                                 <div class="row">
				                                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                         <label class="login2 pull-right-pro">업무계획</label>
				                                     </div>
				                                     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
 														<label class="form-control"></label>		
 													</div>
				                                 </div>
				                             </div>
				                          <div class="form-group-inner">
				                              <div class="row">
				                                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				                                      <label class="login2  pull-right-pro">과정상태</label>
				                                  </div>
				                                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				                                      <label class="form-control"></label>
				                                  </div>
				                              </div>
				                          </div>
	                                         <div class="form-group-inner">
	                                             <div class="login-btn-inner">
	                                                 <div class="row">
	                                                 	 <div class="col-lg-3"></div>
	                                                     <div class="col-lg-9">
	                                                         <div class="login-horizental cancel-wp  form-bc-ele">
	                                                         <button type="submit" class="btn btn-default btn-lg btn-block">저장하기</button>
	                                                      </div>
	                                                  </div>
	                                              </div>
	                                          </div>
	                                      </div>
	                                 </div>
	                             </div>
	                         </div>
	                     </div>
	                   </div>
	             </div>
	          </div>
	        </th:block>
		</form>	
</th:block>
	</th:block>
</html>
