<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}">직원급여명세서</title> 
	</th:block>
	<th:block layout:fragment="customContent">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	

		<script type="text/javascript">
		
		</script>
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>