<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title></title> 
	<script src="js/pay/officersPay.js"></script>	
	<script type="text/javascript">	
	
	$(function(){		

	});	
			
		</script>	
	</th:block>
	<th:block layout:fragment="customContent" >	
	<!-- 급여계 수정폼 -->
	<!--===================직원목록불러오기시작===================-->
	<form action="/modiOffiCalpay" id="modiOffiCalFoinForm" method="post"> 
	<div style="width:30%; float:left" class="container-fluid">
		<table id="tb2" class ="table table-striped" th:each="m : ${modiOfficersPay}">
			<tr>
				<td colspan="4" style="text-align: center; vertical-align:middle;"> 직원정보 </td>
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">아이디</td>
				<td colspan="3" style="text-align: left;">
				<input type="text" class="form-control" id="mrId" name="mrId" th:value="${m.mrId}" readonly>
				</td>
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">이름</td>
				<td colspan="3" style="text-align: left;">
				<input type="text" class="form-control" id="mrName" name="mrName" th:value="${m.mrName}" readonly>
				</td>			
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;" >입사일</td>
				<td colspan="3" style="text-align: left;">
				<input type="text" class="form-control" id="mrJoinDate" th:value="${m.mrJoinDate}" readonly>
				</td>			
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">은행</td>
				<td colspan="3" style="text-align: left;">
				<input type="text" class="form-control" id="pmRTitle" th:value="${m.pmRTitle}" readonly>
				</td>		
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">계좌</td>
				<td colspan="3" style="text-align: left;">
				<input type="text" class="form-control" id="mrAccountNum" th:value="${m.mrAccountNum}" readonly>
				</td>		
			</tr>
		</table>	
	</div>
	<!--===================직원목록불러오기끝===================-->
	
	<!--===================시급지급기준 시작===================-->
	<div id="tb3" style="width:40%; float:center" class="container-fluid">		
		<table class ="table table-striped" >
			<tr>
				<td colspan="3" style="text-align: center; vertical-align:middle;">지급기준표</td>
			</tr>
			<tr>
				<td rowspan="5" style="text-align: center; vertical-align:middle;">시급기준</td>
			</tr>
			<tr th:if="${s.pRTitle} > 1000 " th:each="s : ${standardSheetHour}" style="text-align: center;">
				<td th:text="${s.pREct}"></td>
				<td th:text="${#numbers.formatInteger(s.pRTitle, 0, 'COMMA')+'원'}"></td>
			</tr>
		</table>			
	</div>		
	<div id="tb4" style="width:30%; float:right" class="container-fluid">		
		<table class ="table table-striped" >
			<tr>
				<td colspan="4" style="text-align: center; vertical-align:middle;"> 지급기준 수정 </td>
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">지 급 월</td>
				<td colspan="3" style="text-align: left;">
					<select name ="pRTitle" class="form-control" >
			  			<option>::지급월::</option>
			  			<th:block th:if="${s.pRTitle} >=1 and ${s.pRTitle} <=12" th:each="s : ${standardSheetHour}">
				  			<option id ="pRTitle" th:value="${s.pRTitle}" >[[${#numbers.formatInteger(s.pRTitle, 0, 'COMMA')+'월'}]]</option>
			  			</th:block>
			  		</select>
				</td>
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">시     급</td>
				<td colspan="3" style="text-align: left;">
					<select name ="HourlyWage" class="form-control" >
			  			<option>::시급::</option>
			  			<th:block  th:if="${s.pRTitle} > 1000" th:each="s : ${standardSheetHour}">
				  			<option id="HourlyWage" th:value="${#numbers.formatInteger(s.pRTitle, 0)}" >[[${#numbers.formatInteger(s.pRTitle, 0, 'COMMA')+'원'}]]</option>
			  			</th:block>
			  		</select>
				</td>			
			</tr>
			
			<tr>
				<td hidden="">
				<input type="text" th:each="l : ${OfficersList}" th:href="@{/officersFoinForm(mrId=${l.mrId})}">
				</td>
				<td colspan="3">
				<button type="button" id="OfficersCalformBtn" class="btn btn-primary btn-md btn-block">수정</button>	
				</td>
			</tr>		
		</table>
	</div>			
	<!--===================시급지급기준 끝===================-->	
		
	<!--===================지급계산시작===================-->
	
		<div class="container-fluid">
			<table class ="table table-striped" th:each="m : ${modiOfficersPay}">
				<tr>
					<td rowspan="5" style="text-align: center; vertical-align:middle;">급여내역</td>
				</tr>
				<tr class="info" style="text-align: center;" >	
					<td>계산번호</td>
					<td>지급월</td>
					<td>아이디</td>
					<td>시급</td>
					<td>근무시간</td>	
					<td>
					<button type="button" id="OfficersCalBaseBtn" class="btn btn-info btn-sm btn-block">기본급</button>
					</td>		
				</tr>
				<tr style="text-align: center;">
					<td>
					<input type="text" class="form-control" id="opcCode" name="opcCode" th:value="${m.opcCode}" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="cpRTitle" name="pRTitle" th:value="${#numbers.formatInteger(m.pRTitle, 0)}" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="cMrId" name="mrId" th:value="${m.mrId}" placeholder="아이디" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="opcHourlyWage" name="opcHourlyWage" th:value="${m.opcHourlyWage}" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="opcTotalHour" name="opcTotalHour" th:value="${m.opcTotalHour}" >
					</td>	
					<td>
					<input type="text" class="form-control" id="opcBasePay" name="opcBasePay" th:value="${m.opcBasePay}"readonly>
					</td>
				</tr>
				<tr class="info" style="text-align: center;">					
					<td>식비</td>
					<td>교통비</td>
					<td>복지후생</td>
					<td>상여금</td>
					<td>기타</td>	
					<td>
					<button type="button" id="OfficersCalTotalBtn" class="btn btn-info btn-sm btn-block">급여계총액계산</button>
					</td>					
				</tr>
				<tr style="text-align: center;">
					<td>
					<input type="text" class="form-control" id="opcFoodExpenses" name="opcFoodExpenses" th:value="${m.opcFoodExpenses}">
					</td>
					<td>
					<input type="text" class="form-control" id="opcTransportation" name="opcTransportation" th:value="${m.opcTransportation}">
					</td>
					<td>
					<input type="text" class="form-control" id="opcWelfare" name="opcWelfare" th:value="${m.opcWelfare}">
					</td>
					<td>
					<input type="text" class="form-control" id="opcBonus" name="opcBonus" th:value="${m.opcBonus}">
					</td>
					<td>
					<input type="text" class="form-control" id="opcEct" name="opcEct" th:value="${m.opcEct}">
					</td>
					<td>
					<input type="text" class="form-control" id="opcTotal" name="opcTotal" th:value="${m.opcTotal}" readonly >
					</td>	
				</tr>	
				<tr style="text-align: center;">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td colspan="2" >
					<button type="button" id="offiCalInsertBtn" class="btn btn-primary btn-sm btn-block">
					급여계수정
					</button>
					</td>	
				</tr>	
			</table>
		</div>
	</form>
	<!--===================지급계산끝===================-->	
	<!-- 공제계 수정폼 -->
	<form action="/addOffiDedupay" id="offiDeduFoinForm" method="post"> 
	<!--===================공제계산시작===================-->
	
		<div class="container-fluid">
			<table class ="table table-striped" th:each="m : ${modiOfficersPay}">
				<tr>
					<td rowspan="5" style="text-align: center; vertical-align:middle;">공제내역</td>
				</tr>
				<tr class="info" style="text-align: center;">	
					<td>공제번호</td>
					<td>공제월</td>
					<td>아이디</td>
					<td>요율시행년도</td>
					<td>소득세</td>	
					<td>주민소득세</td>		
				</tr>
				<tr style="text-align: center;">
					<td>
					<input type="text" class="form-control" id="opdCode" name="opdCode" th:value="${m.opdCode}" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="dpRTitle" name="pRTitle" th:value="${#numbers.formatInteger(m.pRTitle, 0)}" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="dMrId" name="mrId" th:value="${m.mrId}" readonly>
					</td>
					<td>
					<select name ="iyCode" class="form-control" >
			  			<option>::시행년도::</option>
			  			<th:block th:each="i : ${insuranceYear}">
				  			<option id ="iyCode" th:value="${i.iyCode}" >[[${i.iyCode+'년'}]]</option>
			  			</th:block>
			  		</select>
					</td>
					<td>
					<input type="text" class="form-control" id="opdIncomeTax" name="opdIncomeTax" th:value="${m.opdIncomeTax}" >
					</td>	
					<td>
					<input type="text" class="form-control" id="opdResidentIncomTax" name="opdResidentIncomTax" th:value="${m.opdResidentIncomTax}"  readonly>
					</td>
				</tr>
				<tr class="info" style="text-align: center;">					
					<td>고용보험료</td>
					<td>국민연금</td>
					<td>건강보험료</td>
					<td>장기요양보험료</td>
					<td>
					<button type="button" id="OfficersDeduBtn" class="btn btn-info btn-sm btn-block">보험료계산</button>					
					</td>	
					<td>
					<button type="button" id="OfficersDeduTotalBtn" class="btn btn-info btn-sm btn-block">공제총액계산</button>					
					</td>					
				</tr>
				<tr style="text-align: center;">
					<td>
					<input type="text" class="form-control" id="opdEmploymentInsurance" name="opdEmploymentInsurance" th:value="${m.opdEmploymentInsurance}" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="opdNationalPension" name="opdNationalPension" th:value="${m.opdNationalPension}" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="opdHealthInsurance" name="opdHealthInsurance" th:value="${m.opdHealthInsurance}" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="opdLongtermNursingInsurance" name="opdLongtermNursingInsurance" th:value="${m.opdLongtermNursingInsurance}" readonly>
					</td>
					<td>										
					</td>
					<td>					
					<input type="text" class="form-control" id="opdTotal" name="opdTotal" th:value="${m.opdTotal}" readonly>
					</td>
	
				</tr>
				<tr style="text-align: center;">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td colspan="2" >
					<button type="button" id="offiDeduInsertBtn" class="btn btn-primary btn-sm btn-block">
					공제계수정
					</button>
					<td colspan="2" >
					</td>	
				</tr>					
				<tr style="text-align: center;">
					<td></td>
					<td></td>
					<td></td>
					<td colspan="2">
					<button type="button" id="OfficersPayTotalBtn" class="btn btn-info btn-sm btn-block">실지급액계산</button>					
					</td>
					<td colspan="2">
					<input type="text" class="form-control" id="opPay" name="opPay" th:value="${m.opPay}" readonly>
					</td>	
				</tr>					
			</table>			
			<p>
				<button type="button" id="offiPayInsertBtn" class="btn btn-success btn-lg">
				직원급여수정
				</button>					
			</p>
			</div>	
	</form>	
	<!--===================공제계산끝===================-->

	<br>
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>