<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}">직원급여명세서</title> 
	</th:block>
	<th:block layout:fragment="customContent">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	

		<script type="text/javascript">
		
		</script>
		
			
	<!--===================지급계산시작===================-->
	<form>	
		<div class="container-fluid">
			<table class ="table table-striped">
				<tr>
					<td rowspan="5" style="text-align: center; vertical-align:middle;">지급내역</td>
				</tr>
				<tr class="info" style="text-align: center;" >	
					<td>계산번호</td>
					<td>지급월</td>
					<td>이름</td>
					<td>시급</td>
					<td>근무시간</td>	
					<td>
					<button type="button" id="OfficersCalBaseBtn" class="btn btn-info btn-sm btn-block">기본급</button>
					</td>		
				</tr>
				<tr style="text-align: center;">
					<td>
					<input type="text" class="form-control" name="opcCode" th:value="${opcCode}" placeholder="급여계산번호" readonly>
					</td>
					<td>
					<input type="text" class="form-control" name="pRTitle" th:value="${#numbers.formatInteger(pRTitle, 0)}" placeholder="계산월" readonly>
					</td>
					<td>
					<input type="text" class="form-control" name="mrName" th:value="${mrName}" placeholder="이름" readonly>
					</td>
					<td>
					<input type="text" class="form-control" name="opcHourlyWage" th:value="${opcHourlyWage}" placeholder="시급" readonly>
					</td>
					<td>
					<input type="text" class="form-control" name="opcTotalHour" placeholder="근무시간입력">
					</td>	
					<td>
					<input type="text" class="form-control" name="opcBasePay" th:value="${opcBasePay}" placeholder="기본급계산" readonly>
					</td>
				</tr>
				<tr class="info" style="text-align: center;">					
					<td>식비</td>
					<td>교통비</td>
					<td>복지후생</td>
					<td>상여금</td>
					<td>기타</td>	
					<td>
					<button type="button" id="OfficersCalTotalBtn" class="btn btn-info btn-sm btn-block">급여계총액계산</button>
					</td>					
				</tr>
				<tr style="text-align: center;">
					<td>
					<input type="text" class="form-control" name="opcFoodExpenses" placeholder="식비">
					</td>
					<td>
					<input type="text" class="form-control" name="opcTransportation" placeholder="교통비">
					</td>
					<td>
					<input type="text" class="form-control" name="opcWelfare" placeholder="복지후생">
					</td>
					<td>
					<input type="text" class="form-control" name="opcBonus" placeholder="상여금">
					</td>
					<td>
					<input type="text" class="form-control" name="opcEct" placeholder="기타">
					</td>
					<td>
					<input type="text" class="form-control" name="opcTotal" placeholder="급여계총액" readonly >
					</td>	
				</tr>	
			</table>
		</div>
	</form>
	<!--===================지급계산끝===================-->	
	
	<!--===================공제계산시작===================-->
	<form>
		<div class="container-fluid">
			<table class ="table table-striped">
				<tr>
					<td rowspan="5" style="text-align: center; vertical-align:middle;">공제내역</td>
				</tr>
				<tr class="info" style="text-align: center;">	
					<td>공제번호</td>
					<td>공제월</td>
					<td>이름</td>
					<td>요율시행년도</td>
					<td>소득세</td>	
					<td>주민소득세</td>		
				</tr>
				<tr style="text-align: center;">
					<td>
					<input type="text" class="form-control" name="opdCode" th:value="${opdCode}" placeholder="공제계산번호" readonly>
					</td>
					<td>
					<input type="text" class="form-control" th:value="${#numbers.formatInteger(pRTitle, 0)}" readonly>
					</td>
					<td>
					<input type="text" class="form-control" th:value="${mrName}" readonly>
					</td>
					<td>
					<input type="text" class="form-control" name="iyCode" th:value="${iyCode}" placeholder="요율시행년도" readonly>
					</td>
					<td>
					<input type="text" class="form-control" name="opdIncomeTax"  placeholder="소득세" >
					</td>	
					<td>
					<input type="text" class="form-control" name="opdResidentIncomTax" th:value="${opdResidentIncomTax}" placeholder="주민소득세" readonly>
					</td>
				</tr>
				<tr class="info" style="text-align: center;">					
					<td>고용보험료</td>
					<td>국민연금</td>
					<td>건강보험료</td>
					<td>장기요양보험료</td>
					<td>
					<button type="button" id="OfficersDeduTotalBtn" class="btn btn-info btn-sm btn-block">공제총액계산</button>					
					</td>	
					<td>
					<button type="button" id="OfficersPayTotalBtn" class="btn btn-info btn-sm btn-block">실지급액계산</button>					
					</td>					
				</tr>
				<tr style="text-align: center;">
					<td>
					<input type="text" class="form-control" name="opdEmploymentInsurance" placeholder="고용보험료" readonly>
					</td>
					<td>
					<input type="text" class="form-control" name="opdNationalPension" placeholder="국민연금" readonly>
					</td>
					<td>
					<input type="text" class="form-control" name="opdHealthInsurance" placeholder="건강보험료" readonly>
					</td>
					<td>
					<input type="text" class="form-control" name="opdLongtermNursingInsurance" placeholder="장기요양보험료" readonly>
					</td>
					<td>					
					<input type="text" class="form-control" name="opdTotal" placeholder="공제총액" readonly>
					</td>
					<td>
					<input type="text" class="form-control" name="opPay" placeholder="실지급액" readonly>
					</td>	
				</tr>	
			</table>
		</div>
	</form>
		
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>