<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title></title> 
	<script src="js/pay/officersPay.js"></script>	
	<script type="text/javascript">	
	
	$(function(){		
		$('#offiPayInsertBtn').click(function(){
			
			var foinForm = $('#offiDeduFoinForm');
			var opCode = $('#opCode').val();
			var mrId = $('#dMrId').val();
			
			var pRTitle = $('#dpRTitle').val();
			var opdCode = $('#opdCode').val();
			var opDate = $('#opDate').val();
			var opPay = $('#opPay').val();
			console.log(mrId+"<-mrId");
			if(opPay == null || opPay == undefined || opPay == ''){
				alert('실지급액을 계산해주세요.');
				return;
			}	

			foinForm.attr('action', '/addOfficersPay');
			foinForm.submit();			
		}); 
	});	
			
		</script>	
	</th:block>
	<th:block layout:fragment="customContent" >	
	<!-- 급여계 입력폼 -->
	<!--===================직원목록불러오기시작===================-->
	<form action="/addOffiCalpay" id="offiCalFoinForm" method="post"> 
	<div style="width:40%; float:left" class="container-fluid">		
		<table id="tb" class ="table table-striped">			
			<tr>
				<td colspan="3" style="text-align: center; vertical-align:middle;"> 직원목록 </td>
			</tr>
			<tr th:each="o : ${OfficersList}">
				<td style="text-align: center;" th:text="${o.mrId}"><input type="hidden" name="mrId" th:value="${o.mrId}"></td>
				<td style="text-align: center;" th:text="${o.mrName}"><input type="hidden" name="mrName" th:value="${o.mrName}"></td>
				<td style="text-align: center;">					
					<button type="button" class="callOfficersInfo">정보보기</button>
				</td>
			</tr>
		</table>			
	</div>
	<div style="width:60%; float:right" class="container-fluid">
		<table id="tb2" class ="table table-striped">
			<tr>
				<td colspan="4" style="text-align: center; vertical-align:middle;"> 직원정보 </td>
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">아이디</td>
				<td colspan="3" style="text-align: left;">
				<input type="text" class="form-control" id="mrId" name="mrId" th:value="${mrId}" readonly>
				</td>
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">이름</td>
				<td colspan="3" style="text-align: left;">
				<input type="text" class="form-control" id="mrName" name="mrName" th:value="${mrName}" readonly>
				</td>			
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">입사일</td>
				<td colspan="3" style="text-align: left;">
				<input type="text" class="form-control" id="mrJoinDate"  readonly>
				</td>			
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">은행</td>
				<td colspan="3" style="text-align: left;">
				<input type="text" class="form-control" id="pmRTitle" readonly>
				</td>		
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">계좌</td>
				<td colspan="3" style="text-align: left;">
				<input type="text" class="form-control" id="mrAccountNum" readonly>
				</td>		
			</tr>
		</table>	
	</div>
	<!--===================직원목록불러오기끝===================-->
	
	<!--===================시급지급기준 시작===================-->
	<div style="width:60%; float:left" class="container-fluid">	
		<div id="tb3" class="container-fluid">		
			<table class ="table table-striped" >
				<tr>
					<td colspan="3" style="text-align: center; vertical-align:middle;">지급기준표</td>
				</tr>
				<tr>
					<td rowspan="5" style="text-align: center; vertical-align:middle;">시급기준</td>
				</tr>
				<tr th:if="${s.pRTitle} > 1000 " th:each="s : ${standardSheetHour}" style="text-align: center;">
					<td th:text="${s.pREct}"></td>
					<td th:text="${#numbers.formatInteger(s.pRTitle, 0, 'COMMA')+'원'}"></td>
				</tr>
			</table>			
		</div>	
	</div>
	<div id="tb4" style="width:40%; float:left" class="container-fluid">		
		<table class ="table table-striped" >
			<tr>
				<td colspan="4" style="text-align: center; vertical-align:middle;"> 지급기준 입력 </td>
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">지 급 월</td>
				<td colspan="3" style="text-align: left;">
					<select name ="pRTitle" class="form-control" >
			  			<option>::지급월::</option>
			  			<th:block th:if="${s.pRTitle} >=1 and ${s.pRTitle} <=12" th:each="s : ${standardSheetHour}">
				  			<option id ="pRTitle" th:value="${s.pRTitle}" >[[${#numbers.formatInteger(s.pRTitle, 0, 'COMMA')+'월'}]]</option>
			  			</th:block>
			  		</select>
				</td>
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">시     급</td>
				<td colspan="3" style="text-align: left;">
					<select name ="HourlyWage" class="form-control" >
			  			<option>::시급::</option>
			  			<th:block  th:if="${s.pRTitle} > 1000" th:each="s : ${standardSheetHour}">
				  			<option id="HourlyWage" th:value="${#numbers.formatInteger(s.pRTitle, 0)}" >[[${#numbers.formatInteger(s.pRTitle, 0, 'COMMA')+'원'}]]</option>
			  			</th:block>
			  		</select>
				</td>			
			</tr>
			
			<tr>
				<td hidden="">
				<input type="text" th:each="l : ${OfficersList}" th:href="@{/officersFoinForm(mrId=${l.mrId})}">
				</td>
				<td colspan="3">
				<button type="button" id="OfficersCalformBtn" class="btn btn-primary btn-md btn-block">입력</button>	
				</td>
			</tr>		
		</table>
	</div>			
	<!--===================시급지급기준 끝===================-->	
		
	<!--===================지급계산시작===================-->
	
		<div class="container-fluid">
			<table class ="table table-striped">
				<tr>
					<td rowspan="5" style="text-align: center; vertical-align:middle;">급여내역</td>
				</tr>
				<tr class="info" style="text-align: center;" >	
					<td>계산번호</td>
					<td>지급월</td>
					<td>아이디</td>
					<td>시급</td>
					<td>근무시간</td>	
					<td>
					<button type="button" id="OfficersCalBaseBtn" class="btn btn-info btn-sm btn-block">기본급</button>
					</td>		
				</tr>
				<tr style="text-align: center;">
					<td>
					<input type="text" class="form-control" id="opcCode" name="opcCode" th:value="${opcCode}" placeholder="급여계산번호" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="cpRTitle" name="cpRTitle" th:value="${#numbers.formatInteger(pRTitle, 0)}" placeholder="계산월" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="cMrId" name="cMrId" th:value="${mrId}" placeholder="아이디" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="opcHourlyWage" name="opcHourlyWage" th:value="${opcHourlyWage}" placeholder="시급" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="opcTotalHour" name="opcTotalHour" placeholder="근무시간입력">
					</td>	
					<td>
					<input type="text" class="form-control" id="opcBasePay" name="opcBasePay" th:value="${opcBasePay}" placeholder="기본급계산" readonly>
					</td>
				</tr>
				<tr class="info" style="text-align: center;">					
					<td>식비</td>
					<td>교통비</td>
					<td>복지후생</td>
					<td>상여금</td>
					<td>기타</td>	
					<td>
					<button type="button" id="OfficersCalTotalBtn" class="btn btn-info btn-sm btn-block">급여계총액계산</button>
					</td>					
				</tr>
				<tr style="text-align: center;">
					<td>
					<input type="text" class="form-control" id="opcFoodExpenses" name="opcFoodExpenses" placeholder="식비">
					</td>
					<td>
					<input type="text" class="form-control" id="opcTransportation" name="opcTransportation" placeholder="교통비">
					</td>
					<td>
					<input type="text" class="form-control" id="opcWelfare" name="opcWelfare" placeholder="복지후생">
					</td>
					<td>
					<input type="text" class="form-control" id="opcBonus" name="opcBonus" placeholder="상여금">
					</td>
					<td>
					<input type="text" class="form-control" id="opcEct" name="opcEct" placeholder="기타">
					</td>
					<td>
					<input type="text" class="form-control" id="opcTotal" name="opcTotal" placeholder="급여계총액" readonly >
					</td>	
				</tr>	
				<tr style="text-align: center;">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td colspan="2" >
					<button type="button" id="offiCalInsertBtn" class="btn btn-primary btn-sm btn-block">
					급여계입력
					</button>
					</td>	
				</tr>	
			</table>
		</div>
	</form>
	<!--===================지급계산끝===================-->	
	<!-- 공제계 입력폼 -->
	<form action="/addOffiDedupay" id="offiDeduFoinForm" method="post"> 
	<!--===================공제계산시작===================-->
	
		<div class="container-fluid">
			<table class ="table table-striped">
				<tr>
					<td rowspan="5" style="text-align: center; vertical-align:middle;">공제내역</td>
				</tr>
				<tr class="info" style="text-align: center;">	
					<td>공제번호</td>
					<td>공제월</td>
					<td>아이디</td>
					<td>요율시행년도</td>
					<td>소득세</td>	
					<td>주민소득세</td>		
				</tr>
				<tr style="text-align: center;">
					<td>
					<input type="text" class="form-control" id="opdCode" name="opdCode" th:value="${opdCode}" placeholder="공제계산번호" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="dpRTitle" name="pRTitle" th:value="${#numbers.formatInteger(pRTitle, 0)}" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="dMrId" name="mrId" th:value="${mrId}" readonly>
					</td>
					<td>
					<select name ="iyCode" class="form-control" >
			  			<option>::시행년도::</option>
			  			<th:block th:each="i : ${insuranceYear}">
				  			<option id ="iyCode" th:value="${i.iyCode}" >[[${i.iyCode+'년'}]]</option>
			  			</th:block>
			  		</select>
					</td>
					<td>
					<input type="text" class="form-control" id="opdIncomeTax" name="opdIncomeTax" placeholder="소득세" >
					</td>	
					<td>
					<input type="text" class="form-control" id="opdResidentIncomTax" name="opdResidentIncomTax" th:value="${opdResidentIncomTax}" placeholder="주민소득세" readonly>
					</td>
				</tr>
				<tr class="info" style="text-align: center;">					
					<td>고용보험료</td>
					<td>국민연금</td>
					<td>건강보험료</td>
					<td>장기요양보험료</td>
					<td>
					<button type="button" id="OfficersDeduBtn" class="btn btn-info btn-sm btn-block">보험료계산</button>					
					</td>	
					<td>
					<button type="button" id="OfficersDeduTotalBtn" class="btn btn-info btn-sm btn-block">공제총액계산</button>					
					</td>					
				</tr>
				<tr style="text-align: center;">
					<td>
					<input type="text" class="form-control" id="opdEmploymentInsurance" name="opdEmploymentInsurance" placeholder="고용보험료" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="opdNationalPension" name="opdNationalPension" placeholder="국민연금" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="opdHealthInsurance" name="opdHealthInsurance" placeholder="건강보험료" readonly>
					</td>
					<td>
					<input type="text" class="form-control" id="opdLongtermNursingInsurance" name="opdLongtermNursingInsurance" placeholder="장기요양보험료" readonly>
					</td>
					<td>					
					<input type="text" class="form-control" placeholder="" readonly>
					</td>
					<td>					
					<input type="text" class="form-control" id="opdTotal" name="opdTotal" placeholder="공제총액" readonly>
					</td>
	
				</tr>
				<tr style="text-align: center;">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td colspan="2" >
					<button type="button" id="offiDeduInsertBtn" class="btn btn-primary btn-sm btn-block">
					공제계입력
					</button>
					<td colspan="2" >
					</td>	
				</tr>					
				<tr style="text-align: center;">
					<td></td>
					<td></td>
					<td></td>
					<td colspan="2">
					<button type="button" id="OfficersPayTotalBtn" class="btn btn-info btn-sm btn-block">실지급액계산</button>					
					</td>
					<td colspan="2">
					<input type="text" class="form-control" id="opPay" name="opPay" placeholder="실지급액" readonly>
					</td>	
				</tr>					
			</table>			
			<p>
				<button type="button" id="offiPayInsertBtn" class="btn btn-success btn-lg">
				직원급여입력
				</button>					
			</p>
			</div>	
	</form>	
	<!--===================공제계산끝===================-->

	<br>
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>