<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}">급여목록</title> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>		
	<script type="text/javascript">	
	
	$(function(){		
		//직원급여 삭제 버튼
		$('.deleteOPBtn').click(function(){
			var tr = $(this).parent().parent();
			var opCode = tr.children().eq(0).children('a').text();
			/* console.log(opCode + '<--opCode'); */
			var mrId = tr.children().eq(1).children('a').text();
			/* console.log(mrId + '<--mrId');  */
			if(confirm('삭제하시겠습니까?')){
				var request = $.ajax({
					url: "/removeOffiPayDocu",
					method: "POST",
					data: { opCode : opCode },
					dataType: "json"
				});
				request.done(function(data) {
					alert('삭제되었습니다.');
					location.href='http://localhost/getIdPayList?mrId='+mrId
				});
				request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
				});
			}else{
				alert('취소하셨습니다.');
			}	
		}); 
		
		//강사급여 삭제 버튼
		$('.deleteSPBtn').click(function(){
			var tr = $(this).parent().parent();
			var spCode = tr.children().eq(0).children('a').text();
			/* console.log(spCode + '<--spCode'); */
			var mrId = tr.children().eq(1).children('a').text();
			/* console.log(mrId + '<--mrId');  */
			if(confirm('삭제하시겠습니까?')){
				var request = $.ajax({
					url: "/removeStaffPayDocu",
					method: "POST",
					data: { spCode : spCode },
					dataType: "json"
				});
				request.done(function(data) {
					alert('삭제되었습니다.');
					location.href='http://localhost/getIdPayList?mrId='+mrId
				});
				request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
				});
			}else{
				alert('취소하셨습니다.');
			}	
		}); 
	});	
			
	</script>			
	</th:block>
	<th:block layout:fragment="customContent">
	<div class="container-fluid"  >
	<form action="/modiFyOfficersPay" id="opfoinForm" method="get">
	  	<table class ="table table-striped"> 
	  		<thead>
	  			<tr class="info">
	  				<th style="text-align: center;">직원급여지급코드</th>
	  				<th style="text-align: center;">아이디</th>
	  				<th style="text-align: center;">이름</th>
	  				<th style="text-align: center;">직원급여지급일자</th>
	  				<th style="text-align: center;">직원급여여실지급액</th>
	  				<th style="text-align: center;">작성일자</th>
	  				<th style="text-align: center;">작성자</th>
	  				<th></th>
	  				<th></th>	  				
	  			</tr>
	  		</thead>	  	
	  		<tbody>
	  			<tr th:each="l : ${officersPayList}">
	  				<!-- get방식으로 입력받기(localhost/modifyMember?memberId=id001&memeberPw=pw001 ... 과 같음) -->	  				
	  				<td style="text-align: center;"><a th:href="@{/getOfficersPay(mrId=${l.mrId}, opCode=${l.opCode})}" th:text="${l.opCode}"></a></td>
	  				<td style="text-align: center;"><a th:text="${l.mrId}"></a></td>
	  				<td style="text-align: center;" th:text="${l.mrName}"></td>
	  				<td style="text-align: center;" th:text="${l.opDate}"></td>
	  				<td style="text-align: center;" th:text="${#numbers.formatInteger(l.opPay, 0, 'COMMA')}+'원'" ></td>
	  				<td style="text-align: center;" th:text="${l.opRegDate}"></td>
	  				<td style="text-align: center;" th:text="${l.opWriter}"></td>
	  				<td style="text-align: center;">
	  					<a class="modifyOPBtn btn btn-custon-two btn-success" th:href="@{/modiFyOfficersPay(opCode=${l.opCode})}">수정</a>
	  				</td>
					<td style="text-align: center;">
						<button type="button" class="deleteOPBtn btn btn-custon-two btn-danger">삭제</button>
					</td>
	  			</tr>
	  		</tbody>	
	  	</table>
	</form>
	</div>	
	<div class="container-fluid">
	<form action="/" id="spfoinForm" method="post">
	  	<table class ="table table-striped"> 
	  		<thead>
	  			<tr class="info">
	  				<th style="text-align: center;">강사급여지급코드</th>
	  				<th style="text-align: center;">아이디</th>
	  				<th style="text-align: center;">이름</th>
	  				<th style="text-align: center;">강사급여지급일자</th>
	  				<th style="text-align: center;">강사급여여실지급액</th>
	  				<th style="text-align: center;">작성일자</th>
	  				<th style="text-align: center;">작성자</th>	  				
	  				<th></th>
	  				<th></th>
	  			</tr>
	  		</thead>	  	
	  		<tbody>
	  			<tr th:each="s : ${staffPayList}">
	  				<td style="text-align: center;"><a th:href="@{/getStaffPay(mrId=${s.mrId}, spCode=${s.spCode})}" th:text="${s.spCode}"></a></td>
	  				<td style="text-align: center;"><a th:text="${s.mrId}"></a></td>
	  				<td style="text-align: center;" th:text="${s.mrName}"></td>
	  				<td style="text-align: center;" th:text="${s.spDate}"></td>
	  				<td style="text-align: center;" th:text="${#numbers.formatInteger(s.spPay, 0, 'COMMA')}+'원'" ></td>
	  				<td style="text-align: center;" th:text="${s.spRegDate}"></td>
	  				<td style="text-align: center;" th:text="${s.spWriter}"></td>
	  				<td style="text-align: center;">
	  					<a class="modifySPBtn btn btn-custon-two btn-success">수정</a>
	  				</td>
					<td style="text-align: center;">
						<button type="button" class="deleteSPBtn btn btn-custon-two btn-danger" >삭제</button>
					</td>
	  			</tr>
	  		</tbody>	
	  	</table>
	</form> 	
	</div>
		<h4><a th:href="@{/getPayList}">목록으로</a></h4>
	</th:block>

	<th:block layout:fragment="customJsScript">
	</th:block>
</html>