<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}">급여목록</title> 
	</th:block>
	<th:block layout:fragment="customContent">
	<div class="container-fluid">
	  	<table class ="table table-striped">
	  		<thead>
	  			<tr class="info">
	  				<th style="text-align: center;">직원급여지급코드</th>
	  				<th style="text-align: center;">아이디</th>
	  				<th style="text-align: center;">이름</th>
	  				<th style="text-align: center;">직원급여지급일자</th>
	  				<th style="text-align: center;">직원급여여실지급액</th>
	  				<th style="text-align: center;">작성일자</th>
	  				<th style="text-align: center;">작성자</th>
	  			</tr>
	  		</thead>	  	
	  		<tbody>
	  			<tr th:each="l : ${officersPayList}">
	  				<!-- get방식으로 입력받기(localhost/modifyMember?memberId=id001&memeberPw=pw001 ... 과 같음) -->
	  				<td style="text-align: center;"><a th:href="@{/getOfficersPay(mrId=${l.mrId})}" th:text="${l.opCode}"></a></td>
	  				<td style="text-align: center;" th:text="${l.mrId}"></td>
	  				<td style="text-align: center;" th:text="${l.mrName}"></td>
	  				<td style="text-align: center;" th:text="${l.opDate}"></td>
	  				<td style="text-align: center;" th:text="${#numbers.formatInteger(l.opPay, 0, 'COMMA')}+'원'" ></td>
	  				<td style="text-align: center;" th:text="${l.opRegDate}"></td>
	  				<td style="text-align: center;" th:text="${l.opWriter}"></td>
	  			</tr>
	  		</tbody>	
	  	</table>
	</div>
	<div class="container-fluid">
	  	<table class ="table table-striped">
	  		<thead>
	  			<tr class="info">
	  				<th style="text-align: center;">강사급여지급코드</th>
	  				<th style="text-align: center;">아이디</th>
	  				<th style="text-align: center;">이름</th>
	  				<th style="text-align: center;">강사급여지급일자</th>
	  				<th style="text-align: center;">강사급여여실지급액</th>
	  				<th style="text-align: center;">작성일자</th>
	  				<th style="text-align: center;">작성자</th>
	  			</tr>
	  		</thead>	  	
	  		<tbody>
	  			<tr th:each="s : ${staffPayList}">
	  				<td style="text-align: center;"><a th:href="@{/getStaffPay(mrId=${s.mrId})}" th:text="${s.spCode}"></a></td>
	  				<td style="text-align: center;" th:text="${s.mrId}"></td>
	  				<td style="text-align: center;" th:text="${s.mrName}"></td>
	  				<td style="text-align: center;" th:text="${s.spDate}"></td>
	  				<td style="text-align: center;" th:text="${#numbers.formatInteger(s.spPay, 0, 'COMMA')}+'원'" ></td>
	  				<td style="text-align: center;" th:text="${s.spRegDate}"></td>
	  				<td style="text-align: center;" th:text="${s.spWriter}"></td>
	  			</tr>
	  		</tbody>	
	  	</table>
	</div>
	<div class="admin-pro-accordion-wrap shadow-inner">

	    <div class="panel-group edu-custon-design" id="accordion2">
	        <div class="panel panel-default">
	            <div class="panel-heading accordion-head">
	                <h4 class="panel-title">
	                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapse4">급여명세서</a>
	                </h4>
	            </div>
	            <div id="collapse4" class="panel-collapse panel-ic collapse in">
	                <div class="panel-body admin-panel-content animated flash">
                   		<div class="container-fluid">
							<table class="table table-striped" style="font-size: 15px;" th:each="l : ${officersPay}" >
								<tr>				
									<td colspan="6" style="text-align: center; font-size: 25px; font-weight:bold;" 
										th:text="${l.iyCode +'년'+'&nbsp;&nbsp;&nbsp;'+#numbers.formatInteger(l.pRTitle, 0, 'COMMA')+'월'+'&nbsp;&nbsp;&nbsp;'+'급여명세서'}">
									</td>				
								</tr>
								<tr>
									<td style="text-align: right;">아이디</td>
									<td th:text="${l.mrId}"></td>
									<td style="text-align: right;">시급</td>
									<td th:text="${l.opcHourlyWage}"></td>
									<td style="text-align: right;">이름</td>
									<td th:text="${l.mrName}"></td>
								</tr>
								<tr>
									<td style="text-align: right;">입사일자</td>
									<td th:text="${l.mrJoinDate}"></td> <!-- 추가필요 -->
									<td style="text-align: right;">계좌정보</td>
									<td colspan="3" th:text="${l.pmRTitle}+'&nbsp;&nbsp;&nbsp;'+${l.mrAccountNum}"></td>
								</tr>
								<tr>
									<td rowspan="5" style="text-align: center; vertical-align:middle;">지급내역</td>
								</tr>
								<tr class="info" style="text-align: center;">	
									<td>기본급</td>
									<td>식비</td>
									<td>교통비</td>
									<td>복지후생</td>
									<td>상여금</td>
								</tr>
								<tr style="text-align: center;">
									<td th:text="${#numbers.formatInteger(l.opcBasePay, 0, 'COMMA')}"></td>
									<td th:text="${#numbers.formatInteger(l.opcFoodExpenses, 0, 'COMMA')}"></td>
									<td th:text="${#numbers.formatInteger(l.opcTransportation, 0, 'COMMA')}"></td>
									<td th:text="${#numbers.formatInteger(l.opcWelfare, 0, 'COMMA')}"></td>
									<td th:text="${#numbers.formatInteger(l.opcBonus, 0, 'COMMA')}"></td>
								</tr>
								<tr class="info" style="text-align: center;">
									<td>기타</td>
									<td></td>
									<td></td>
									<td></td>
									<td>급여계총액</td>
								</tr>
								<tr style="text-align: center;">
									<td th:text="${#numbers.formatInteger(l.opcEct, 0, 'COMMA')}"></td>
									<td></td>
									<td></td>
									<td></td>
									<td th:text="${#numbers.formatInteger(l.opcTotal, 0, 'COMMA')}+'원'"></td>
								</tr>
								<tr>
									<td rowspan="5" style="text-align: center; vertical-align:middle;">공제내역</td>
								</tr>
								<tr class="info" style="text-align: center;">
									<td>소득세</td>
									<td>주민소득세</td>
									<td>고용보험료</td>
									<td>국민연금</td>
									<td>건강보험료</td>
								</tr>
								<tr style="text-align: center;">
									<td th:text="${#numbers.formatInteger(l.opdIncomeTax, 0, 'COMMA')}"></td>
									<td th:text="${#numbers.formatInteger(l.opdResidentIncomTax, 0, 'COMMA')}"></td>
									<td th:text="${#numbers.formatInteger(l.opdEmploymentInsurance, 0, 'COMMA')}"></td>
									<td th:text="${#numbers.formatInteger(l.opdNationalPension, 0, 'COMMA')}"></td>
									<td th:text="${#numbers.formatInteger(l.opdHealthInsurance, 0, 'COMMA')}"></td>				
								</tr>
								<tr class="info"  style="text-align: center;">
									<td>장기요양보험료</td>
									<td></td>
									<td></td>
									<td>공제총액</td>
									<td>실지급금</td>
								</tr>
								<tr style="text-align: center;">
									<td th:text="${#numbers.formatInteger(l.opdLongtermNursingInsurance, 0, 'COMMA')}"></td>
									<td></td>
									<td></td>
									<td th:text="${#numbers.formatInteger(l.opdTotal, 0, 'COMMA')}+'원'"></td>
									<td th:text="${#numbers.formatInteger(l.opPay, 0, 'COMMA')}+'원'"></td>
								</tr>
								<tr>
									<td rowspan="3" style="text-align: center; vertical-align:middle;">근태내역</td>
								</tr>
								<tr class="info" style="text-align: center;">
									<td>정상근무</td>
									<td>결근</td>
									<td></td>
									<td></td>
									<td>총근무시간</td>
								</tr>
								<tr style="text-align: center;">
									<td th:text="${l.opcTotalHour}"></td> <!-- 수정필요 -->
									<td></td> <!-- 수정필요 -->
									<td></td>
									<td></td>
									<td th:text="${l.opcTotalHour+'시간'}"></td> <!-- 수정필요 -->
								</tr>
								<tr>
									<td style="text-align: right;">사업장</td>
									<td colspan="2"></td>
									<td></td>
									<td colspan="2"></td>
								</tr>
								<tr>
									<td></td>
									<td colspan="4" style="text-align: center; font-size: 20px; font-weight:bold;">
										<a th:href="@{/getPayList}">목록으로</a>
									</td>
									<td><td>
								</tr>
							</table>	
						</div>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading accordion-head">
	                <h4 class="panel-title">
	                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapse5">Collapsible Group 2</a>
	                </h4>
	            </div>
	            <div id="collapse5" class="panel-collapse panel-ic collapse">
	                <div class="panel-body admin-panel-content animated flash">
	                    <p>It was popularised in the 1960s with the release of Letraset sheets of the containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.</p>
	                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua of Lorem Ipsum.</p>
	                    <p> Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisis ut aliquip ex ea commodo consequat consectetur adipisicing elit.</p>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading accordion-head">
	                <h4 class="panel-title">
	                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapse6">Collapsible Group 2</a>
	                </h4>
	            </div>
	            <div id="collapse6" class="panel-collapse panel-ic collapse">
	                <div class="panel-body admin-panel-content animated flash">
	                    <p>It was popularised in the 1960s with the release of Letraset sheets of the containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.</p>
	                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua of Lorem Ipsum.</p>
	                    <p> Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisis ut aliquip ex ea commodo consequat consectetur adipisicing elit.</p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>