<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	
	<th:block layout:fragment="customTitle">
		<title></title> 
		<script type="text/javascript">
	 	
	// 강사 아이디값 받아 넘기기
	$(function(){	
 		$('.callStaffInfo').click(function(){
 		var tr = $(this).parent().parent();
 		var td = tr.children();
 		var mrId = td.eq(0).text(); 	
 		
		console.log(mrId + ' < -- mrId');
		var request = $.ajax({
			  url: "/callStaffInfo",
			  method: "POST",
			  data: { mrId : mrId },
			  dataType: "json"
			});
			request.done(function(data) {
				console.log(data);
				$('#mrId').val(data.mrId);
				$('#mrName').val(data.mrName);
				$('#pmRTitle').val(data.pmRTitle);
				$('#mrAccountNum').val(data.mrAccountNum);
				
			});
			request.fail(function( jqXHR, textStatus ) {
				if (jqXHR.status === 0) {
		            alert('Not connect.\n Verify Network.');
		        } 
		        else if (jqXHR.status == 400) {
		            alert('Server understood the request, but request content was invalid. [400]');
		        } 
		        else if (jqXHR.status == 401) {
		            alert('Unauthorized access. [401]');
		        } 
		        else if (jqXHR.status == 403) {
		            alert('Forbidden resource can not be accessed. [403]');
		        } 
		        else if (jqXHR.status == 404) {
		            alert('Requested page not found. [404]');
		        } 
		        else if (jqXHR.status == 500) {
		            alert('Internal server error. [500]');
		        } 
		        else if (jqXHR.status == 503) {
		            alert('Service unavailable. [503]');
		        } 
		        else if (exception == 'parsererror') {
		            alert('Requested JSON parse failed. [Failed]');
		        } 
		        else if (exception == 'timeout') {
		            alert('Time out error. [Timeout]');
		        } 
		        else if (exception == 'abort') {
		            alert('Ajax request aborted. [Aborted]');
		        } 
		        else {
		            alert('Uncaught Error.n' + jqXHR.responseText);
		        }
			});
		});
	});
		</script>
		
		
		
	</th:block>
	<th:block layout:fragment="customContent" >	
	<!--===================강사목록불러오기시작===================-->

	<div style="width:40%; float:left" class="container-fluid">		
		<table id="tb" class ="table table-striped">			
			<tr>
				<td colspan="3" style="text-align: center; vertical-align:middle;"> 강사목록 </td>
			</tr>
			<tr th:each="s : ${staffList}">
				<td style="text-align: center;" th:text="${s.mrId}"><input type="hidden" name="mrId" th:value="${s.mrId}"></td>
				<td style="text-align: center;" th:text="${s.mrName}"></td>
				<td style="text-align: center;">					
					<button type="button" class="callStaffInfo">정보보기</button>
				</td>
			</tr>
		</table>			
	</div>
	<div style="width:60%; float:right" class="container-fluid">
		<table id="tb2" class ="table table-striped">
			<tr>
				<td colspan="4" style="text-align: center; vertical-align:middle;"> 강사정보 </td>
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">아이디</td>
				<td colspan="3" style="text-align: left;">
				<input type="text" class="form-control" id="mrId"  readonly>
				</td>
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">이름</td>
				<td colspan="3" style="text-align: left;">
				<input type="text" class="form-control" id="mrName"  readonly>
				</td>			
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">은행</td>
				<td colspan="3" style="text-align: left;">
				<input type="text" class="form-control" id="pmRTitle" readonly>
				</td>		
			</tr>
			<tr>
				<td style="text-align: center; vertical-align:middle;">계좌</td>
				<td colspan="3" style="text-align: left;">
				<input type="text" class="form-control" id="mrAccountNum" readonly>
				</td>		
			</tr>
		</table>	
	</div>
	<!--===================강사목록불러오기끝===================-->
	<!--===================시급지급기준 시작===================-->
	<label>
		<div class="container-fluid">		
			<table class ="table table-striped" >
				<tr>
					<td colspan="3" style="text-align: center; vertical-align:middle;">지급기준표</td>
				</tr>
				<tr>
					<td rowspan="8" style="text-align: center; vertical-align:middle;">시급 인센티브 기준</td>
				</tr>
				<tr th:each="s : ${standardSheetHour}" style="text-align: center;">
					<td th:text="${s.pREct}"></td>
					<td th:if="${s.pRTitle} > 1" th:text="${#numbers.formatInteger(s.pRTitle, 0, 'COMMA')+'원'}"></td>
					<td th:unless="${s.pRTitle} > 1" th:text="${#numbers.formatInteger(s.pRTitle*100, 0, 'COMMA') +'%'}"></td>

				</tr> 
			</table>			
		</div>
	</label>
	<!--===================시급지급기준 끝===================-->		
	<!--===================지급계산시작===================-->
	<form>	
		<div class="container-fluid">
			<table class ="table table-striped">
				<tr>
					<td rowspan="5" style="text-align: center; vertical-align:middle;">지급내역</td>
				</tr>
				<tr class="info" style="text-align: center;">	
					<td>계산번호</td>
					<td>아이디</td>
					<td>이름</td>
					<td>시급</td>
					<td>근무시간</td>
					<td>기본급</td>				
				</tr>
				<tr style="text-align: center;">
					<td></td>
					<td>
					<select size="1">
						<option>::강사아이디::</option>
					</select>
					</td>
					<td>불러오기</td>
					<td>
					<select size="1">
						<option>::시급책정::</option>
					</select>
					</td>
					<td>
					<input type="text" class="form-control" id="spcTotalHour" name="spcTotalHour" placeholder="근무시간">
					</td>
					<td>계산하기</td>
				</tr>
				<tr class="info" style="text-align: center;">
					<td>인센티브</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>				
					<td>급여계총액</td>
				</tr>
				<tr style="text-align: center;">
					<td>
					<input type="text" class="form-control" id="spcIncentive" name="spcIncentive" placeholder="인센티브">
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>계산</td>
				</tr>
			</table>
		</div>
	</form>
	<!--===================지급계산끝===================-->	

	<br>
	</th:block>
	<th:block layout:fragment="customJsScript">
	</th:block>
</html>