<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
  		<title>기본 정보 입력</title> 
	</th:block>
	
	<th:block layout:fragment="customContent">
	
	<script>
	
	$(function(){
		
		// 아이디 중복 검사 클릭, 유효성 검사 시작
		
		var idCheckResult   = 0;
		var spaceCheck 		= /\s/g;	// 공백 체크용 정규식
		
		$('#idDuplCheck').click(function(){
			
			idCheckResult = 1;
			
			
			var mrId = $('input[name=mrId]').val();
			
			if(mrId == '' || mrId == undefined){
				alert('아이디를 입력해주세요.');
			}else if(mrId.match(spaceCheck) || mrId.length <3){
				alert('공백 또는 두자리 미만의 아이디를 입력하였습니다.');
			}else{
				var request = $.ajax({
					  url: "/WIOMemberIdCheck",
					  method:"GET",
					  data: { mrId : mrId },
					  dataType: "text"
				});
				request.done(function(data){
					console.log(data);
					if(data != undefined && data != ''){
						alert("이미 존재하는 아이디입니다.");
					}else{
						alert("가입 가능한 아이디입니다.");
					}
				});
				request.fail(function(jqXHR, textStatus){
					alert("Request failed: " + textStatus);
				});
			}
		});	
		
		// 아이디 중복 검사 완료
		
		
		// 비밀번호 일치 확인 - focusout 함수 사용
		
		$('.pw').focusout(function(){
			
			var mrPw 			= $('input[name=mrPw]').val();
			var pwCheck 		= $('input[name=pwCheck]').val();
			
			if(mrPw != '' && pwCheck == ''){
				null;
			}else if(mrPw != '' && pwCheck != ''){
				if(mrPw == pwCheck){
					$('#alert-success').css('display', 'inline-block');
					$('#alert-danger').css('display', 'none');
				}else{
					$('#alert-success').css('display', 'none');
					$('#alert-danger').css('display', 'inline-block');
				}
			}
		});
		
		// 비밀번호 유효성 검사 완료
		
		
		// 기타 항목 유효성 검사
		
		$('#submitBtn').click(function(){
				
			var mrPw 			= $('input[name=mrPw]').val();
			var pwCheck 		= $('input[name=pwCheck]').val();
			var mrName 			= $('input[name=mrName]').val();
			var levelNum 		= $('select[name=levelNum]').val();
			var mrPhone 		= $('input[name=mrPhone]').val();
			
			// 연락처 양식 체크 정규식
			var regPhone 		= /^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$/;
			
			var mrAddr 			= $('input[name=mrAddr]').val();
			var mrTargetScore	= $('input[name=mrTargetScore]').val();
			var pmRCode 		= $('select[name=pmRCode]').val();
			var mrAccountNum 	= $('input[name=mrAccountNum]').val();
			var mrJoinDate 		= $('input[name=mrJoinDate]').val();
			
		
			if(mrPw == '' || mrPw == undefined){
				alert('비밀번호를 입력해 주세요.');
				mrPw.focus();
				return;
			}else if(mrPw.match(spaceCheck)){
				alert('비밀번호에 공백이 포함되어 있습니다.');
				mrPw.focus();
				return;
			}else if(pwCheck == '' || pwCheck == undefined){
				alert('비밀번호를 다시 입력해 주세요.');
				pwCheck.focus();
				return;
			}else if(mrPw != pwCheck){
				alert('입력하신 비밀번호를 확인해 주세요');
				mrPw.focus();
				return;
			}
			else if(mrName == '' || mrName == undefined){
				alert('이름을 입력해 주세요.');
				mrName.focus();
				return;
			}else if(levelNum == '::권한 선택::' || levelNum == undefined){
				alert('권한을 선택해 주세요.');
				levelNum.focus();
				return;
			}else if(mrPhone == '' || mrPhone == undefined){
				alert('연락처를 입력해 주세요');
				mrPhone.focus();
				return;
			}else if(!regPhone.test(mrPhone)){
				alert('연락처 양식에 어긋납니다.');
				mrPhone.focus();
				return;
			}else if(mrAddr == '' || mrAddr == undefined){
				alert('주소를 입력해 주세요');
				mrAddr.focus();
				return;
			}else if(pmRCode == '::결제 수단 선택::' || pmRCode == undefined){
				alert('결제 수단을 선택해 주세요.');
				pmRCode.focus();
				return;
			}else if(mrAccountNum == '' || mrAccountNum == undefined){
				alert('계좌 번호를 입력해 주세요.');
				mrAccountNum.focus();
				return;
			}else if(idCheckResult != 1){
				alert('중복된 아이디인지 체크해 주세요.');
				return;
			}
			$('form').submit();
		});
	});
	</script>
	
		
		<h2>기본 정보 입력</h2>
		<div class="container-fluid">
			<form class="form-horizontal" style="margin: 10px;" action="/addWIOMember" method="post">
				<table border="1" class="table table-condensed table-bordered">
					
					<div class="form-group">
					
					<tr>
						<td>아이디</td>
						<td>
							<input type="text" name="mrId" class="form-control">
							<button type="button" id="idDuplCheck" class="btn btn-default btn-sm">
								중복 확인
							</button>
						</td>
					</tr>
					</div>
					
					<tr>
						<td>비밀번호</td>
						<td>
							<input type="password" name="mrPw" class="form-control">
						</td>
					</tr>
					
					<tr>
						<td>비밀번호 확인</td>
						<td>
							<input type="password" name="pwCheck" class="form-control pw">
							    <span id="alert-success" style="display: none; color:#40ff00;">비밀번호가 일치합니다.</span>
    							<span id="alert-danger" style="display: none; color: #d92742;">비밀번호가 일치하지 않습니다.</span>
						</td>
					</tr>
					
					<tr>
						<td>이름</td>
						<td>
							<input type="text" name="mrName" class="form-control">
						</td>
					</tr>
					
					<tr>
						<td>권한</td>
						<td>
							<select name="levelNum">
								<option selected="selected" disabled="disabled">::권한 선택::</option>
									<th:block th:each="n:${memberLevelName}">
										<option th:value="${n.levelNum}" th:text="${n.levelName}"></option>
									</th:block>
							</select>
						</td>
					</tr>
				
					<tr>
						<td>연락처</td>
						<td>
							<input type="text" name="mrPhone" class="form-control" placeholder="'-'까지 입력해 주세요">
						</td>
					</tr>
					
					<tr>
						<td>주소</td>
						<td>
							<input type="text" name="mrAddr" class="form-control">
						</td>
					</tr>
					
					<tr>
						<td>목표 점수</td>
						<td>
							<input type="text" name="mrTargetScore" class="form-control" value="0">
						</td>
					</tr>
					
					<tr>
						<td>결제 수단</td>
						<td>
							<select name="pmRCode">
								<option selected="selected" disabled="disabled">::결제 수단 선택::</option>
									<th:block th:each="l:${pmResourceList}">
										<option th:value="${l.pmResourceCode}" th:text="${l.pmResourceTitle}"></option>
									</th:block>
							</select>
						</td>
					</tr>
					
					<tr>
						<td>계좌 번호</td>
						<td>
							<input type="text" name="mrAccountNum" class="form-control" placeholder="'-'까지 입력해 주세요">
						</td>
					</tr>
					
					<tr>
						<td>셔틀버스 신청</td>
						<td>
							<select name="shuttleNum">
								<option selected="selected" disabled="disabled">::셔틀버스 신청::</option>
								<th:block th:each="s:${shuttleList}">
									<option th:value="${s.shuttleName}" th:text="${s.shuttleName}"></option>
								</th:block>
							</select>
						</td>
					</tr>
					
					<tr>
						<td>입사일</td>
						<td>
							<input type="date" name="mrJoinDate" class="form-control">
						</td>
					</tr>
					
				</table>
				<button type="button" id="submitBtn" class="btn btn-default">등록</button>	
			</form>
		</div>
	</th:block>
	
</html>