<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
	
		<title th:text="title"></title>
	
	</th:block>	  
	  
	<th:block layout:fragment="customContent">
	
	
		<h2>구성원 정보 보기</h2>
	
		<table class="table table-striped table-bordered" style="margin: 10px">	
			<tr>
				<td>아이디</td>
				<td th:text="${WIOMemberInfo.mrId}"></td>
			</tr>

			<tr>
				<td>이름</td>
				<td th:text="${WIOMemberInfo.mrName}"></td>
			</tr>
			
			<tr>
				<td>연락처</td>
				<td th:text="${WIOMemberInfo.mrPhone}"></td>
			</tr>
			
			<tr>
				<td>주소</td>
				<td th:text="${WIOMemberInfo.mrAddr}"></td>
			</tr>
			
			<tr>
				<td>목표 점수</td>
				<td th:text="${WIOMemberInfo.mrTargetScore}"></td>
			</tr>
			
			<tr>
				<td>결제 수단 또는 은행명</td>
				<td th:text="${WIOMemberInfo.pmRTitle}"></td>
			</tr>
			
			<tr>
				<td>계좌 번호</td>
				<td th:text="${WIOMemberInfo.mrAccountNum}"></td>
			</tr>
			
			<tr>
				<td>입사일</td>
				<td th:text="${WIOMemberInfo.mrJoinDate}"></td>
			</tr>
			
			<tr>
				<td>등록일</td>
				<td th:text="${WIOMemberInfo.mrRegDate}"></td>
			</tr>
		</table>	
		
		<!-- 회원 정보보기 후, 다시 리스트로 돌아가기. -->
		<a  href="/getWIOMemberList" class="btn btn-default" role="button">목록으로</a>
		
	</th:block> 
</html>