<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
  <th:block layout:fragment="customTitle">
  	<title th:text="${title}"></title> 
  	
  </th:block>
  
  <th:block layout:fragment="customContent">
  	
  	<script>
  	
  		$(function(){
	  		$('#svBtn').click(function(){
	  			
	  			var sv = $('input[name=sv]').val();
	  			var sk = $('select[name=sk]').val();
	  			
	  			if(sk == '' || sk == undefined){
	  				alert('검색 조건을 선택해 주세요');
	  				sk.focus();
	  				return false;
	  			}else if(sv == '' || sv == undefined){
	  				alert('검색할 내용을 입력해 주세요');
	  				sv.focus();
	  				return false;
	  			}else{
	  				$('form').submit();
	  			}
	  			
	  		});
  			
  		});
  	
  	</script>
  
  		<h2>구성원 목록</h2>
  		
  		<form action="/getWIOMemberList" method="POST">
  			<select name="sk">
  				<option selected="selected" disabled="disabled">::검색 조건::</option>
  				<option value="mr_id">아이디</option>
  				<option value="mr_name">이름</option>
  				<option value="level_name">권한</option>
  			</select>
  			<input type="text" name="sv">
  			<button type="button" id="svBtn">검색</button>
  		</form>
  		
	<div class="container-fluid">
	  	<table class="table table-bordered table-hover" style="margin: 10px">
	  		<thead>
	  			<tr>
	  				<th>아이디</th>
	  				<th>이름</th>
	  				<th>권한</th>
	  				<th th:if="${session.SLEVEL eq 1 || session.SLEVEL eq 2 || session.SLEVEL eq 3}">정보 보기</th>
	  				<th>정보 수정</th>
	  			</tr>
	  		</thead>
	  		
	  		<tbody>
	  			<tr th:each="m : ${WIOMemberList}">
	  				<td th:text="${m.mrId}"></td>
	  				<td th:text="${m.mrName}"></td>
	  				<td th:text="${m.levelName}"></td>
	  				<td th:if="${session.SLEVEL eq 1 || session.SLEVEL eq 2 || session.SLEVEL eq 3}">
	  					<a th:href="@{/getMemberInfo(mrId=${m.mrId},mrPw=${m.mrPw})}">
	  						정보 보기
	  					</a>
	  				</td>
	  				
	  				<td>
	  					<a th:href="@{/modifyWIOMember(mrId=${m.mrId},mrPw=${m.mrPw})}" th:if="${m.mrId eq session.SID || session.SLEVEL eq 1 || session.SLEVEL eq 3}"> 
	  						수정
	  					</a>
	  					<label th:unless="${m.mrId eq session.SID || session.SLEVEL eq 1 || session.SLEVEL eq 3}">수정</label>
	  				</td>
	  			</tr>
	  		</tbody>
	  	</table>
  	
  	  	<div class="custom-pagination" th:if="${currentPage ne null}">
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" th:href="@{/getWIOMemberList}">처음</a>
				</li>
				<li class="page-item">
					<span th:if="${currentPage > 1}">
						<a class="page-link" th:href="@{/getWIOMemberList(currentPage=(${currentPage}-1))}">이전</a>
					</span>
				</li>
			</ul>
			<ul class="pagination">
				<li class="page-item">
				<th:block th:each="num : ${#numbers.sequence(startPageNum,lastPageNum)}">
					<a class="page-link" th:unless="${currentPage eq num}" th:text="${num}" th:href="@{/getWIOMemberList(currentPage=${num})}"></a>
				</th:block>
				</li>
			</ul>
			<ul class="pagination">
				<li class="page-item">
					<span th:if="${currentPage ne lastPage}">
						<a th:href="@{/getWIOMemberList(currentPage=(${currentPage}+1))}">다음</a>
					</span>
				</li>
				<li class="page-item">
					<a th:href="@{/getWIOMemberList(currentPage=${lastPage})}" id="lastPageBtn" role="button">마지막</a>
				</li>
			</ul>
    	</div>
  	</div>
  	
	</th:block>
  
	<th:block layout:fragment="customJsScript">
			 
	</th:block>  
</html>