<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
  <th:block layout:fragment="customTitle">
  	<title th:text="title"></title>
  </th:block>
  
  <th:block layout:fragment="customContent">
  		<h2>구성원 목록</h2>
  	<table class="table table-striped table-bordered">
  		<thead>
  			<tr>
  				<th>아이디</th>
  				<th>이름</th>
  				<th>권한</th>
  				<th>정보 보기</th>
  				<th>정보 수정</th>
  				<th>삭제</th>
  			</tr>
  		</thead>
  		
  		<tbody>
  			<tr th:each="m : ${WIOMemberList}">
  				<td th:text="${m.mrId}"></td>
  				<td th:text="${m.mrName}"></td>
  				<td th:text="${m.levelName}"></td>
  				<td>
  					<a th:href="@{/getMemberInfo(mrId=${m.mrId},mrPw=${m.mrPw})}">
  						정보 보기
  					</a>
  				</td>
  				<td>수정</td>
  				<td>삭제</td>
  			</tr>
  		</tbody>
  	</table>
  
  </th:block>
  
	<th:block layout:fragment="customJsScript">
			 
	</th:block>  
</html>